body {
	margin-top: 50px;
	font-family: Arial;
}
h2 { font-size: 20px; color: #999; padding: .5em 0;}
h3 { font-size: 14px; }

/* Structure
------------------------------------------*/
#coolMenu,
#coolMenu ul {
	list-style: none;
}
#coolMenu {
	float: left;
}
#coolMenu > li {
	float: left;
}
#coolMenu li a {
	display: block;
	height: 2em;
	line-height: 2em;
	padding: 0 1.5em;
	text-decoration: none;
       
}
#coolMenu ul {
	position: absolute;
	display: none;
	z-index: 999;
}
#coolMenu ul li a {
	width: 120px;       
        
        box-shadow:0 0 0 1px #2F2F2F;
}
#coolMenu li:hover ul.noJS {
	display: block; 
}


/* Main menu
------------------------------------------*/
#coolMenu {
	font-family: Arial;
	font-size: 12px;	
}
#coolMenu > li > a {
	color: #fff;
	font-weight: bold;
}
#coolMenu > li:hover > a {
	background-color: #EFF4FA;
    color: #6399CD;
    text-decoration: none;
}


/* Submenu
------------------------------------------*/
#coolMenu ul {
	background: #d0dfe2;
        margin-left: -7px;
}
#coolMenu ul li a {
	color: #2F2F2F;
}
#coolMenu ul li:hover a {
	 background:  url("nav2_link_bg.gif") repeat-x scroll 0 100% transparent;         
}
#coolMenu ul li a:hover
{
    background-color: #e3ecee;
}