/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, images, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption {margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; font-size: 100%;}
ol, ul {list-style: none;}
article,aside,figcaption,figure,footer,header,hgroup,nav,section,time{display: block;}
/********************/


/*fancybox style*/
.fancybox-wrap { position: absolute; top: 0; left: 0; z-index: 8020; }
.fancybox-skin { position: relative; background: #fff; padding: 0!important; border-radius: 4px; overflow: hidden;}
.fancybox-opened { z-index: 8030; }
	.fancybox-opened .fancybox-skin { -webkit-box-shadow: 0 0px 0px 10px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0px 0px 10px rgba(0, 0, 0, 0.3); box-shadow: 0 0px 0px 10px rgba(0, 0, 0, 0.3); }
.fancybox-outer, .fancybox-inner { position: relative; }
.fancybox-inner { overflow: hidden; }
.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling: touch; }
.fancybox-close { position: absolute; top: 12px; right: 12px; width: 8px; height: 8px; cursor: pointer; z-index: 8040; background: url(../images/closeBt.png) no-repeat}
.fancybox-tmp { position: absolute; top: -99999px; left: -99999px; visibility: hidden; max-width: 99999px; max-height: 99999px; overflow: visible !important; }
.fancybox-lock { overflow: hidden !important; width: auto; }
	.fancybox-lock body { overflow: hidden !important; }
.fancybox-lock-test { overflow-y: hidden !important; }
.fancybox-overlay { position: absolute; top: 0; left: 0; overflow: hidden; display: none; z-index: 8010; background: url(../images/fancybox_overlay.png); }
.fancybox-overlay-fixed { position: fixed; bottom: 0; right: 0; }
.fancybox-lock .fancybox-overlay { overflow: auto; overflow-y: scroll;}
/********************/

/**************** scrollbar styling ***************/
.mCSB_container { width: auto; margin-right: 25px; overflow: hidden; }
.mCustomScrollBox>.mCSB_scrollTools { width: 17px; height: 100%; top: 0; right: 0; }
.mCSB_scrollTools .mCSB_draggerContainer { position: absolute; top: 0; left: 0; bottom: 0; right: 0; height: auto; }
.mCSB_scrollTools .mCSB_draggerRail {width: 7px; height: 100%; margin: 0 auto;border-radius: 3px;}
.mCSB_scrollTools .mCSB_dragger { cursor: pointer; width: 100%; height: 30px; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 7px; height: 100%; margin: 0 auto; text-align: center; border-radius: 3px;}
.mCustomScrollBox { -ms-touch-action: none; /*MSPointer events - direct all pointer events to js*/ }
.mCustomScrollBox>.mCSB_scrollTools { opacity: 0.75; filter: "alpha(opacity=75)"; -ms-filter: "alpha(opacity=75)"; }
.mCustomScrollBox:hover>.mCSB_scrollTools { opacity: 1; filter: "alpha(opacity=100)"; -ms-filter: "alpha(opacity=100)"; }
.mCSB_scrollTools .mCSB_draggerRail { background: #e1e0cb; }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background: #acab9a; }
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{width: 7px; height: 100%; margin: 0 auto; text-align: center; border-radius: 3px;background: #acab9a; }
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    width: 7px; height: 100%; margin: 0 auto; text-align: center; border-radius: 3px;background: #acab9a; }
    
/***************************************************************/

.customModal{width: 570px;padding: 10px 20px 20px;background-color: #f9f8e9;font-family: 'Archivo Narrow', sans-serif;}
.galleryContainer h3{font-size: 30px;font-weight: bold;color: #02183c;padding-bottom: 5px;border-bottom: 1px solid #eae7c7;margin-bottom: 10px; text-transform: capitalize;}

div.content { position: relative; float: none;
    position: relative;
    width: auto;
 }
	div.content a, div.navigation a { text-decoration: none; color: #777; }
	div.content a:focus, div.content a:hover, div.content a:active { text-decoration: underline; }
div.controls { margin-top: 5px; height: 23px; }
	div.controls a { padding: 5px; }
div.ss-controls { float: left; }
div.nav-controls { float: right; }
div.slideshow-container { position: relative; clear: both; height: 340px; border: 1px solid #ced2d8; border-radius: 10px; overflow: hidden; margin-bottom: 10px; }
	div.slideshow-container images { width: 100%; height: 100%; vertical-align: top; }
div.loader { position: absolute; top: 0; left: 0; background-image: url(../images/loader.gif); background-repeat: no-repeat; background-position: center; width: 100%; height: 100%; /* This should be set to be at least the height of the largest image in the slideshow */ }
div.slideshow { position: relative; }
	div.slideshow span.image-wrapper { display: block; position: absolute; top: 0; left: 0; width: 100%;height: 100% }
	div.slideshow a.advance-link { position: relative; height: 340px; display: block; }
		div.slideshow a.advance-link images { position: absolute; top: 0; left: 0; }
		div.slideshow a.advance-link:hover, div.slideshow a.advance-link:active, div.slideshow a.advance-link:visited { text-decoration: none; }
div.caption-container { position: absolute; bottom: 0; width: 100%;}
span.image-caption { display: block; position: absolute; width: 100%; bottom: 0; left: 0; }
div.caption { padding: 10px; background: rgba(255,255,255, 0.5);}
div.image-title { font-weight: bold; font-size: 1.4em; }
div.navigation { height: 225px; overflow: hidden; }
ul.thumbs { clear: both; margin: 0; padding: 0; margin-left: -13px; }
	ul.thumbs li { float: left; padding: 0; margin: 4px 0px 4px 13px; list-style: none; width: 30.8%; }
.navigation .group { color: #000; margin: 5px 0; clear: both;color: #021A40;font-size: 21px;border: 1px solid #ccc;padding: 7px 7px 7px 8px; font-weight: bold; text-transform: capitalize;}
.navigation .group span{width: 37px;height: 37px;border-radius: 50%; background: url(../images/ellipse-dashed.png);font-size: 26px;color: #797977;text-align: center; display: inline-block;line-height: 36px;vertical-align: -1px; text-transform: capitalize;}
.imagesDesc { position: absolute; bottom: 20%; left: 4px; width: 95.5%; background: rgba(255,255,255, 0.4); padding: 5px 7px; color: #000; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.image-desc .date { float: right; }
.image-desc span { color: #555; }
	.image-desc span strong { color: #353535; }
ul.thumbs li images { width: 100%; }
a.thumb { padding: 4px; display: block; overflow: hidden; vertical-align: top; border-radius: 4px; border: 1px solid transparent; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
	a.thumb images { vertical-align: top; }
ul.thumbs li.selected a.thumb { background: #fff; padding: 4px; border: 1px solid #ced2d8; ; }
ul.thumbs li.selected images { border: none; }
a.thumb:focus { outline: none; }
div.pagination { clear: both; }
div.navigation div.bottom { margin-top: 12px; }
div.pagination a, div.pagination span.current, div.pagination span.ellipsis { display: block; float: left; margin-right: 2px; padding: 4px 7px 2px 7px; border: 1px solid #ccc; }
div.pagination a:hover { background-color: #eee; text-decoration: none; }
div.pagination span.current { font-weight: bold; background-color: #000; border-color: #000; color: #fff; }
div.pagination span.ellipsis { border: none; padding: 5px 0 3px 2px; }
.customModal img {
    height: auto;
    width: 100%;}
.advance-link img{position: absolute; top: 0;left: 0;height: 100%;}
.author strong{cursor: pointer}

.removeGalleryImg {
    position:absolute;
    right:5px;
    top:5px;
}

.removeGalleryImg img{
    width:25px;
    height:25px;
    cursor:pointer;
}

/*.thumb img{
    height: 84px !important;
}*/

.help p{
    text-align: center;
    padding-bottom: 10px;
}
.help{
    padding-top: 20px;
}