/* Demo CSS - You do not need this css in your own slider */

body{
	font-family: "Open Sans", helvetica, arial;
}

pre{
	font-family: "Source Code Pro", monospace;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: whiteSmoke;
	border: 1px solid #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
        
}

h2{
	font-size: 48px;
}

pre + h2{
	margin-top: 80px;
}

#container{
	max-width:620px;
	margin:0 auto;
	padding-bottom:80px;
}

#banner-fade,
#banner-slide{
	margin-bottom: 60px;
}

/*ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	/*background:#fff;*/
        /*background:url("../images/freeworld/slider_right.png") no-repeat ;
	color:#000;
        height: 63px;
	text-decoration: none;
}*/

ul.bjqs-controls.v-centered .bjqs-next a
{
    display:block;	
	/*background:#fff;*/
        background:url("../newimages/next1.png") no-repeat ;
	color:#000;
        height: 38px;
	text-decoration: none;
        width: 22px;
        font-size: 0;
        
        padding-right: 6px;
}

ul.bjqs-controls.v-centered .bjqs-prev a
{
    display:block;
	
        background:url("../newimages/back.png") no-repeat ;
	color:#000;
        height: 38px;
	text-decoration: none;
        width: 30px;
        font-size: 0;        
}


ul.bjqs-controls.v-centered li a:hover{
	/*background:#000;
	color:#fff;*/
}

ol.bjqs-markers li a{
	padding:5px 6px;
	/*background:#000;*/
       /* background:url("../images/freeworld/slider-1.png") no-repeat ;*/
	color:#fff;
	margin:5px;
	text-decoration: none;
        height: 4px;
        font-size: 0;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	/*background: #999;*/
        /*background:url("../images/freeworld/slider-2.png") no-repeat ;*/
}

p.bjqs-caption{
	background:url("../newimages/rectangle.png") no-repeat ;
}

.caption9 {
    width: 160px;
    height: 15px;
    position: absolute;
    bottom: 15px;
    left: 340px;
    z-index: 10;
    /*border: 1px red solid;*/
}

.captionInner9 {
    text-align:right;
    white-space: nowrap;
}

.captionInner9 a {
    color: #353535;
    font: 14px/15px ArchivoNarrow-Regular !important;
}