.ajax-loading {
	display: none;
	position: relative;
	width: 100%;
	height: 64px;
	background: transparent url("../images/loading.gif") no-repeat center bottom;
	overflow: hidden;
}
.bodycomment .ajax-loading {
	height: 44px;
}
.bodycomment .link.hidden-comments-link {
    color: #797979;
}
.ui-tooltip {
    box-shadow: 0 0 5px #AAAAAA;
    max-width: 300px;
    padding: 8px;
    position: absolute;
    z-index: 9999;
}

.ui-corner-all {
    border-radius: 3px;
}

input.input-css {
    position1: relative;
    height: 34px;
    padding: 0 12px;    
    border: 1px solid #ced2d8 !important;
    border-radius: 3px;
    color: #555;
    font-size: 16px;
}

.no-found {
	display: none;
	float: left;
	font-size: 18px;
	height: 500px;
	padding-top: 100px;
	text-align: center;
	width: 100%;
}

.container-empty .no-found {
	display: block;
}

.link {
	color: #1283ad;
	cursor: pointer;
	font-size: 15px;
	text-decoration: underline;
}
.link-base {
	color: #256C89;
	cursor: pointer;
	text-decoration: underline;
}
.link-base:hover {
	text-decoration: none;
}
.bold {
	font-weight: bold;
}

.box-white {
	display: relative;
	margin-bottom: 12px;
	padding: 12px;
	background-color: #ffffff;
	border: 1px solid #e6e7e9;
	border-radius: 4px;
	overflow: hidden;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(223, 228, 233, 0.65);
	-moz-box-shadow:    0px 4px 5px 0px rgba(223, 228, 233, 0.65);
	box-shadow:         0px 4px 5px 0px rgba(223, 228, 233, 0.65);
}
/* .box-shadow ************************************************************************************/
.box-shadow-top,
.box-shadow-bottom {
	position: relative;
	margin: 0 auto;
}

.box-shadow-bottom:before,
.box-shadow-bottom:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 18px;
	left: 3px;
	width: 300px;
	top: 80%;
	max-width: 300px;
	background: rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 18px 3px rgba(100, 100, 100, 0.25);
	-moz-box-shadow: 0  18px 3px rgba(100, 100, 100, 0.25);
	box-shadow: 0 18px 3px rgba(100, 100, 100, 0.25);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}
 
.box-shadow-bottom:after {
	right: 2px;
	left: auto;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
}

.box-shadow-top:before,
.box-shadow-top:after {
	z-index: -1;
	position: absolute;
	content: "";
	top: 20px;
	left: 3px;
	width: 300px;
	bottom: 80%;
	max-width: 300px;
	background: rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 -18px 3px rgba(100, 100, 100, 0.25);
	-moz-box-shadow: 0 -18px 3px rgba(100, 100, 100, 0.25);
	box-shadow: 0 -18px 3px rgba(100, 100, 100, 0.25);
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	
}
 
.box-shadow-top:after {
	right: 2px;
	left: auto;
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
	height:20px;
}
.box-shadow-top:before{
height:20px;
}

/* END:: .box-shadow ******************************************************************************/

.section-title {
	float: left;
	position: relative;
	width: 100%;
	height: 46px;
	color: #525252;
	font-size: 25px;
	text-align: center;
	overflow: hidden;
	background: url('../img/section-title-bg.png') no-repeat 0 bottom;
}

.tooltip-pointer-simple:before {
	z-index: 20;
	content: "";
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	width: 17px;
	height: 17px;
	margin: 8px 0 0 -8px;
	background-color: #f0f5fb;
	box-shadow: -2px -2px 7px -2px rgba(0, 0, 0, 0.25);
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
}
.tooltip-pointer-simple:after {
	z-index: 10;
	content: "";
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-top: 17px;
	padding: 6px 8px;
	background-color: #f0f5fb;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
	color: #666;
	font-family: FjallaOne-Regular;
	font-size: 13px;
	line-height: 160%;
	overflow: hidden;
	vertical-align: baseline;
	white-space: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tooltip-pointer-simple:hover:before,
.tooltip-pointer-simple:hover:after {
	display: block;
}

.tooltip-pointer-list:before {
	z-index: 20;
	content: "";
	display: none;
	position: absolute;
	/*top: 100%;
	left: 50%;*/
    bottom:10px;
    right:44px;
	width: 17px;
	height: 17px;
	margin: 8px 0 0 -8px;
	background-color: #f0f5fb;
	box-shadow: -2px -2px 7px -2px rgba(0, 0, 0, 0.25);
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
}
.tooltip-pointer-list:after {
	z-index: 10;
	content: "";
	display: none;
	position: absolute;
	/*top: 100%;
	left: 50%;*/
    bottom:-15px;
    right:0px;
	margin-top: 17px;
	padding: 6px 8px;
	background-color: #f0f5fb;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
	color: #666;
	font-family: FjallaOne-Regular;
	font-size: 13px;
	line-height: 160%;
	overflow: hidden;
	vertical-align: baseline;
	white-space: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tooltip-pointer-list:hover:before,
.tooltip-pointer-list:hover:after {
	display: block;
}

.tooltip-pointer-in:before {
	z-index: 20;
	content: "";
	display: none;
	position: absolute;
	/*top: 100%;
	left: 50%;*/
    bottom:10px;
    right:95px;
	width: 17px;
	height: 17px;
	margin: 8px 0 0 -8px;
	background-color: #f0f5fb;
	box-shadow: -2px -2px 7px -2px rgba(0, 0, 0, 0.25);
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
}
.tooltip-pointer-in:after {
	z-index: 10;
	content: "";
	display: none;
	position: absolute;
	/*top: 100%;
	left: 50%;*/
    bottom:-15px;
    right:0px;
	margin-top: 17px;
	padding: 6px 8px;
	background-color: #f0f5fb;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
	color: #666;
	font-family: FjallaOne-Regular;
	font-size: 13px;
	line-height: 160%;
	overflow: hidden;
	vertical-align: baseline;
	white-space: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tooltip-pointer-in:hover:before,
.tooltip-pointer-in:hover:after {
	display: block;
}

.tooltip-pointer-friends:before {
	z-index: 20;
	content: "";
	display: none;
	position: absolute;
	/*top: 100%;
	left: 50%;*/
    bottom:10px;
    right:55px;
	width: 17px;
	height: 17px;
	margin: 8px 0 0 -8px;
	background-color: #f0f5fb;
	box-shadow: -2px -2px 7px -2px rgba(0, 0, 0, 0.25);
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
}
.tooltip-pointer-friends:after {
	z-index: 10;
	content: "";
	display: none;
	position: absolute;
	/*top: 100%;
	left: 50%;*/
    bottom:-15px;
    right:0px;
	margin-top: 17px;
	padding: 6px 8px;
	background-color: #f0f5fb;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
	color: #666;
	font-family: FjallaOne-Regular;
	font-size: 13px;
	line-height: 160%;
	overflow: hidden;
	vertical-align: baseline;
	white-space: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tooltip-pointer-friends:hover:before,
.tooltip-pointer-friends:hover:after {
	display: block;
}

/*Takens*/
.tooltip-pointer-in-t:before {
	z-index: 20;
	content: "";
	display: none;
	position: absolute;
	/*top: 100%;
	left: 50%;*/
    bottom:10px;
    right:125px;
	width: 17px;
	height: 17px;
	margin: 8px 0 0 -8px;
	background-color: #f0f5fb;
	box-shadow: -2px -2px 7px -2px rgba(0, 0, 0, 0.25);
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
}
.tooltip-pointer-in-t:after {
	z-index: 10;
	content: "";
	display: none;
	position: absolute;
	/*top: 100%;
	left: 50%;*/
    bottom:-15px;
    right:0px;
	margin-top: 17px;
	padding: 6px 8px;
	background-color: #f0f5fb;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
	color: #666;
	font-family: FjallaOne-Regular;
	font-size: 13px;
	line-height: 160%;
	overflow: hidden;
	vertical-align: baseline;
	white-space: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tooltip-pointer-in-t:hover:before,
.tooltip-pointer-in-t:hover:after {
	display: block;
}

.tooltip-pointer-friends-t:before {
	z-index: 20;
	content: "";
	display: none;
	position: absolute;
	/*top: 100%;
	left: 50%;*/
    bottom:10px;
    right:85px;
	width: 17px;
	height: 17px;
	margin: 8px 0 0 -8px;
	background-color: #f0f5fb;
	box-shadow: -2px -2px 7px -2px rgba(0, 0, 0, 0.25);
	border-top: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Safari and Chrome */
}
.tooltip-pointer-friends-t:after {
	z-index: 10;
	content: "";
	display: none;
	position: absolute;
	/*top: 100%;
	left: 50%;*/
    bottom:-15px;
    right:0px;
	margin-top: 17px;
	padding: 6px 8px;
	background-color: #f0f5fb;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
	color: #666;
	font-family: FjallaOne-Regular;
	font-size: 13px;
	line-height: 160%;
	overflow: hidden;
	vertical-align: baseline;
	white-space: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tooltip-pointer-friends-t:hover:before,
.tooltip-pointer-friends-t:hover:after {
	display: block;
}

.blue-btn {
    background-image: -webkit-linear-gradient(top, #042761 0%, #02193d 100%); /* для Chrome и Safari */
    background-image: -moz-linear-gradient(top, #042761 0%, #02193d 100%); /* для Firefox */
    background-image: -ms-linear-gradient(top, #042761 0%, #02193d 100%); /* для IE 10+ */
    background-image: -o-linear-gradient(top, #042761 0%, #02193d 100%); /* для Opera */
    background-image: linear-gradient(top, #042761 0%, #02193d 100%); /* стандартный синтаксис */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33042761, endColorstr=#3302193d);   
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font: normal 16px/20px FjallaOne-Regular;    
    text-transform: uppercase;
    padding: 10px 18px 10px 18px !important;
    outline: none;
    text-decoration: none !important;  
    width: auto;
    display: block;
}

.blue-btn:hover {
    background-image: -webkit-linear-gradient(top, #02193d 0%, #042761 100%); /* для Chrome и Safari */
    background-image: -moz-linear-gradient(top, #02193d 0%, #042761 100%); /* для Firefox */
    background-image: -ms-linear-gradient(top, #02193d 0%, #042761 100%); /* для IE 10+ */
    background-image: -o-linear-gradient(top, #02193d 0%, #042761 100%); /* для Opera */
    background-image: linear-gradient(top, #02193d 0%, #042761 100%); /* стандартный синтаксис */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3302193d, endColorstr=#33042761);
}

.sendInvite{
    float:right; 
    margin-top:5px;
}

#sendInviteDiv{
    float: right; 
    width: 300px; 
    height: auto;
}

.gray-btn {
	text-decoration: none !important;
    color: #6d6d6b;
    background: -webkit-linear-gradient(top, #fefefe 0%, #c7c7c7 100%); /* Chrome & Safari */
    background: -moz-linear-gradient(top, #fefefe 0%, #c7c7c7 100%); /* Firefox */
    background: -ms-linear-gradient(top, #fefefe 0%, #c7c7c7 100%); /* IE 10+ */
    background: -o-linear-gradient(top, #fefefe 0%, #c7c7c7 100%); /* Opera */
    background: linear-gradient(top, #fefefe 0%, #c7c7c7 100%); /* default */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33fefefe, endColorstr=#33c7c7c7);   
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    font: normal 16px/20px FjallaOne-Regular;    
    text-transform: uppercase;
    padding: 10px 18px 10px 18px !important;
    outline: none;
    border: 1px solid #c7c7c7;
    width: auto;
}

.gray-btn:hover {
    background: -webkit-linear-gradient(top, #c7c7c7 0%, #fefefe 100%); /* Chrome & Safari */
    background: -moz-linear-gradient(top, #c7c7c7 0%, #fefefe 100%); /* Firefox */
    background: -ms-linear-gradient(top, #c7c7c7 0%, #fefefe 100%); /* IE 10+ */
    background: -o-linear-gradient(top, #c7c7c7 0%, #fefefe 100%); /* Opera */
    background: linear-gradient(top, #c7c7c7 0%, #fefefe 100%); /* default */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33c7c7c7, endColorstr=#3fefefe);
}

.ctrl-button {   
    font: normal 19px/20px FjallaOne-Regular !important;
    height: auto !important;
    float: right;
    margin-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}

input.ctrl-button {
    padding-top: 13px;
    padding-bottom: 13px;
}
@-moz-document url-prefix() {
input.ctrl-button {
    padding-top: 9px;
    padding-bottom: 9px;
}}

.ctrl-button-disable,
.ctrl-button-disable:hover {
    background: #424242 !important;
    color: #82827f !important;
    cursor: default !important;
}

.btn-run
{
    xbackground: url("../img/btn-run.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 35px;
    margin-left: 45px;    
    line-height: 24px;
}

.btn-run.disabled
{
	opacity: .5;
	cursor: default;
}

.btn-nearby {
    xbackground: url('../img/btn-nearby.png') no-repeat 0 0;
    position: relative;
    width: 107px;
    height: 34px;
    cursor: pointer;    
}

.btn-close-popup {
	position: absolute;
	width: 7px;
	height: 7px;
	cursor: pointer;
	background: url('../img/btn-close-popup.png') no-repeat 0 0;
}

.btn-close-red {
	position: relative;
	width: 12px;
	height: 14px;
	cursor: pointer;
	overflow: hidden;
	background: url('../img/btn-close-red.png') no-repeat 0 0;
}

.btn-gray-small {
	position: relative;
	width: 35px;
	height: 22px;
	color: #454545;
	cursor: pointer;
	line-height: 23px;
	font-size: 14px;
	overflow: hidden;
	text-align: center;
	background: url('../img/btn-gray-small.png') no-repeat 0 0;
}

.btn-upload {
	display: block;
	position: relative;
	margin-left: 5px;
    padding: 5px 18px 5px 18px !important;
}

.btn-upload input {
	position: absolute;
	top: -100px;
	left: -100px;
	width: 1px;
	height: 1px;
}

.btn_up{
    z-index: 100 !important;
}

.profile-box-content input[type="file"]{
    z-index: 100 !important;
}

.btn-crop {
	display: block;
	position: absolute;
	margin-left: 58px;
    width: 65px;
    margin-top:140px;
    z-index:99;
    padding: 5px 18px 5px 18px !important;
}

.crop-btn-inner{
	display: block;
    width: 65px;
    float:right;
    margin-right:10px;
    margin-top:20px;
    margin-bottom:20px;
}
/*fancybox style*/
.fancybox-wrap { position: absolute; top: 0; left: 0; z-index: 7020; }
.fancybox-skin { position: relative; background: #fff; padding: 0!important; border-radius: 4px; overflow: hidden;}
.fancybox-opened { z-index: 7030; }
	.fancybox-opened .fancybox-skin { -webkit-box-shadow: 0 0px 0px 10px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0px 0px 10px rgba(0, 0, 0, 0.3); box-shadow: 0 0px 0px 10px rgba(0, 0, 0, 0.3); }
.fancybox-outer, .fancybox-inner { position: relative; }
.fancybox-inner { overflow: hidden; }
.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling: touch; }
.fancybox-close { position: absolute; top: 12px; right: 12px; width: 8px; height: 8px; cursor: pointer; z-index: 7040; background: url(../images/closeBt.png) no-repeat}
.fancybox-tmp { position: absolute; top: -99999px; left: -99999px; visibility: hidden; max-width: 99999px; max-height: 99999px; overflow: visible !important; }
.fancybox-lock { overflow: hidden !important; width: auto; }
	.fancybox-lock body { overflow: hidden !important; }
.fancybox-lock-test { overflow-y: hidden !important; }
.fancybox-overlay { position: absolute; top: 0; left: 0; overflow: hidden; display: none; z-index: 7010; background: url(../images/fancybox_overlay.png); }
.fancybox-overlay-fixed { position: fixed; bottom: 0; right: 0; }
.fancybox-lock .fancybox-overlay { overflow: auto; overflow-y: scroll;}
/********************/
.cropModal{max-width: 750px;padding: 10px 20px 20px;background-color: #f9f8e9;font-family: 'Archivo Narrow', sans-serif;}
.cropContainer h3{font-size: 30px;font-weight: bold;color: #02183c;padding-bottom: 5px;border-bottom: 1px solid #eae7c7;margin-bottom: 10px; text-transform: capitalize;}
div.content { position: relative; float: none;
    position: relative;
    width: auto;
}
.cropModal img {
    height: auto;
    width: 100%;}
/*
 * imgAreaSelect animated border style
 */

.imgareaselect-border1 {
	background: url(../images/border-anim-v.gif) repeat-y left top;
}

.imgareaselect-border2 {
    background: url(../images/border-anim-h.gif) repeat-x left top;
}

.imgareaselect-border3 {
    background: url(../images/border-anim-v.gif) repeat-y right top;
}

.imgareaselect-border4 {
    background: url(../images/border-anim-h.gif) repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
	border: solid 1px #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-outer {
	background-color: #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-selection {
}

#uploadedImage {
    z-index: 9030;
}





.advanced-search {
	width: 100%;
}

.advanced-search td {
	margin: 0;
	padding: 0 4px;
	font-size: 18px;
	vertical-align: middle;
}

.advanced-search td input {
	position: relative;
	height: 34px;
	padding: 0 12px;
	width: 250px;
	border: 1px solid #ced2d8 !important;
	border-radius: 3px;
	color: #555;
	font-size: 16px;
}

.advanced-search .btn-run {
	float: right;
}



.list-boxes-loading {
	display: none;
	float: left;
	height: 255px;
	margin-left: 440px;
	margin-top: 200px;
	width: 300px;
}

.list-boxes {
	position: relative !important;
	width: 976px !important;
	height: auto !important;
	margin-right: -16px !important;
}

.list-box {
	float: left;
	position: relative;
	margin: 25px 16px 8px 0;
	font-family: 'FjallaOne-Regular';
}
.list-box:hover {
	z-index: 1000;
}
.list-box.place-holder {
	background: none;
}
.list-box.place-holder .list-box-container {
	background-color: black;
	border: dashed 1px #eee;
	opacity: .05;
}

.list-box.list-box-dragging * {
	cursor: move !important;
}
/* .list-box-alert-panel **************************************************************************/
.list-box-alert-panel {
	display: none;
	position: absolute;
	width: 100%;
	height: 30px;
	padding-left: 12px;
	color: #525252;
	font-family: FjallaOne-Regular;
	font-size: 15px;
	line-height: 35px;
	overflow: hidden;
	z-index: 100;
	background-color: #f4d3d3;
}
.list-box-alert-panel .btn-gray-small {
	float: right;
	margin: 4px 2px;
}

.list-box-alert-panel .btn-close-red {
	float: right;
	margin: 9px 12px;
}
.part_left .list-box-alert-panel {
	left: 0;
	right: 4px;
	width: auto;
}
/* END:: .list-box-alert-panel ********************************************************************/

.list-box .list-box-container {
	position: relative;
	width: 472px;
	height: 271px;
	border: 1px solid #ebebeb;
	cursor: auto;
	overflow1: hidden;
	background-color: #fff;
}
.list-box .list-box-container * {
	cursor1: inherit !important;
}

.list-box .list-box-main {
	float: left;
	position: relative;
	width: 50%;
	height: 100%;
	border: 6px solid transparent;
	overflow1: hidden;
}

.list-box .list-box-title {
	display: block;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	background-color: #f0f3f3;
}
.user-title-eagle{display: block;overflow: hidden;position: relative;}
.user-title-eagle .list-box-badge-eagle{position: absolute;right: 2px;top: 2px;}
.user-title-eagle .list-box-private-check{position: absolute;right: 2px;top: 2px;}
.user-title-eagle .titleWithBadge{padding-right: 40px!important;}
.list-box .list-box-title .user-title-eagle span:first-child {
    max-width: 100%;
	display: block;
	position: relative;
	padding: 0 8px;
	color: #021a40;
	cursor: pointer;
	font-size: 18px;
    text-transform: capitalize;
	line-height: 38px;
	overflow: hidden;
	white-space: nowrap;
}

.list-box .list-box-title img {
	display: block;
	position: relative;
	width: 100%;
	height: 188px;
	cursor: pointer;
}

.list-box .list-box-details {
	position: relative;
	height: 31px;
	width: 223px;
	padding-left: 12px;
	line-height: 31px;
	background-color: #f0f3f3;
}
.list-box .list-box-details .list-box-author {
	float: left;
	position: relative;
	color: #666;
	cursor1: pointer !important;
	cursor: pointer;
	font-size: 15px;
	text-decoration: none;
}
.list-box .list-box-details .list-box-info {
	float: right;
	position1: relative;
	position: absolute;
	right: 0;
	xpadding-right: 14px;
	color: #666;
	font-size: 13px;
	text-decoration: none;
	white-space: nowrap;
}

/* .list-box-star *********************************************************************************/
.list-box-info .list-box-star {
	float: right;
	position: relative;
	width: 14px;
	height: 14px;
	margin: 6px 9px 0 6px;
	cursor: pointer !important;
	background: url('../img/stars.png') no-repeat 0 0;
}
.alice_right .list-box-star,.alice_right2 .list-box-star{
	float: right;
	position: relative;
	width: 14px;
	height: 14px;
	margin: 2px 9px 0 6px;
	cursor: pointer !important;
	background: url('../img/stars.png') no-repeat 0 0;
}
.list-box-star {
	float: right;
	position: relative;
	width: 14px;
	height: 14px;
	margin: 6px 9px 0 6px;
	cursor: pointer !important;
	background: url('../img/stars.png') no-repeat 0 0;
}
[data-is-favorite="true"] .list-box-star {
	background-position: 0 -14px;
}
.list-box-star.tooltip-pointer-simple:after {
	left: -121px;
	width: 242px;
}
.tooltip-pointer-list:after {
	width: 140px;
}
.tooltip-pointer-in:after, .tooltip-pointer-in-t:after {
	width: 240px;
}
.tooltip-pointer-friends:after, .tooltip-pointer-friends-t:after {
	width: 240px;
}
[data-is-favorite="false"] .list-box-star.tooltip-pointer-simple:after {
	content: "Click to add this list to your favorites. It will show up in your Dashboard.";
}
[data-is-favorite="true"] .list-box-star.tooltip-pointer-simple:after {
	content: "Click to remove this list from your favorites. It will disappear from your Dashboard.";
}
.tooltip-pointer-list:after{
    content: "You have taken this list.";
}
.tooltip-pointer-in:after, .tooltip-pointer-in-t:after{
    content: "Number of users who have taken this list.";
}
.tooltip-pointer-friends:after, .tooltip-pointer-friends-t:after{
    content: "Number of friends who have taken this list.";
}

/* END:: .list-box-star ***************************************************************************/

/* .list-box-badge *********************************************************************************/
.list-box-badge {
	float: right;
	position: relative;
	width: 16px;
	height: 18px;
	margin: 1px 0px 0px 6px;
	background: url('../img/badge.png') no-repeat 0 0;
}

.list-box-badge-l {
	float: right;
	position: relative;
	width: 16px;
	height: 18px;
	margin: 6px 5px 0px 6px;
	background: url('../img/badge.png') no-repeat 0 0;
}

.list-box-badge-d{
	position: absolute;
	width: 16px;
	height: 18px;
	top:-20px;
    right:7px;
    background: url('../img/badge.png') no-repeat 0 0;
}

.badge-block{
    width:100px; 
}

.badge-block input{
    float:right;
    margin-top:4px;
}

/* END:: .list-box-badge ***************************************************************************/

.list-box .icon-list {
	float: right;
	display: none;
	position: relative;
	width: 19px;
	height: 15px;
	margin: 6px 0 0 6px;
	border: none;
	background: url('../img/list_check.png') no-repeat center center;
}

.list-box[data-is-taken="true"] .icon-list {
	display: block;
}
/**************************************************************************************************/
.outerdiv .box-white {
	overflow:visible !important;
}
.list-box .list-box-details .list-box-info span {
	position: relative;
	color: #021a40;
}

.list-box .list-box-rows {
	position: relative;
	width:49%;
	height: 100%;
	padding: 0 6px;
	list-style: decimal inside;
	overflow: hidden;
	text-transform: capitalize;
}
.list-box .list-box-rows li {
	position: relative;
	max-height: 116px;
	border-top: 1px solid #bbb;
	color: #021a40;
	font-size: 13px;
	line-height: 29px;
	overflow: hidden;
}
.list-box .list-box-rows li > div {
	display: inline;
	position: relative;
	padding: 0;
	margin: 0;
}
.list-box .list-box-rows li:first-child {
	border-top: none;
}

.list-box .list-box-rows-scroll {
	position: relative;
	height: 100%;
	padding: 0 6px;
	list-style: decimal inside;
	overflow: auto;
	width:215px;
}
.list-box .list-box-rows-scroll li {
	position: relative;
	border-top: 1px dashed #bbb;
	color: #bbb;
	font-size: 13px;
	line-height: 29px;
}
.list-box .list-box-rows-scroll li:first-child {
	border-top: none;
}
.list-box .list-box-grab-and-drag {
	display: none;
	position: absolute;
	bottom: 6px;
	right: 6px;
	width: 201px;
	height: 32px;
	padding: 0 20px;
	color: #031b44;
	font-size: 16px;
	line-height: 32px;
	overflow: hidden;
	background: #edf0b7 url('../img/grab-and-drag-bg.png') no-repeat 176px center;
}
.list-boxes-dragable .list-box:hover .list-box-container {
	background-color: #e9f3f8;
}
.list-boxes-dragable .list-box:hover .list-box-grab-and-drag {
	display: block;
}

.list-box .list-box-friends, .titleblock .list-box-friends {
	display: inline-block;
	position: relative;
	cursor: pointer !important;
}
.list-box .list-box-friends:hover .list-box-friends-drop-down,
.titleblock .list-box-friends:hover .list-box-friends-drop-down {
	display: block;
}
.list-box .list-box-friends-drop-down11111111111111111111  {
	display: none;
	position: absolute;
	min-width: 100px;
	max-height: 157px;
	margin-top: 0px;
	margin-left: 0px;
	left:10px;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	box-shadow: 0 0 4px 0 #d9d9d9;
	overflow-y: auto;
	background-color: #fefefe;
	z-index:500;
	width:145px;
}

.list-box-friends .list-box-friends-drop-down,
.titleblock .list-box-friends-drop-down {
	display: none;
	position: absolute;
	min-width: 100px;
	max-height: 157px;
	margin-top: 7px;
	margin-left: 0px;
	left:0px;
	width:145px;
	z-index:500;
}
.list-box .list-box-friends .list-box-friends-drop-down {
	margin-top: -1px !important;
	margin-left: -24px !important;
}

.list-box .list-box-friends > span {
	cursor: pointer;
}

.list-box-friends .list-box-friends-drop-down ul,
.titleblock .list-box-friends-drop-down ul {
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	box-shadow: 0 0 4px 0 #d9d9d9;
	left: -58px;
	top: 18px;
	overflow-y: auto;
	background-color: #fefefe;
	z-index:500;
	width:145px;
	max-height: 157px;
}
.list-box-friends-drop-down:before,
.list-box-friends-drop-down:after {
    content: "";
    position: absolute;
}
.list-box-friends-drop-down:before {
    border-left: 8px solid rgba(113, 101, 58, 0);
    border-right: 8px solid rgba(113, 101, 58, 0);
    border-bottom: 8px solid #d9d9d9;
    left: 20px;
    top: -8px;
}

.list-box-friends-drop-down:after {
    border-left: 8px solid rgba(255, 241, 190, 0);
    border-right: 8px solid rgba(255, 241, 190, 0);
    border-bottom: 8px solid #f0f5fb;
    left: 20px;
    top: -7px;
}
.list-box-friends .list-box-friends-drop-down ul li,
.titleblock .list-box-friends-drop-down ul li {
	border-bottom:1px solid #dedede;
	overflow:hidden;
	background:#f0f5fb;
	padding: 2px 0px;
}
.list-box-friends .list-box-friends-drop-down ul li:hover,
.titleblock .list-box-friends-drop-down ul li:hover {
	background:#ffffff;
}
.list-box-friends .list-box-friends-drop-down ul li :last-child,
.titleblock.list-box-friends-drop-down ul li :last-child {
	border-bottom:0px solid #dedede;
}
.list-box-friends .list-box-friends-drop-down ul li .small-photo,
.titleblock .list-box-friends-drop-down ul li .small-photo {
	width: 22px;
	height: 22px;
	border: 0px solid #dfe0e0 !important;
	margin: 3px 0px 3px 3px;
	cursor: pointer;
	float:left;
}
.list-box-friends .list-box-friends-drop-down ul li a,
.titleblock .list-box-friends-drop-down ul li a {
	display: inline-block;
	position: relative;
	font-size:15px!important; 
	color: #767676!important;
	font: normal 15px/15px ArchivoNarrow-Regular !important;
	text-decoration: none;
	white-space: nowrap;
	padding: 6px;
}

.list-box .list-box-friends-drop-down ul li a
 {
	display: inline-block;
	position: relative;
	width: 100%;
	padding: 0 18px 0 8px;
	color: #666;
	text-decoration: none;
	white-space: nowrap;
	
}
.list-box .list-box-friends-drop-down li a:hover {
	text-decoration: none !important;
}
.list-box .list-box-friends-drop-down li a:hover
 {
	color: #256c89;
	text-decoration: underline;
	background-color1: #f0f5fb;
}
/* MENUS ******************************************************************************************/
.select-menu-button:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #333333 transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: 4px;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 0;
}
.select-menu-button {
    padding-right: 25px;
}
.minibutton {
    box-shadow: none;
    line-height: 24px;
    padding-left: 10px;
    padding-right: 25px;
}
.button, .minibutton {
    outline: medium none;
}
.button, .minibutton {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-user-select: none;
    background-color: #EAEAEA;
    background-image: linear-gradient(#FAFAFA, #EAEAEA);
    background-repeat: repeat-x;
    border-color: #DDDDDD #DDDDDD #C5C5C5;
    border-image: none;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
    vertical-align: middle;
    white-space: nowrap;
}

.button:hover,
.button:active,
.minibutton:hover,
.minibutton:active {
	text-decoration: none;
	background-color: #dadada;
	background-image:-moz-linear-gradient(#eaeaea, #dadada);
	background-image:-webkit-linear-gradient(#eaeaea, #dadada);
	background-image:linear-gradient(#eaeaea, #dadada);
	background-repeat:repeat-x;
	border-color:#ccc #ccc #b5b5b5;
}

.button:active,
.button.selected,
.minibutton:active,
.minibutton.selected {
	background-color:#dadada;
	background-image:none;
	border-color:#b5b5b5;
	box-shadow:inset 0 3px 5px rgba(0,0,0,0.15);
}

.button.primary,
.minibutton.primary {
	color:#fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #60b044;
	background-image: -moz-linear-gradient(#8add6d, #60b044);
	background-image: -webkit-linear-gradient(#8add6d, #60b044);
	background-image: linear-gradient(#8add6d, #60b044);
	background-repeat: repeat-x;
	border-color: #5ca941
}

.button.primary:hover,
.minibutton.primary:hover {
	color: #fff;
	background-color: #569e3d;
	background-image: -moz-linear-gradient(#79d858, #569e3d);
	background-image: -webkit-linear-gradient(#79d858, #569e3d);
	background-image: linear-gradient(#79d858, #569e3d);
	background-repeat:repeat-x;border-color:#4a993e
}

*::-moz-selection {
    background: none repeat scroll 0 0 rgba(65, 131, 196, 0.4);
    text-shadow: none;
}

.options-menu-cnt {
    position: relative;
    display: block;
    top: -100px;
    left: 157px;
    width: 150px;
}

.context-menu-container {
	background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
    color: #666666;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 4px;
    overflow: hidden;
    position: relative;
    display: table;
    overflow: hidden;
    table-layout: fixed;
    left: -29px;
}

.context-menu-item {
	border-bottom: 1px solid #EEEEEE;
	display: block;
	float: none;
    color: inherit;
    cursor: pointer;
    width: 100%;
    padding: 8px;
    padding-left: 25px;
    white-space: nowrap;
}

/* SEARCH PAGES ***********************************************************************************/
.search-list {
	background-color: #f0f5fb;
	overflow: hidden;
}
.search-list .people-item {
	float: left;
	position: relative;
	width: 240px;
	height: 141px;
	margin: 0 1px 16px 0;
	overflow: hidden;
	background: url('../img/search-people-item-bg.png') no-repeat;
}
.search-list .people-item.status-friend {
	background-position: 0 0;
}
.search-list .people-item.status-friend.status-follower {
	background-position: 0 -626px;
}
.search-list .people-item.status-invite {
	background-position: 0 -150px;
}
.search-list .people-item.status-pending {
	background-position: 0 -300px;
}
.search-list .people-item.status-pending-alert {
	background-position: 0 -450px;
}

.search-list .people-item .people-item-details {
	display: block;
	position: absolute;
	width: 114px;
	min-height: 48px;
	top: 10px;
	left: 117px;
	line-height: 18px;
	color: #555555;
	overflow: hidden;
	white-space: nowrap;
}
.search-list .people-item.status-pending .people-item-details,
.search-list .people-item.status-pending-alert .people-item-details {
	color: #28398a;
}
.search-list .people-item .people-item-name {
	font-weight1: bold;
	font-size: 16px;
}
.search-list .people-item .people-item-name a {
    white-space: normal;
}

.search-list .people-item .people-item-location {
	font-size: 15px;
	margin-top: 4px;
	white-space: normal;
}

.search-list .people-item img {
	float: left;
	display: block;
	position: relative;
	width: 102px;
	height: 101px;
	margin: 7px 0 0 7px;
	overflow: hidden;
	cursor: pointer;
}
.search-list .people-item.status-invite img {
	width: 108px;
	height: 107px;
	margin: 4px 0 0 4px;
	border-radius: 3px;
	cursor: pointer;
}

.search-list .people-item .people-item-invite-button {
	display: none;
	position: absolute;
	top: 70px;
	left: 117px;
	width: 86px;
	height: 27px;
	cursor: pointer;
	text-transform:uppercase;
	padding:3px 0px 3px 13px;
	border:1px solid #dbd13a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font:normal 15px/20px FjallaOne-Regular;
	color:#16287c;
	xbackground: url('../img/btn-invite-friend.png') ;
	background-image: -webkit-linear-gradient(top, #f5ec55 0%, #e3d942 100%); /* для Chrome и Safari */
    background-image: -moz-linear-gradient(top, #f5ec55 0%, #e3d942 100%); /* для Firefox */
    background-image: -ms-linear-gradient(top, #f5ec55 0%, #e3d942 100%); /* для IE 10+ */
    background-image: -o-linear-gradient(top, #f5ec55 0%, #e3d942 100%); /* для Opera */
    background-image: linear-gradient(top, #f5ec55 0%, #e3d942 100%); /* стандартный синтаксис */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33f5ec55, endColorstr=#33e3d942);
}

.search-list .people-item .people-item-invite-button.disabled,
.search-list .people-item .people-item-invite-button.disabled * {
	cursor: default !important;
	opacity: .3 !important;
}
.search-list .people-item .people-item-invite-button  span {
    background: url('../img/invite-man.png') no-repeat -1px 1px;
    padding-left: 25px;
    cursor: pointer;
}
.search-list .people-item.status-invite .people-item-invite-button {
	display: block;
}

.search-list .people-item .people-item-alert {
	display: none;
	position: absolute;
	top: 116px;
	left: 0;
	width: 240px;
	height: 16px;
	padding: 0 16px;
	font-size: 16px;
}
.search-list .people-item.status-pending-alert .people-item-alert {
	display: block;
}
.search-list .people-item .people-item-alert .btn-close-popup {
	top: 5px;
	left: 218px;
}


.search-list .companies-item {
    float: left;
    position: relative;
    width: 240px;
    height: 141px;
    margin: 0 1px 16px 0;
    overflow: hidden;
    background: url('../img/search-companies-item-bg.png') no-repeat;
}
.search-list .companies-item.status-followed {
    background-position: 0 0;
}
.search-list .companies-item.status-follow {
    background-position: 0 -150px;
}
.search-list .companies-item.status-followed-alert {
    background-position: 0 -300px;
}

.search-list .companies-item .companies-item-details {
    display: block;
    position: absolute;
    width: 114px;
    min-height: 48px;
    top: 10px;
    left: 117px;
    line-height: 18px;
    color: #555555;
    overflow: hidden;
    white-space: normal;
}
.search-list .companies-item.status-followed .companies-item-details,
.search-list .companies-item.status-followed-alert .companies-item-details {
    color: #28398a;
}
.search-list .companies-item .companies-item-name {
    font-weight1: bold;
    font-size: 16px;
}

.search-list .companies-item .companies-item-location {
    font-size: 15px;
}

.search-list .companies-item img {
    float: left;
    display: block;
    position: relative;
    width: 102px;
    height: 101px;
    margin: 8px 0 0 7px;
    overflow: hidden;
    cursor: pointer;
}
.search-list .companies-item.status-follow img {
    width: 106px;
    height: 105px;
    margin: 5px 0 0 5px;
    border-radius: 3px;
    cursor: pointer;
}
.search-list .companies-item.status-followed-alert img {
    width: 106px;
    height: 105px;
    margin: 5px 0 0 6px;
    border-radius: 3px;
    cursor: pointer;
}

.search-list .companies-item-follow-button {  
    position: absolute;
    top: 65px;
    left: 117px;
    width: 86px;
    height: 27px;
    cursor: pointer;
	text-transform:uppercase;
	padding:4px 0px 3px 16px;
	border:1px solid #dbd13a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font:normal 15px/20px FjallaOne-Regular;
	color:#16287c;
	background-image: -webkit-linear-gradient(top, #f5ec55 0%, #e3d942 100%); /* для Chrome и Safari */
    background-image: -moz-linear-gradient(top, #f5ec55 0%, #e3d942 100%); /* для Firefox */
    background-image: -ms-linear-gradient(top, #f5ec55 0%, #e3d942 100%); /* для IE 10+ */
    background-image: -o-linear-gradient(top, #f5ec55 0%, #e3d942 100%); /* для Opera */
    background-image: linear-gradient(top, #f5ec55 0%, #e3d942 100%); /* стандартный синтаксис */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33f5ec55, endColorstr=#33e3d942);
    xbackground: url('../img/btn-follow-company.png') no-repeat 0 0;
	
}
.addimageclass .btn-remove-friend-blue{
float:left;
cursor: pointer;
background-image: -webkit-linear-gradient(top, #223179 0%, #2e419b 100%); /* для Chrome и Safari */
    background-image: -moz-linear-gradient(top, #223179 0%, #2e419b 100%); /* для Firefox */
    background-image: -ms-linear-gradient(top, #223179 0%, #2e419b 100%); /* для IE 10+ */
    background-image: -o-linear-gradient(top, #223179 0%, #2e419b 100%); /* для Opera */
    background-image: linear-gradient(top, #223179 0%, #2e419b 100%); /* стандартный синтаксис */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33223179, endColorstr=#332e419b);
	text-transform:uppercase;
	padding:14px 0px 3px 16px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#fff;
	font:normal 17px/19px FjallaOne-Regular;
	height:44px;
	width:143px;
}
.addimageclass .btn-remove-friend-blue:hover{
background-image: -webkit-linear-gradient(top, #2e419b 0%, #223179 100%); /* для Chrome и Safari */
    background-image: -moz-linear-gradient(top, #2e419b 0%, #223179 100%); /* для Firefox */
    background-image: -ms-linear-gradient(top, #2e419b 0%, #223179 100%); /* для IE 10+ */
    background-image: -o-linear-gradient(top, #2e419b 0%, #223179 100%); /* для Opera */
    background-image: linear-gradient(top, #2e419b 0%, #223179 100%); /* стандартный синтаксис */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#332e419b, endColorstr=#33223179);
}

.search-list .companies-item .companies-item-alert {
    position: absolute;
    top: 116px;
    left: 0;
    width: 240px;
    height: 16px;
    padding: 0 16px;
    font-size: 16px;
}

.search-list .companies-item .companies-item-alert .btn-close-popup {
    top: 5px;
    left: 218px;
}


.invite-popup {
	display: none;
	position: absolute;
	width: 333px;
	height: 181px;
	overflow: hidden;
	z-index: 1000;
	background: url('../img/invite-popup-bg.png') no-repeat 0 0;
}
.invite-popup textarea {
	display: block;
	position: absolute;
	top: 40px;
	left: 13px;
	width: 286px;
	height: 80px;
	margin: 0;
	padding: 6px 8px;
	border: 1px solid #ced2d8;
	border-radius: 3px;
	color: #555;
	font-style: italic;
}
.invite-popup .btn-send {
	position: absolute;
	top: 141px;
	left: 250px;
	width: 67px;
	height: 27px;
	cursor: pointer;
	background: url('../img/btn-send.png') no-repeat 0 0;
}
.invite-popup .btn-close-popup {
	top: 26px;
	left: 313px;
}
.invite-popup11111111111:before {
	content: "";
	position: fixed;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background1: rgba(100,100,100,.5);
}

.user-summary-cnt {
	margin-top: 30px;
	margin-bottom: 30px;
    width: 100%;
}

.user-summary {
    background-color: #ffffff;
    float: none;
    width: 960px;
    margin: 0 auto;
    padding: 5px;
    padding-top: 10px;
    border: 1px solid #ebebeb;
}

.summary-group {
    float: left;
    display: block;
    width: 146px;
    height: 190px;
    margin: 5px;
    text-align: left;
    padding: 5px;
    line-height: 28px;
}

.summary-total {
    background-color: #ebebeb;
    text-align: center;
    color: #454545;
    font-weight: bolder;
}

.summary-line {
	color: #797979;
	margin-left: 10px;
}

.summary-line span {
	font-weight: bolder;
}

.summary-group.active-group {
    background-color: #e9f3f8;
}

.my-photo {    
    width: 136px;
}

.my-status-separator {
	border-top: 1px solid #e1e1e1;
	width: 99%;
	margin: 0px 4px 10px 0px;
}

.my-status {
	margin-left: 5px;
	margin-right:10px;
	margin-bottom: 0px;
	margin-left: 10px;
	width: 945px;
	font-weight: bolder;
	display: table;
	float: none;
	background:#fff;
}

.my-status-text {
	float: left;
	padding-top: 7px;
	font:normal 18px/19px ArchivoNarrow-Bold;
	color:#484848;
}

.my-status-value {
    float: left;
    padding-left: 18px;
    width: 760px;    
}
.position{
position:relative;
}
.my-status-btn {
    float: left;
}

.summary-friend-line {
    width: 100%;
    float: none;
    clear: both;
}

.summary-friend-status {
    display: table-cell;
    vertical-align: middle;
    float: left;
}

.summary-friend-photo {
	float: left;
}

.summary-friend-photo img {
    width: 32px;
    height: 32px;
    margin: 5px;
}

/* PROFILE ****************************************************************************************/
.profile-box {
	float: left;
	position: relative;
	width: 100%;
	margin: 20px 0 20px 0;
	border: 1px solid #e7e8ea;
	background: #fff;
}

.profile-box .box-shadow-bottom {
	float: left;
	width: 100%;
}

.profile-box.profile-box-info {
	float: left;
	width: 472px;
}

.profile-box.profile-box-account {
	float: right;
	width: 472px;
}

.profile-box.profile-box-info .box-shadow-bottom,
.profile-box.profile-box-account .box-shadow-bottom {
	min-height: 328px;
}

.profile-box .profile-box-header {
	position: relative;
	width: 100%;
	height: 42px;
	padding: 0 15px;
	line-height: 42px;
	color: #02183c;
	font-size: 26px;
	font-weight: bold;
	white-space: nowrap;
	background: #f4f7fb;
}

.profile-box .profile-box-content {
	float: left;
	position: relative;
	padding: 10px 16px;
	border-top: 1px solid #fff;
}
.profile-box.profile-box-about .profile-box-content {
	padding: 10px 8px;
}

.profile-box .profile-box-content1:before {
	z-index: 100;
	position: absolute;
	content: "sdsd";
	top: -10px;
	height:100%;
	left: 25%;
	width: 50%;
	margin: 0 auto;
	max-width1: 300px;
	border-radius: 100px;
	background: rgba(100, 100, 100, 0.7);
	-webkit-box-shadow: 0 15px 10px rgba(100, 100, 100, 0.7);
	-moz-box-shadow: 0 15px 10px rgba(100, 100, 100, 0.7);
	box-shadow: 0 15px 20px 160px rgba(100, 100, 100, 0.7);
	-webkit-transform1: rotate(-3deg);
	-moz-transform1: rotate(-3deg);
	-o-transform1: rotate(-3deg);
	-ms-transform1: rotate(-3deg);
	transform1: rotate(-3deg);
}
.profile-box .profile-box-photo {
	float: left;
	position: relative;
	width: 180px;
	height: 180px;
	margin-right: 20px;
	border: 1px dashed #92949a;
}
.profile-box .profile-box-photo img {
	position: relative;
	width: 100%;
	height: 100%;
}

.profile-box .profile-box-text,
.profile-box .profile-box-text-table td {
	clear: both;
	padding-left: 16px;
	color: #484848;
	font-size: 18px;
	font-weight: bold;
	line-height: 42px;
	vertical-align: middle;
	white-space: nowrap;
}

.profile-box.profile-box-about .ctrl-box .ctrl-label {
	width: 68px;
}

.profile-box.profile-box-about.profile-company .ctrl-box .ctrl-label {
	width: 142px;
}

.profile-box.profile-box-about .btn-upload {
	position: absolute;
	top: 110px;
	left: 52px;
}
.profile-box.profile-box-account .link {
	margin-left: 82px;
}

.profile-box.profile-box-account .ctrl-checkbox-group {
	overflow: hidden;
}
.profile-box.profile-box-account .ctrl-checkbox-group .ctrl-box {
	width: 45%;
	padding: 4px 0;
}

.profile-box .ctrl-typing {
	border1: 1px solid #ced2d8;
	border-radius1: 4px;
}
.profile-box .ctrl-typing .typingds_start {
	width: 187px;
}
.profile-box .ctrl-box .ctrl-wrapper .interest_div_CHECK input[type="checkbox"] {
	height: 18px;
}
.profile-box .ctrl-box .ctrl-wrapper .interest_div_CHECK .interest_span_div {
	padding-top: 2px;
}

.profile-box-content .mfile-drag {
	font-weight: bold;
	font-size: 16px;
	color: #484848;
	position: absolute;
	text-align: center;
	height: 180px;
	width: 180px;
	padding-top: 50px;
}
.profile-box-content .mfile-drag.hover {
	border: 3px dotted #99ff99;
	padding-top: 47px;
}
/* END:: PROFILE **********************************************************************************/

/* CONTROLS ***************************************************************************************/
.ctrl-noborder {
	border: none !important;
}
.ctrl-box .ctrl-wrapper-drop-image {
	display: table-cell;
	position: relative;
	width: 370px;
	height: 50px;
	background-color: #d7f7c7;
	border: 1px dashed #3cb878;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
}
.ctrl-box .ctrl-wrapper-drop-image .multifile-upload {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
.ctrl-box .ctrl-wrapper-drop-image .multifile-upload .mfile-drag {
	display: table-cell !important;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	vertical-align: middle;
	z-index: 100;
}
.ctrl-box .ctrl-wrapper-drop-image .multifile-upload .mfile-drag.hover {
	background-color: #e7f7d7;
	border: 1px dashed #5cd898;
}
.ctrl-box .ctrl-wrapper-drop-image .multifile-upload #uploaderContainer_filelist {
	position: absolute !important;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	font-size: 12px;
	z-index: 50;
}
.ctrl-box .ctrl-wrapper-drop-image .ctrl-upload-link {
	/*position: relative;*/
	color: #0c769d;
	cursor: pointer;
	text-decoration: underline;
}

.ctrl-box .ctrl-wrapper-drop-image .ctrl-upload-link:hover {
	text-decoration: none;
}

.ctrl-box {
	float1: left;
	position: relative;
	padding: 6px 0;
	font-size: 18px;
	overflow: hidden;
}
.ctrl-box .ctrl-label, 
.ctrl-box .ctrl-wrapper {
	display: block;
	position: relative;
	vertical-align: baseline;
}
.ctrl-box .ctrl-wrapper {
	float: left;
}
.ctrl-box .ctrl-wrapper.disabled {
	background-color: transparent;
}
.ctrl-box.ctrl-inline {
	float: left;
}
.ctrl-box.ctrl-inline .ctrl-wrapper {
	margin-right: 12px;
}
.ctrl-box.ctrl-inline .ctrl-label, 
.ctrl-box.ctrl-inline .ctrl-wrapper {
	float: left;
}
.ctrl-box.ctrl-inline .ctrl-label {
	margin-right: 12px;
	overflow: hidden;
}
.ctrl-box .ctrl-wrapper {
	border: 1px solid #ced2d8;
	border-radius: 4px;
	background-color: #fff;
	font-size: 18px;
	height: 34px;
}
.ctrl-box .ctrl-wrapper input,
.ctrl-box .ctrl-wrapper select,
.ctrl-box .ctrl-wrapper textarea {
	position: relative;
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	border-radius: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: transparent;
	font-style: inherit;
	font-size: .9em;
}

.ctrl-box .ctrl-wrapper select,
.ctrl-box .ctrl-wrapper input {
	height1: 100%;
	background-color1: #fff;
}

.ctrl-box .ctrl-wrapper textarea {
	height1: 100%;
	padding: 6px 8px;
	resize: none;
	background-color1: #fff;
}

.ctrl-box .ctrl-wrapper input[type="radio"],
.ctrl-box .ctrl-wrapper input[type="checkbox"] {
	width: 19px;
}

.ctrl-box .ctrl-wrapper select,
.ctrl-box .ctrl-wrapper input[type="text"] {
	padding: 0 8px;
	color: #555;
}
.ctrl-box .ctrl-wrapper select {
	padding-right: 0;
}
.ctrl-box .ctrl-wrapper select option:first-child {
	color1: #bbb;
	font-style: italic;
}

.ctrl-box .ctrl-wrapper > img {
	position: relative;
	width: 100%;
	height: 100%;
	border: none;
	border-radius: inherit;
}

.ctrl-box .ctrl-wrapper.ctrl-ajax-loading input {
	background-image: url('../images/ajax-loader.gif');
	background-position: right center;
	background-repeat: no-repeat;
}
.ctrl-box .ctrl-wrapper.ctrl-error {
	border-color: red;
}
.ctrl-box .ctrl-wrapper:after {
	content: attr(data-valid-msg);
	float1: left;
	position: absolute;
	display: block;
	top: 100%;
	left: 0;
	margin: -6px 18px -12px 6px;
	padding: 0 4px;
	color1: red;
	font-family: ArchivoNarrow-Regular !important;
	font-size: 13px;
	font-weight: normal;
	overflow: hidden;
	white-space: normal;
	z-index: 100;
	background-color: inherit;
}
.ctrl-box .ctrl-wrapper.ctrl-error:after {
	content: attr(data-error-msg);
	color: red;
}

.ctrl-box .ctrl-wrapper-error {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 6px;
	padding: 0 4px;
	background-color: #FFF;
	color: red;
	font-size: 13px;
	font-family: ArchivoNarrow-Regular !important;
}
.ctrl-box .ctrl-wrapper-error a:hover {
	text-decoration: none;
}
.ctrl-box .ctrl-label {
	position: relative;
	line-height: 34px;
	color: #484848;
	font-size: 18px;
	font-weight: bold;
	white-space: nowrap;
}

.ctrl-box .ctrl-label.badge input {
	margin:10px 10px 0px 0px;
}

.ctrl-box .ctrl-text {
	font-size: 18px;
	line-height: 34px;
}

.ctrl-box .ctrl-wrapper.ctrl-wrapper-group,
.ctrl-box .ctrl-wrapper.ctrl-wrapper-group2,
.ctrl-box .ctrl-wrapper.ctrl-wrapper-group-inline {
	display: block;
	height: auto;
	margin-top: 10px;
	margin-bottom: -10px;
	background-color: transparent;
	border: none;
	overflow: hidden;
}
.ctrl-box .ctrl-wrapper.ctrl-wrapper-group-inline {
	display: block;
	width: auto;
}
.ctrl-box .ctrl-wrapper.ctrl-wrapper-group > .ctrl-checkbox {
	width: 100%;
}
.ctrl-box .ctrl-wrapper.ctrl-wrapper-group2 > .ctrl-checkbox {
	width: 49.5%;
}
.ctrl-box .ctrl-wrapper .ctrl-checkbox {
	float: left;
	display: block;
	position: relative;
	height: 34px;
	padding-right: 18px;
	background-color: transparent;
	border: none !important;
	color: #484848;
	font-style: normal;
	font-size: .9em;
	vertical-align: middle;
	overflow: hidden;
}

.ctrl-box .ctrl-wrapper .ctrl-checkbox > label {
	display: inline-block;
	position: relative;
	overflow: hidden;
}
.ctrl-box .ctrl-wrapper .ctrl-checkbox >label > div {
	display: block;
	position: relative;
	height: 100%;
	padding-left: 24px;
	vertical-align1: middle;
}
.ctrl-box .ctrl-wrapper .ctrl-checkbox > label > div:before {
	content: "";
	float: left;
	display: block;
	position: relative;
	margin-left: -24px;
	height: 16px;
	overflow: hidden;
	background-image: url('../img/ctrl-radio-checkbox.png');
	background-repeat: no-repeat;
}
.ctrl-box .ctrl-wrapper .ctrl-checkbox input[type="radio"] + div:before {
	width: 16px;
	background-position: 0 center;
}
.ctrl-box .ctrl-wrapper .ctrl-checkbox input[type="checkbox"] + div:before {
	width: 17px;
	background-position: -32px center;
}
.ctrl-box .ctrl-wrapper .ctrl-checkbox input[type="radio"],
.ctrl-box .ctrl-wrapper .ctrl-checkbox input[type="checkbox"] {
	position: absolute;
	left: -5000px;
	top1: -5000px;
	width: 1px;
	height: 1px;
}
.ctrl-box .ctrl-wrapper .ctrl-checkbox input[type="radio"]:checked + div:before {
	background-position: -16px center;
}
.ctrl-box .ctrl-wrapper .ctrl-checkbox input[type="checkbox"]:checked + div:before {
	background-position: -49px center;
}

.ctrl-box .ctrl-wrapper.ctrl-name {
	width: 266px !important;
}

.ctrl-box .ctrl-wrapper.ctrl-day {
	width: 92px !important;
}

.ctrl-box .ctrl-wrapper.ctrl-month {
	width: 222px !important;
}

.ctrl-box .ctrl-wrapper.ctrl-year {
	width: 112px !important;
}

.ctrl-box .ctrl-wrapper.ctrl-street,
.ctrl-box .ctrl-wrapper.ctrl-country {
	width: 450px !important;
}

.ctrl-box .ctrl-wrapper.ctrl-industry,
.ctrl-box .ctrl-wrapper.ctrl-degree {
	width: 420px !important;
}

.ctrl-box .ctrl-wrapper.ctrl-email {
	width: 338px !important;
	margin-right: 0 !important;
}

.ctrl-box .ctrl-wrapper.ctrl-privacy-settings {
	width: 222px !important;
}

.ctrl-box .ctrl-wrapper.ctrl-list-title {
	width: 100% !important;
}
.ctrl-box .ctrl-wrapper.ctrl-list-topic {
	width: 370px !important;
}
.ctrl-box .ctrl-wrapper.ctrl-list-image {
	width: 370px !important;
	height: 240px !important;
}
.ctrl-box .ctrl-wrapper.ctrl-list-rules {
	width: 570px !important;
	height: 164px !important;
}

.form-list .ctrl-box .ctrl-wrapper {
	font-style: italic;
}

.ctrl-box .rights-group .ctrl-checkbox {
	margin: 4px 0;
}
/* END:: ctrl *************************************************************************************/

.accordion{
	display: none;
}
.user-info-wrapper .listItem .handle-btn{
width:40px;
border-right:1px solid #e9e9ea;

background-color:#f7f8fa;
color:#797977;
font:normal 20px/21px ArchivoNarrow-Regular;
float: left;
height:170px;
cursor:pointer;

}
.user-info-wrapper .contentContainer {
padding-left: 0px;	
	float: left;
	width: 0px;
	height: 170px;	
	overflow:hidden;
}


.user-info-wrapper ul{
	list-style-type: none;
	margin: 0;
	padding:0;	
}
.user-info-wrapper li{
	display: inline;
	margin: 0px;
	padding:0px;
}
/*Content Container*/
.contentContainer {
	padding-left: 0px;	
	float: left;
	width:0px;
	height: 50px;	
	overflow:hidden;
}
.contentWrapper{	
}
.contentInnerWrapper{
	text-align: justify;
	padding: 5px 10px;
}

#accordionHandle0{
background: url('../img/btn0.png') no-repeat  8px 38px #f7f8fa;
}
#accordionHandle0.handleSelected{
background: url('../img/btn0_h.png') no-repeat 8px 37px  #ffffff;
}
#accordionHandle1{
background: url('../img/btn1.png') no-repeat 8px 37px  #f7f8fa;
}
#accordionHandle1.handleSelected{
background: url('../img/btn1_h.png') no-repeat 8px 38px  #ffffff;
}
#accordionHandle2{
background: url('../img/btn2.png') no-repeat 8px 48px #f7f8fa;
}

#accordionHandle2.handleSelected{
background: url('../img/btn2_h.png') no-repeat 8px 46px  #ffffff;
}
#accordionHandle3{
background: url('../img/btn4.png') center center no-repeat #f7f8fa;
}
#accordionHandle3.handleSelected{
background: url('../img/btn4_h.png') center center no-repeat #f7f8fa;
}
#accordionHandle4{
background: url('../img/btn3.png') no-repeat 8px 21px #f7f8fa;
}
#accordionHandle4.handleSelected{
background: url('../img/btn3_h.png') no-repeat 8px 33px  #ffffff;
}
.handleSelected{
border-left:1px solid #e9e9ea;
}
.user-allinfo-img{
padding:2px;
border:1px solid #ebebeb;
width:134px;
float:left;
height:148px;
}
.user-allinfo-img img{
width:128px;
height:141px;
}
.user-allinfo-content{
float:left;
margin-left:10px;
position: relative;
}
.user-allinfo .list-box-badge-eagle,
.friend-row .greyborder .list-box-badge-eagle,
.company-content .list-box-badge-eagle{position: absolute;right: 0;top: 0;z-index: 999999999999999;}
.user-allinfo .list-box-badge-eagle{right: -5px;}
.user-allinfo .list-box-private-check,
.friend-row .greyborder .list-box-private-check,
.company-content .list-box-private-check{position: absolute;right: 0;top: 0;z-index: 999999999999999;}
.user-allinfo .list-box-private-check{right: -5px;}
.user-allinfo-content .name-user{
font:normal 30px/35px ArchivoNarrow-Bold;
color: #5d5d5d;
margin:0px 0px 3px 0px;
}
.icon-email{
background: url('../img/mail-env.png') no-repeat 1px 2px ;
padding:0px 0px  0px 28px; 
color:#797977;
font:normal 19px/20px ArchivoNarrow-Regular;
}
.more-info-about-user{
margin:0 auto;
width:960px;
min-height:250px;
}
.more-info-about-user p {
font:normal 19px/22px ArchivoNarrow-Regular;
padding:0px 0px 20px 0px;
}
.more-info-about-user p b {
font:normal 19px/22px ArchivoNarrow-Bold;
padding:0px 0px 20px 0px;
}

.more-info-about-user p  a {
font:normal 19px/22px ArchivoNarrow-Regular;
color:#155ab7;
}

.icon-home{
background: url('../img/home.png') no-repeat 1px 4px ;
padding:0px 0px  0px 28px; 
color:#797977;
font:normal 19px/25px ArchivoNarrow-Regular;
margin:0px 0px 5px 0px;
max-width: 560px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.icon-street{
padding:0px 0px  0px 28px; 
color:#797977;
font:normal 19px/25px ArchivoNarrow-Regular;
margin:0px 0px 5px 0px;
max-width: 560px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.icon-birthday{
background: url('../img/cake.png') no-repeat 1px 0px ;
padding:0px 0px  0px 28px; 
color:#797977;
font:normal 19px/20px ArchivoNarrow-Regular;
max-width: 560px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.status-user{
margin:10px 0px 0px 0px;
color:#02183c;
font:normal 21px/25px ArchivoNarrow-Bold;
padding:7px 0px 0px 0px;
border-top:1px solid #d1d1d1;
max-width: 560px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.user-block-pop .btn-close-popup {
	right: 10px;
	top: 10px;
}

/**************************************************************************************************/
.popup-user-briefs {
	float: left;
	position: relative;
	top: 0;
	background: #F0F5FB;
}

.page-section {
	float: left;
	position: relative;
}
/* list-opinions **********************************************************************************/
.list-opinions {
	counter-reset1: item;
	float1: left;
	display1: table;
	height: auto;
	width: 100%;
	margin-top: 7px;
	margin-bottom1: 20px;
	border-radius1: 5px;
	border1: 1px solid #c8c8c8;
}
.list-opinions tr {
	overflow1: hidden;
}
/*
.list-opinions tr:nth-child(odd) {
    background-color: #fff;
}
.list-opinions tr:nth-child(even) {
    background-color: #f0f5fb;
}
*/
.list-opinions td {
	position1: relative;
	height: 87px;
	text-align: center;
	vertical-align: middle;
}
/*
.list-opinions th {
	position: relative;
	text-align: left;
	vertical-align: middle;
	background-color: #F4F4F4;
}
*/
.list-opinions .list-opinion-empty {
	height: 17px;
	background-color: transparent;
}
.list-opinions .list-opinion-position {
	width: 56px;
}
.list-opinions .list-opinion-image {
	position1: relative;
	width: 249px;
	vertical-align: top;
}
.list-opinions .list-opinion-image .small-photo {
	height: 77px;
	width: 87px;
	margin: 5px;
}

.list-opinions .list-opinion-title {
	position: relative;
	padding: 0 12px;
	background-color: #f9f7de;
	vertical-align: top;
}
.list-opinions.no-hover .list-opinion-title {
	background-color: #f9f7de !important;
}
.list-opinions .list-opinion-position input {
	display: inline-block;
	position: reative;
	width: 37px;
	height: 37px;
	margin: 0;
	padding: 0; 
	background-color1: transparent;
	border1: 3px dashed #797977;
	border-radius1: 19px;
	color: #797977;
	font: bold 26px/26px ArchivoNarrow-Regular;
	text-align: center;
    background: transparent url('../img/ellipse-dashed.png') no-repeat center center;
}
.list-opinions .list-opinion-title .opinion-input {
	display: inline-block;
	position: reative;
	width: 100%;
	height: 33px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #eae7c7;
	color: #0e2357;
	font: normal 20px/20px FjallaOne-Regular !important;
    text-transform: capitalize;
}

.list-opinions .list-opinion-title .comment-input {
	display: inline-block;
	position: reative;
	width: 100%;
	height: 42px;
	background-color: transparent;
	border: none;
	color: #3e3e3e;
	font: normal 20px/20px ArchivoNarrow-Regular !important;
}

.list-opinions .uploader-wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #d7f7c7;
}
.list-opinions .uploader-wrapper .multifile-upload {
	padding: 6px;
	width1: 140px;
	margin1: 8px auto;
}
.list-opinions .uploader-wrapper .multifile-upload .mfile-filelist {
	display: none !important;
}
.list-opinions .uploader-wrapper .multifile-upload .mfile-drag {
	padding: 8px;
	background: #d7f7c7;
	border: 1px dashed #3cb878;
	font-size: 20px;
	line-height: 26px;
}

.uploader-wrapper .multifile-upload {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
.uploader-wrapper .multifile-upload .mfile-drag {
	background: #FBB69B;
	border: 1px dashed #F26C4F;
	padding: 3px 3px;
	text-align: center;
	color: #555;
	font: normal 14px/16px ArchivoNarrow-Regular;
	
	position: relative;
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	vertical-align: middle;
	z-index: 100;
}
.uploader-wrapper .multifile-upload .mfile-drag.hover {
	background: #D7F7C7;
	border: 1px dashed #3CB878;
}
.uploader-wrapper .multifile-upload .mfile-filelist {
	position: absolute !important;
	left: 0;
	width: 100% !important;
	height: 100% !important;
	font-size: 12px;
	z-index: 50;
}

.sliderkit.photosgallery-std a {
	outline: medium none !important;
}

.sliderkit .sliderkit-nav .sliderkit-nav-clip img {
	position: relative;
	width: 100%;
	height: 100%;
	outline: medium none;
}
.sliderkit .sliderkit-nav {
	overflow: hidden;
	padding-bottom: 4px;
	outline: medium none;
}

.sliderkit .sliderkit-nav-clip ul li a {
    outline: medium none;
}

.photosgallery-std .sliderkit-panels .sliderkit-go-prev {
	border-radius: 2px 0px 0px 2px;
	outline: medium none;
}

.photosgallery-std .sliderkit-panels .sliderkit-go-next {
	border-radius: 0px 2px 2px 0px;
}

.icon-list{
	background: url("../img/list_check.png") no-repeat scroll 0 1px transparent;
	display:inline-block;
	float:right;
	border-right:1px solid #d1d1d1;
	width:27px;
	height:16px;
	margin:6px 4px 0px 0px; 
	cursor:default;
}

.table-lists-item .selected {
	background-color: #faf6ae !important;
}

.company-follower-button,
.people-friend-button,
.people-pending-button,
.people-invite-button {
	display: inline-block;
	position: relative;
	font-size: 15px;
	margin-right: 6px;
	padding: 0 13px 0 13px;
}

.people-friend-button2 {
	display: inline-block;
	position: relative;
	font-size: 15px;
	margin-top: 65px;
    margin-left:15px;
	padding: 5px 13px 5px 13px;
}

.people-invite-button {
	cursor: pointer;
	text-transform: uppercase;
	border: 1px solid #dbd13a;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #16287c;
	background-image: -webkit-linear-gradient(top, #f5ec55 0%, #e3d942 100%); /* для Chrome и Safari */
    background-image: -moz-linear-gradient(top, #f5ec55 0%, #e3d942 100%); /* для Firefox */
    background-image: -ms-linear-gradient(top, #f5ec55 0%, #e3d942 100%); /* для IE 10+ */
    background-image: -o-linear-gradient(top, #f5ec55 0%, #e3d942 100%); /* для Opera */
    background-image: linear-gradient(top, #f5ec55 0%, #e3d942 100%); /* стандартный синтаксис */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33f5ec55, endColorstr=#33e3d942);
}

.people-pending-button {
	font-size: 16px;
	border: 1px solid #ced2d8;
	-webkit-border-radius1: 3px;
	-moz-border-radius1: 3px;
	border-radius1: 3px;
	color: #6b6b6b;
	background-image: -webkit-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* для Chrome и Safari */
    background-image: -moz-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* для Firefox */
    background-image: -ms-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* для IE 10+ */
    background-image: -o-linear-gradient(top, #fff 0%, #f2f2f2 100%); /* для Opera */
    background-image: linear-gradient(top, #fff 0%, #f2f2f2 100%); /* стандартный синтаксис */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33f5ec55, endColorstr=#33e3d942);
}

.company-follower-button,
.people-friend-button {
	font-size: 16px;
	color: #fff;
	border: 1px solid #ced2d8;
	background-color: #28398a;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(150, 150, 150, 0.5);	
}

.people-friend-button2 {
	font-size: 16px;
	color: #fff;
	border: 1px solid #ced2d8;
	background-color: #28398a;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(150, 150, 150, 0.5);	
}

.people-invite-button.disabled {
	cursor: default !important;
	opacity: .3 !important;
}
.people-invite-button span {
    background: url('../img/invite-man.png') no-repeat -1px 1px;
    padding-left: 25px;
    cursor: pointer;
}

.people-friend-button span {
	background: url('../img/friend-man.png') no-repeat -1px 3px;
	padding-left: 25px;

}

.people-friend-button2 span {
	background: url('../img/friend-man.png') no-repeat -1px 3px;
	padding-left: 25px;

}

.list-result-block{
	padding:14px 10px;
	-webkit-box-shadow: 0px 6px 5px 0px rgba(223, 228, 233, 0.65);
	-moz-box-shadow:    0px 6px 5px 0px rgba(223, 228, 233, 0.65);
	box-shadow:         0px 6px 5px 0px rgba(223, 228, 233, 0.65);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow:visible !important;

}

.titleblock {
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 5px;
}

.titleblock:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.block-left-info {
	float: left;
	width: 56%;

}
.block-right-info {
	float: right;
	width: 44%;

}
.block-left-info-content {
	float: left;
	width:63%;
	position:relative;
}
.block-right-info-content {
	float: right;
	width:37%;
	position:relative;
	min-height:140px;
}
.block-right-info span{
	padding:0px 16px 0px 16px;
	border-right: 1px solid #d9d9d9;
	
}
.block-right-info span:first-child {
	/*border-left: 1px solid #D9D9D9 !important;*/
	border-right: 0px solid #d9d9d9 !important;
}
.block-right-info-content .whatother_listentry {
	position: absolute;
	bottom: 0px;
	right:30px;
}

.res.list-box-star {
	background: url('../img/stars2.png') no-repeat 11px 0px;
	width: 19px;
	height: 17px;
	margin:0px;
}
[data-is-favorite="true"] .res.list-box-star {
	background-position: 11px -16px;
}

.icon-list.res {
	background: url("../img/list_check.png") no-repeat scroll 9px 1px transparent;
	display: inline-block;
	float: right;
	border-right: 1px solid #d9d9d9;
	width: 46px;
	height: 16px;
	margin: 0px;
	cursor: default;
}

.friends-num,.contributors-num {
	font-size:15px;
	color:#021a40;
	float: right;
}

.friends-num i,.contributors-num i{
	color: #454545;
	font-size:17px;
	font-style: normal;
}
.list-box-friends.friends-num {
	border: none;
	padding-bottom: 7px;
}

.user-name {
	color:#454545;
	font-size: 18px;
	float: right;
	cursor: pointer;
}
.result-title {
	text-overflow: ellipsis;
    text-transform: capitalize;
	white-space: nowrap;
	color:#02183c;
	font: bold 27px/27px ArchivoNarrow-Regular !important;
}
.infoblock {
	border-bottom: 1px solid #e1e1e1;
	padding:10px 0px;
}

.infoblock:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.activeImg {
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 240px;
	height: 143px;
	border: 1px solid #e1e1e1;
	padding: 0px;
	float: left;
	margin-right: 7px;
}

.activeImg  img {
	width:238px;
	height:141px;
	border:1px solid #e1e1e1;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}

.list-img {
	display: block;
	float: left;

}

.list-img > li > a img {
	width:73px;
	height:44px;
	border:1px solid #e1e1e1;
	display: block;
}
.list-img > li > a img:hover {
	display:block;
	cursor: pointer;
}
.list-img > li > a {
	display: block;
	margin-bottom: 5px;
	opacity:0.5;
}
.list-img > li > a.active {
	opacity:1;
}

.list-img > li > a:hover {
	opacity:1;
	cursor:pointer;
}

.result-page-info {
	float: left;
	margin-left: 8px;
	margin-left: 8px;
	width: 260px;
}
.gallery-result-page {
	overflow:hidden;
	float:left;
	
}
.time-topic,.name-topic,.topic {
	color:#353535;
	font-size:16px;
	line-height: 22px;
}

.time-topic i,.name-topic i,.topic i{
	color:#555555;
	font-size: 14px;
	font-style: normal;
}
.friend-block {
	position:relative;
	float:right;
}
.friend-input {
	border:1px solid #d7d7d7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	height:32px;
	width:285px;
	font-style: italic;
	padding-left: 11px;
	font-size: 16px;
}
.str {
	position:absolute;
	top:8px;
	right:0px;
}
.list-opinions .list-opinion-position .positions{
	display: inline-block;
	position: reative;
	width: 37px;
	height: 37px;
	margin: 0;
	padding: 5px 0px 0px 0px; 
	background-color1: transparent;
	border1: 3px dashed #797977;
	border-radius1: 19px;
	color: #797977;
	font: bold 26px/26px ArchivoNarrow-Regular !important;
	text-align: center;
    background: transparent url('../img/ellipse-dashed.png') no-repeat center center;
}
.conteuner-photo img {
	cursor: pointer;
	width:260px;
	height:172px;
}
.list-opinion-item {
	padding:8px 0px 8px 0px;
	border-bottom: 1px solid #eae7c7;
	overflow:hidden;
}
.list-opinion-item .list-opinion-item-title {
	font: normal 20px/20px FjallaOne-Regular !important;
	text-align:left;
	color:#02183c;
	float:left;
	width:70%;	
}

.list-opinion-item .list-opinion-item-title {
    text-transform: capitalize;
}
.list-opinion-item .list-opinion-item-comments { 
	float:right;
	width:30%;
	color:#02183c;
	font: normal 14px/14px FjallaOne-Regular !important;
	text-align: right;
	cursor: pointer;
}

.list-opinion-item .list-opinion-item-comments i {
	background: transparent url('../img/comment_srpite.png') no-repeat 0px -17px;
	position: relative;
	width: 17px;
	height: 15px;
	display: inline-block;
	margin-right: 5px;
}


.list-opinion-comments {
	height: auto;
	width: 100%;
	margin-top: 12px;

}
.list-opinion-comments td {
	height:auto !important;
	text-align: left !important;
	vertical-align: top !important;

}
.list-comments {
	width:65%;
	padding: 0px 10px 5px 0px
	
}
.list-comments ul li {
	list-style: disc  inside  !important;
	font-size:13px;
	line-height: 17px;
	padding-left: 8px;
}
.list-author-comments {
	width:35%;
}
.list-author-comments .info {
	margin-bottom:8px;
}

.list-author-comments .info .comments-date {
	color: #b8b269;
	font: normal 12px/15px ArchivoNarrow-Regular !important;
	border-left: 1px solid #ece9ca;
	-webkit-box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 1);
	box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 1);
	padding: 2px 0px 0px 3px;
	float: right;
	height: 22px;
	width: 71px;
	position: relative;
	white-space: nowrap;
}
.comments-user {
	float:left;
	padding: 0px 0px 0px 5px;
	height: 22px;
	border-left:1px solid #ece9ca;
	-webkit-box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow:    -1px 0px 0px 0px rgba(255, 255, 255, 1);
	box-shadow:         -1px 0px 0px 0px rgba(255, 255, 255, 1);

}
.comments-user img {
	width: 22px;
	height: 22px;
	cursor: pointer;
}
.list-author-comments .info .comments-name {
	color: #b8b269;
	font: normal 14px/15px ArchivoNarrow-Regular !important;
	float: right;
	padding: 2px 2px 0px 0px;
	position: relative;
	width: 102px;
	cursor: pointer;
}
.list-author-comments .info .comments-name i {
	background: transparent url('../img/user_sprite.png') no-repeat 0px 0px;
	position: relative;
	width: 17px;
	top: 1px;
	height: 14px;
	display: inline-block;
	margin-right: 1px;
	cursor: pointer;
}
.list-author-comments .info .comments-name i.female {
background-position: 0px -3px;
}
.list-author-comments .info .comments-name i.male {
	background-position: 0px -17px;
}
.info:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.list-opinions .list-opinion.selected .list-opinion-title {
	background-color:#0e2357;
	cursor: pointer;

}
.list-opinions .list-opinion.selected .list-opinion-title .list-opinion-item {
	border-bottom: 1px solid #1c3574;
}
.list-opinions .list-opinion.selected .list-opinion-title .list-opinion-item-title {
	color:#fff;
}
.list-opinions .list-opinion.selected .list-opinion-title .list-opinion-item .list-opinion-item-comments {
	color:#fff;
}
.list-opinions .list-opinion.selected .list-opinion-title .list-opinion-item .list-opinion-item-comments i {
	background-position: 0px 0px;
}
.list-opinions .list-opinion.selected .list-opinion-title .list-opinion-comments .list-comments ul li  {
	color:#c3cfed;
}
.list-opinions .list-opinion.selected .list-opinion-title .list-opinion-comments .list-author-comments .info .comments-date{
	color:#3f63bb;
	border-left: 1px solid #071335;
	-webkit-box-shadow: -1px 0px 0px 0px rgba(21, 44, 100, 1);
	-moz-box-shadow: -1px 0px 0px 0px rgba(21, 44, 100, 1);
	box-shadow: -1px 0px 0px 0px rgba(28, 53, 116, 1);
}
.list-opinions .list-opinion.selected .list-opinion-title .list-opinion-comments  .list-author-comments .info .comments-name {
	color:#3f63bb;
}
.list-opinions .list-opinion.selected .list-opinion-comments  .list-author-comments .info .comments-name i.male {
	background-position: 0px -55px;
}
.list-opinions .list-opinion.selected .list-opinion-comments  .list-author-comments .info .comments-name i.female {
	background-position: 0px -36px;
}


.list-opinions .list-opinion.selected .list-opinion-title .list-opinion-comments .list-author-comments .info .comments-user {
	border-left: 1px solid #071335;
	-webkit-box-shadow: -1px 0px 0px 0px rgba(21, 44, 100, 1);
	-moz-box-shadow: -1px 0px 0px 0px rgba(21, 44, 100, 1);
	box-shadow: -1px 0px 0px 0px rgba(28, 53, 116, 1);
}
.contentpart_right #popupContact1 {
	margin-left: 0px;
	margin-top: 0px;
	z-index: 300;
	right: 80px;
}
.contentpart_right + .list-opinions.list-opinion.selected .list-opinion-title {
	background-color:#f9f7de !important;
	cursor: pointer !important;

}
.contentpart_right #popupContact1.popup7 {
	margin-left: 0px;
	margin-top: 14px;
	z-index: 300;
	right: 0px;
	top: 100%;
}
.contentpart_right #popupContact1.popup7 .arrowimagetakelist {
	margin-left: 100px;
}
.friend-block .ms-parent .ms-drop {
	width: 278px !important;
	background-color:#f1f5fb !important;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
	margin-top: 0px;
}
.friend-block .ms-parent .ms-search input{
	border-radius: 4px !important;
	font-size: 16px !important;
	color: #797977 !important;
}
.friend-block .ms-parent .ms-drop ul  li label  input[type="checkbox"] {

	float: left;
	display: block;
	position: relative;
	height: 16px;
	overflow: hidden;
	background-image: url('../img/ctrl-radio-checkbox.png');
	background-repeat: no-repeat;
	width: 17px;
	padding-left: 24px;
	background-position: -32px center;
}
.friend-block .ms-parent .ms-drop ul {
	padding: 4px !important;
}

.friend-block .ms-parent .ms-drop ul  li {
	display: block;
	position: relative;
	margin-bottom: 7px;
}
.friend-block .ms-parent .ms-drop ul  li label {
	font-size: 14px;
	line-height: 17px;
	padding: 0px 0px 0px 3px;
	color: #555555;
} 
.friend-block .ms-parent .ms-drop ul  li label.optgroup {
	font-weight:normal;
}
.interest_div_CHECK .checkbox_show_select {
	background-repeat: no-repeat;
	width: 17px;
	padding-left: 24px;
	background-position: -32px center;
	float: left;
	display: block;
	position: relative;
	height: 16px;
}
li.filter-group-item {
	margin-left: 24px;
}

/*Confirm window*/
#confirmOverlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	background:url('../img/ie.png');
	background: -moz-linear-gradient(rgba(11,11,11,0.1), rgba(11,11,11,0.6)) repeat-x rgba(11,11,11,0.2);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11,11,11,0.1)), to(rgba(11,11,11,0.6))) repeat-x rgba(11,11,11,0.2);
	z-index:100000;
}

#confirmBox{
	background:url('../img/body_bg.jpg') repeat-x left bottom #e5e5e5;
	width:460px;
	position:fixed;
	left:50%;
	top:50%;
	margin:-130px 0 0 -230px;
	border: 1px solid rgba(33, 33, 33, 0.6);
	
	-moz-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.6) inset;
}

#confirmBox h1,
#confirmBox p{
	font:26px/1 'Cuprum','Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	background:url('../img/header_bg.jpg') repeat-x left bottom #f5f5f5;
	padding: 18px 25px;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	color:#666;
}

#confirmBox h1{
	letter-spacing:0.3px;
	color:#888;
}

#confirmBox p{
	background:none;
	font-size:16px;
	line-height:1.4;
	padding-top: 35px;
}

#confirmButtons{
	padding:15px 0 25px;
	text-align:center;
}

#confirmBox .button{
	display:inline-block;
	background:url('../img/buttons.png') no-repeat;
	color:white;
	position:relative;
	height: 33px;
	
	font:17px/33px 'Cuprum','Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	width:200px;
	margin-right: 15px;
	padding: 0 35px 0 40px;
	text-decoration:none;
	border:none;
}

#confirmBox .button:last-child{	margin-right:0;}

#confirmBox .button span{
	position:absolute;
	top:0;
	right:-5px;
	background:url('buttons.png') no-repeat;
	width:5px;
	height:33px
}

#confirmBox .blue{				background-position:left top;text-shadow:1px 1px 0 #5889a2;}
#confirmBox .blue span{			background-position:-195px 0;}
#confirmBox .blue:hover{		background-position:left bottom;}
#confirmBox .blue:hover span{	background-position:-195px bottom;}

#confirmBox .gray{				background-position:-200px top;text-shadow:1px 1px 0 #707070;}
#confirmBox .gray span{			background-position:-395px 0;}
#confirmBox .gray:hover{		background-position:-200px bottom;}
#confirmBox .gray:hover span{	background-position:-395px bottom;}
/*END Confirm window*/

.deactivate {
    float:right;
    font-size: 11px;
    font-weight: lighter;
}

.deactivateAdmin {
    float:right;
    font-size: 11px;
    font-weight: lighter;
    cursor: default;
    color:#958C8A;
    text-decoration: none;
}

.noImage{
    text-align: center !important;
    width: 100% !important;
}

.capitalize{
    text-transform: capitalize;
}

.profile-note {
    padding:10px 0px 0px 0px; 
    display:block; 
    font-size:12px;
}

.list-access-block{
    text-align:center; 
    display:block; 
    width:100%; 
    padding-left:290px;
}

.addthis_toolbox {
z-index: 10000000;
}

/*.captionTop1:hover .caption1 {
    display: block;
}*/

.caption1 {
    /*display:none;*/
    width: 160px;
    height: 15px;
    position: absolute;
    /*bottom: 20px;*/
    top:110px;
    left: 65px;
    z-index: 10;
    /*border: 1px red solid;*/
}

.captionInner1 {
    text-align:right;
    white-space: nowrap;
}

.captionInner1 a {
    color: #353535;
    font: 14px/15px ArchivoNarrow-Regular !important;
}

/*.captionTop2:hover .caption2 {
    display: block;
}*/

.caption2 {
    /*display:none;*/
    width: 160px;
    height: 15px;
    position: absolute;
    bottom: 18px;
    left: 375px;
    z-index: 10;
    /*border: 1px red solid;*/
}

.captionInner2 {
    text-align:right;
    white-space: nowrap;
}

.captionInner2 a {
    color: #353535;
    background: none !important;
    font: 14px/15px ArchivoNarrow-Regular !important;
}

/*.captionTop3:hover .caption3 {
    display: block;
}*/

.caption3 {
    /*display:none;*/
    width: 160px;
    height: 15px;
    position: absolute;
    bottom: 18px;
    left: 180px;
    z-index: 10;
    /*border: 1px red solid;*/
}

.captionInner3 {
    text-align:right;
    white-space: nowrap;
}

.captionInner3 a {
    color: #353535;
    background: none !important;
    font: 14px/15px ArchivoNarrow-Regular !important;
}

/*.captionTop4:hover .caption4 {
    display: block;
}*/

.caption4 {
    /*display:none;*/
    width: 160px;
    height: 15px;
    position: absolute;
    bottom: 18px;
    left: 375px;
    z-index: 10;
    /*border: 1px red solid;*/
}

.captionInner4 {
    text-align:right;
    white-space: nowrap;
}

.captionInner4 a {
    color: #353535;
    background: none !important;
    font: 14px/15px ArchivoNarrow-Regular !important;
}

/*.captionTop5:hover .caption5 {
    display: block;
}*/

.caption5 {
    /*display:none;*/
    width: 160px;
    height: 15px;
    position: absolute;
    bottom: 18px;
    left: 180px;
    z-index: 10;
    /*border: 1px red solid;*/
}

.captionInner5 {
    text-align:right;
    white-space: nowrap;
}

.captionInner5 a {
    color: #353535;
    background: none !important;
    font: 14px/15px ArchivoNarrow-Regular !important;
}

.caption .link{
    display:none;
}

#linkBlock{
    text-align:right;
    width: 160px;
    white-space: nowrap;
    position: absolute;
    left: 358px;
    top: 280px;
    z-index:999999;
}

#linkBlock a {
    color: #353535;
    background: none !important;
    font: 14px/15px ArchivoNarrow-Regular !important;
    text-decoration: underline;
}

/*.captionTop6:hover .caption6 {
    display: block;
}*/

.caption6 {
    /*display:none;*/
    width: 160px;
    height: 15px;
    position: absolute;
    bottom: 18px;
    left: 375px;
    z-index: 10;
    /*border: 1px red solid;*/
}

.captionInner6 {
    text-align:right;
    white-space: nowrap;
}

.captionInner6 a {
    color: #353535;
    background: none !important;
    font: 14px/15px ArchivoNarrow-Regular !important;
}

/*.captionTop7:hover .caption7 {
    display: block;
}*/

.caption7 {
    /*display:none;*/
    width: 160px;
    height: 15px;
    position: absolute;
    bottom: 18px;
    left: 180px;
    z-index: 10;
    /*border: 1px red solid;*/
}

.captionInner7 {
    text-align:right;
    white-space: nowrap;
}

.captionInner7 a {
    color: #353535;
    background: none !important;
    font: 14px/15px ArchivoNarrow-Regular !important;
}

/*.captionTop8:hover .caption8 {
    display: block;
}*/

.caption8 {
    /*display:none;*/
    width: 160px;
    height: 15px;
    position: absolute;
    bottom: 40px;
    left: 50px;
    z-index: 10;
    /*border: 1px red solid;*/
}

.captionInner8 {
    text-align:right;
    white-space: nowrap;
}

.captionInner8 a {
    color: #353535;
    font: 14px/15px ArchivoNarrow-Regular !important;
}

.caption10 {
    width: 160px;
    height: 15px;
    position: absolute;
    bottom: 20px;
    left: 190px;
    z-index: 10;
    /*border: 1px red solid;*/
}

.captionInner10 {
    text-align:right;
    white-space: nowrap;
}

.captionInner10 a {
    color: #353535;
    font: 14px/15px ArchivoNarrow-Regular !important;
    text-transform:capitalize;
}
