*{margin:0px;padding:0px;}
body
{
   background-attachment: fixed;background-color: #000000;;background-position: 0 0;background-repeat: no-repeat;background-size: cover;height: 100%;overflow-x: hidden;width: 100%;
}
 @font-face 
{
    font-family:ArchivoNarrow-Bold;
    src: url(../newcss/ArchivoNarrow-Bold.ttf) format('opentype');
}
 @font-face 
{
    font-family:ArchivoNarrow-Regular;
    src: url(../newcss/ArchivoNarrow-Regular.ttf) format('opentype');
}
 @font-face 
{
    font-family:FjallaOne-Regular;
    src: url(../newcss/FjallaOne-Regular.ttf) format('opentype');
}
@font-face 
{
    font-family:Century Gothic-Regular;
    src: url('../newcss/Century Gothic-Regular.ttf') format('opentype');
}
 

.header
{
    width: 100%;float:left;
}
.header_top
{
   width: 100%; height: 128px; float:left;background: url('../newimages/header_bg_top.png');background-repeat:repeat-x; 
}
.header_top_internal
{
    width: 985px;margin: 0 auto;padding-top:10px;height: 117px;
}
.headeer_logo
{
    float:left;
	padding-top:10px;
	width:320px;
}
.headeer_logo img
{
    border:none;
}
.headeer_logo a {
	display:block;
	width:151px;
	margin:0 auto;
}
.header_top_right
{
    width: 448px; float: right;
}
.header_top_right_existinguser_login
{
  float:left;width:auto;height:35px;
}
.header_top_right_existinguser_check
{
  float:left;width: 156px;;height:18px;padding-top:7px;
}
.header_terms_service
{
  float:left;width: 360px;;height:35px;padding-top:7px;
}
.termsservice_home
{
    color: #0C518B;
    float: left;
    font-family: ArchivoNarrow-Regular;
    font-size: 16px;
   
    text-align: right;
}
.name_homepage
{
    float: left;
    height: 18px;
    width: 100%;
}
.why_home
{
    color: #565656;
    float: left;
    font-family: ArchivoNarrow-Regular;
    font-size: 16px;
    line-height: 14px;
    padding-left: 7px;
    width: auto;
}
.existinguser_login
{
    color:#ffffff; font-family: FjallaOne-Regular;font-size: 17px;width:305px;margin-bottom:5px;
}
.header_top_inputs_one
{
    width:183px; height:25px;float:left;border-radius:5px; 
}
input
{
    width:164px;width:163px\9; height:23px;float:left;background: #ffffff; border-radius:5px;color:#a9a9a9; font-family: Arial; font-size: 12px;font-style:italic;padding-left:10px;border:none; 
}

.check
{
    float: left;width: 25px;margin-left:-2px;
}
.chbox
{
    border: medium none;
    height: 19px;
    width: 22px;
}
.spanradio_home
{
     border-radius: 5px 5px 5px 5px;
    float: left;
    height: 23px;
    width: 18px;
}
.keep_me_loggedin 
{
    float: left;text-align: left;width: auto;
}
.keep_me_loggedin span 
{
    color: #FFFFFF;float: left;font-family:ArchivoNarrow-Regular;font-size: 15px;line-height: 13px;list-style: none outside none;text-decoration: none;
}

.login_btn
{
    border-radius:5px;
    width:82px;
    float:right;
    background: url('../newimages/login_6.png') no-repeat;
    text-align: center;
     color:#17287c;
     font-family:FjallaOne-regular;
     text-decoration: none;
     font-size:17px;
     line-height:31px;
     padding-right: 11px;
     margin-top: -2px;
    padding-bottom: 3px;
}
.login_btn 
{
   
}
.login_btn:hover
{
    background: url('../newimages/login_6.png') no-repeat;background-position: 0 -31px;
}
.plussign_homepage
{
    background: url('../newimages/plus_1.png') no-repeat;
    height: 34px;
    width: 38px;
}
.plussign_homepage:hover
{
    background: url('../newimages/plus_1.png') no-repeat;background-position: 0 -37px;
}

.minussign_homepage
{
    background: url('../newimages/minus_2.png') no-repeat;
    height: 34px;
    width: 38px;
}
.minussign_homepage:hover
{
    background: url('../newimages/minus_2.png') no-repeat;background-position: 0 -37px;
}

.forgot_your_password
{
   float: left;text-align: left;width: auto; 
}
.forgot_your_password span
{
    color:#5fa2f6;font-family: ArchivoNarrow-Regular;font-size: 15px;text-decoration: underline; line-height: 25px;cursor: pointer;
}

.header_bottom
{
    float:left; background: none repeat scroll 0 0 #F0F5FB;;background-repeat:repeat-x;width:100%;height: 70px;
}
.header_bottom_internal
{
      width: 930px;margin: 0 auto;padding-top:18px;height: 52px;
}
.featured_list
{
    background: none repeat scroll 0 0 #061840;
    float: left;
    height: 51px;
    margin-left: 8px;
    padding: 1px 8px 0;
}
.featured_list span{
    color: #EDF1FD;
    
    font-size: 42px;
    text-decoration: none;
}
#wrapper
{
    width:960px;height: auto;margin: 0 auto;
}
#wrapper_new
{
    width:1015px;height: auto;margin: 0 auto;
}
.content
{
    width: 100%;float:left;height:auto;margin-left: 2px; margin-top: 18px;
}
.content_left
{
    background: none repeat scroll 0 0 white;
    float: left;
    height: 1061px;
    margin-left: 12px;
    margin-right: 20px;
    width: 562px;
}
.slider_part
{
    width:auto;float:left;height:355px;margin-left: 20px;
}
.header_bottom_internal_left
{
    background: none repeat scroll 0 0 white;
    float: left;
    height: 75px;
    margin-left: 14px;
    margin-top: 0;
    padding-top: 18px;
    width: 546px;
}

.text_part
{
    width: 511px;height: auto;float:left;padding-bottom:25px;padding-left:10px; margin-top: 25px;
}
.heading
{
    width: 100%;float:left;color:#021a40; font-family: FjallaOne-regular;font-size: 25px;
}
.heading_two {
     width: 100%;float:left;color:#021a40; font-size: 19px;font-family: ArchivoNarrow-Bold;padding-top:10px;
}
.internal_text
{
    width: 100%;float:left;height: auto;padding-top:10px;
}
.internal_text_text
{
    color:#595959;font-family: ArchivoNarrow-Regular !important;font-size: 15px;line-height: 28px;text-align: justify;
}
/*.content_right
{
    width: 384px;height: auto;float:right;padding-top:5px; margin-right: 135px;
}*/

.content_right
{
   
    float: left;
    min-height: 1064px;
    padding-left: 12px;
   
    width: 387px;
    padding-bottom: 5px;
}
.free_account_bg
{
    width: 375px; height:142px;float:left;background: url('../newimages/account_bg.png') no-repeat;margin-bottom:12px;box-shadow: -6px 7px 7px -7px;
}
.create_free_account
{
    width: 375px;float:left;text-align: center;padding-top:22px;height:42px;
}
.create_free_account span

{
    color:#ffffff;font-family:FjallaOne-Regular;font-size:26px;;text-transform: uppercase;text-decoration: none;
}
.personal_bg
{
    width: 149px;height: 42px;float:left; background: url('../newimages/personal.png') no-repeat; margin-left:17px;  text-align:  center;background-position: 0 0; cursor: pointer;    
}
.personal_bg span
{
    color:#17287c;font-family: FjallaOne-regular;text-decoration: none;font-size: 22px;line-height: 40px;
}
.personal_bg:hover
{
    background: url('../newimages/personal.png') no-repeat;background-position: 0 -46px;    
}
.or
{
    width:auto;float:left;
}
.or_title
{
  color:#ffffff; font-family: FjallaOne-Regular;font-size: 17px; padding-left:14px; line-height: 34px;
}
.company_bg
{
    width: 149px;height: 42px;float:left;background: url('../newimages/company_41.png') no-repeat; margin-left:15px;  text-align:  center;  cursor: pointer;   
}
.company_bg span
{
    color:#ffffff;font-family: FjallaOne-regular;text-decoration: none;font-size: 22px;line-height: 40px;
}
.company_bg:hover
{
    background: url('../newimages/company_41.png') no-repeat;background-position: 0 -46px
}

.content_right_bottom
{
    width:374px;height:auto;background: #ffffff;float:left;margin-top:5px;box-shadow: 0 0 3px 3px #A0A3A7;margin-bottom: 5px;
}
.content_right_internal
{
    width:355px;height:auto;float:left;padding: 15px;padding-bottom: 0px;
}
.name
{
    width: 100%;height:37px;float:left;
}
.my_name_is
{
    color:#565656;font-family: ArchivoNarrow-Regular;font-size: 16px;width:auto;
}
.first_name2
{
    width:100%;height: 60px; float:left;border-bottom:1px dashed #cbcbcb;
}
.first
{
    width:100px;height: 50px; float:left;
}
.first_name
{
    width:156px;width:167px\9;height: 40px; float:left; background: url('../newimages/input1.png') no-repeat;font-family: arial;font-size: 12px; margin-right:8px; line-height: 40px;
}
.last_name
{
    width:156px;height: 40px; float:left; background: url('../newimages/input1.png') no-repeat;font-family: arial;font-size: 12px;line-height: 40px;
}
.name2
{
    width: 100%;height:35px;float:left;border-bottom:1px dashed #cbcbcb;padding-top:10px;
}
.female
{
    font-size: 18px; color:#565656;font-family: ArchivoNarrow-Regular;float:left;padding-right: 5px;line-height:29px;
}

.radio
{
     float: left; height: 20px; margin-left: 6px; margin-top: 4px;width: 21px;

}
.btn
{
    float:left;width: 20px;width: 15px\9;padding-left: 3px\9;
}
.my_name_is2
{
    color:#565656;font-family: ArchivoNarrow-Regular;font-size: 16px;float:left;line-height:29px;
}
.male
{
    width:137px;float:left;
}
#LoginForm_password
{
    display: none;
}
.born
{
    color:#565656;font-family: ArchivoNarrow-Regular;font-size: 16px;width:100%;float:left;line-height: 23px;padding-top:10px;
}
.chbox2
{
    border: medium none;height: 15px;width: 25px;background-color:#021738;padding-left:0px\9;float:left;width:17px\9;
}
.email
{
    width:338px;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;line-height: 40px;
}
.mmail
{
    width:338px;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;line-height: 40px;
}
.emaill
{
    width:338px;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;line-height: 40px;
}
.eml
{
    width:336px;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;
}
.email_outer
{
    width:100%;float:left;height:57px;
}
.tell_your_friends
{
    width: 100%;float:left;height: 40px;padding-top:15px;
}
.plus
{
    width: 45px;height: 50px;float:left;
}

.plus img
{
    border:none;
}
.tell_your_friends_more
{
    width:auto;float:left;
}
.tell_your_friends_more a
{
    color:#494949;font-family:FjallaOne-regular;font-size: 25px;text-decoration: none;
}
.why
{
    width:auto;float:right;color:#565656;font-family: ArchivoNarrow-Regular;font-size: 16px;padding-left:7px;line-height:14px; 
}
.why a
{
    color: #0C518B; float: right;font-family: ArchivoNarrow-Regular; font-size: 16px;text-align: right;padding-left:7px;
}
.why a:hover
{
    
}
.why a span
{
    line-height: 30px;
}
.submit_bg
{
    width:125px;height: 40px;float:right;background: url('../newimages/submit.png') no-repeat;margin-top:22px;
     color:#17287c;font-family: FjallaOne-regular;text-decoration: none;font-size: 20px;line-height: 40px;
        
}
.submit
{
    width:118px;text-align: center;
}
.submit a
{
    color:#17287c;font-family: FjallaOne-regular;text-decoration: none;font-size: 20px;line-height: 40px;
}
.submit_bg:hover
{
    background: url('../newimages/submit_hover.png') no-repeat;
}
.footer
{
    width: 945px;margin: 0 auto;height:65px;clear:both;
}
.footer_top
{
    width: 100%;float:left;height:30px;background: url('../newimages/footer_border.png') no-repeat;
}
.footer_bottom
{
    width: 100%;float:left;height:30px;
   
}
.footer_bottom_copyright
{
    color:#565656;font-family: Archivo Narrow;font-size: 14px;text-align: center;
}
select.month
{
      float:left;width: 128px; 
   
}.bday_new
{
    
    background: url('../newimages/month.png') no-repeat scroll right center white;
    height: 41px;
    overflow: hidden;
    width: 128px !important;   float:left;margin-right:5px;
}
.month_new
{
    background: none repeat scroll 0 0 transparent;
    
    height: 39px;
    padding: 10px 8px 0;
    width: 156px !important; color:#a9a9a9;font-family: Arial;font-size: 12px;font-style: italic;
}

.bdate
{
    width: 100%;height:53px;float:left;padding-top: 5px; border-bottom: 1px dashed #CBCBCB;padding-bottom:7px;
}
.drop_down
{
    width:auto;height:20px;float:left;margin-left:-3px;margin-left:-6px\9;
}
.drop_down img
{
    border:none;
}
.day
{
     height:42px;width:98px; float:left;width:56px\9;
}.bday2_new
{
    
   background: url('../newimages/year.png') no-repeat;
    height: 41px;
    overflow: hidden;
    width: 108px !important;   float:left;margin-right: 10px;
}

.day_new
{
     height:40px; float:left;background: url('../newimages/year.png') no-repeat;width:56px\9; 
    padding: 10px;
    width: 137px !important; color:#a9a9a9;font-family: Arial;font-size: 12px;font-style: italic;
}
.day_new_month
{
     height:40px; float:left;background: url('../newimages/year.png') no-repeat;width:56px\9; 
    padding: 10px 10px 10px 4px;
    width: 137px !important; color:#a9a9a9;font-family: Arial;font-size: 12px;font-style: italic;
}
.bday3_new
{
    
  
    height: 60px;
    overflow: hidden;
    width:115px !important;   float:left;
}
.year_new
{
     height:41px;line-height: 40px;width: 137px; float:left;background: url('../newimages/input11.png') no-repeat;color:#a9a9a9;font-family: Arial;font-size: 12px;font-style: italic;margin-left: 2px; padding-left: 8px; width: 100px;
}

.bday
{
    width: auto;float:left;margin-right:7px;
}
/*select
{
    float:left;color:#a9a9a9;font-family: Arial;font-size: 12px;font-style: italic;height:39px;border:none;width: 107px;
    padding-top:11px;padding-left:5px;
}*/select {
    font-family: 'Viga', sans-serif;
    font-size:16px;
   padding: 5px 10px 5px 10px;
   border-radius: 8px;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor:pointer;display: inline-block !important;
}
.wide
{
    width:100px;
}
.menus
{
    width: 200px;float:left;
}

.drop2
{
    float: right;
    margin-top: -23px;margin-top: -30px\9;
    width: 10px;padding-right: 12px;cursor:pointer;
 
}
.option.select
{
    width: 100px;
}
#wrapper_web_pg
{
    width: 800px;height:728px;margin: 0 auto; background: #ffffff;border:3px solid #000000;
}
.header_web_pg_top
{
    width: 100%;float:left;
}
.header_web_pg_top_title
{
    text-align: center;color:#000000;font-family: geosanslight;font-size: 14px;text-align: center;font-weight: bold;
}
.header_web_pg
{
    width: 100%;height:75px;float:left;background: #c1c1c1;border-bottom:2px solid #000000;
}
.header_web_pg_left
{
    width: auto;float:left;padding-top:5px;padding-left:15px;
}
.header_web_pg_left img{
    margin-right: 5px; 
}
.header_web_pg_right
{
    width: auto;float:left;height: 30px;padding-left:10px;padding-top:8px;
}
#areatext
{
    width: 560px;float:left;background: #ffffff;height: 25px;border:2px solid #000000;color:#000000;font-family: arial;font-size: 14px;font-style: normal;
}
.find_area
{
    width:68px;height: 23px;float:right;padding-top:7px;
}
#find
{
    width: 60px;height: 23px;float:left;background: url('../newimages/search.png') no-repeat;padding-left:19px;
}
.web_pg_content
{
    width: 95%;height:auto;float:left;background: #ffffff;padding: 0 20px 0px 15px;
}
.web_pg_content_left
{
    width:415px;float:left;height: auto;
}
.suspendisse
{
    width: 100%;float:left;
}
.suspendisse_title
{
    color:#000000;font-family: Arial;font-size: 16px;padding-top: 15px;
}
.web_pg_content_right
{
    width: 321px; float:right;background: #eeeeee;height:auto;padding:12px;
}
.interest
{
    width:100%;float:left;height: 25px;
}
.interest_title
{
    color:#000000;text-align: center;float: left;font-family:arial;font-size: 14px;
}
#list
{
    width:100%;height: 45px; float:left;background: url("../newimages/email_bg.png") no-repeat scroll 0 0 transparent;font-family: arial;font-size: 12px;
}
#list8
{
     width:100%;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;
}

.inputs_outer
{
    width:100%;height: 60px; float:left;
}
.less
{
   width: 40px;float:left;height: 25px;
}
.tell_friends
{
    width:auto;float:left;padding-bottom:10px;
}
.tell_friends_title
{
    color:#000000;font-family: Arial;font-size: 20px;float:left;
}
.upload
{
   float:left;
}
.upload_me
{
    width: auto;float:left;padding-top:5px;height:30px;
}
.addmorespan
{
    color:#1460a3;font-family: Arial;font-size: 12px;padding-left:5px;text-decoration: underline;cursor: pointer;
}

.text_uplaod
{
    width: 105px; float:left;
}
.country
{
    width:100%;height: 30px; float:left;background: #ffffff;font-family: arial;font-size: 12px;border:2px solid #000000;
}
.degree
{
    width:100%;height: 30px; float:left;background: #ffffff;font-family: arial;font-size: 12px;border:2px solid #000000;
}
.mails_outer
{
    width:100%;float:left;
}
.fields
{
    width:100%;float:left;padding-bottom:12px;
}
.industry
{
    width:100%;height: 30px; float:left;background: #ffffff;font-family: arial;font-size: 12px;border:2px solid #000000;
}
.submit_bg2
{
    width:120px;height: 40px;float:right;margin-top:22px;cursor:pointer;
        
}
.footer_web_pg
{
    width: 100%;float:left;height: 50px;
}
.footer_web_pg_internal
{
    width:392px;margin:0 auto;
}
.menu
{
   width:550px;float:left; height:40px;padding-top:20px;
}
.menu ul
{
   width: 100%;float:left; 
}
.menu ul li
{
   list-style: none;width:auto;float:left;text-align: center;
}
.menu ul li a
{
   color:#1460A3;;font-family: arial;font-size: 12px;
}
.menu ul li a:hover{
    text-decoration: none;
}
.menu ul li a span{
    padding-left: 10px;
}
.border
{
    border-right: 2px solid #000000;padding-left: 10px;padding-right: 10px;
}
.bottom_color
{
    width: 100%;float:left;background: #c1c1c1;height:25px;border-top: 2px solid #000000;
}
.email_outer2
{
    width:100%;float:left;height:100px;
}
.country2
{
   width:338px;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;line-height: 40px;
}
.list2
{
     width:100%;height: 30px; float:left;background: #ffffff;font-family: arial;font-size: 12px;border:2px solid #000000;
}
.degree2
{
     width:338px;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;line-height: 40px;
}
.industry2
{
    width:336px;height: 30px; float:left;background: #ffffff;font-family: arial;font-size: 20px;border:2px solid #000000;font-style: normal;
}
.agree
{
    width:auto;float:right;color:#565656;font-family: arial;font-size: 12px;padding-left:7px;line-height:14px; 
}
.agree a
{
    color: #0C518B; float: right;font-family: arial; font-size: 12px;text-align: right;padding-left:7px;
}
.agree a:hover{
    text-decoration: none;
}
.list4
{
    width:100%;height: 30px; float:left;background: #ffffff;font-family: arial;font-size: 20px;border:2px solid #000000;font-style: normal;
}
.tell_about_friends
{
    width:100%;height: 57px; float:left;border-bottom:1px dashed #cbcbcb;padding-top: 10px;
}
.details_hide
{
    float: left;height:auto;
    width:374px;background: #ffffff;box-shadow: 0 3px 3px #A0A3A7;padding-top: 0px;
}
.content_right_internal2
{
    width:344px;height:auto;float:left;padding: 15px;background: #ffffff;box-shadow: 0 3px 3px #A0A3A7;   padding-top: 0px;
}
.industry5
{
   width:338px;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;line-height:40px; 
}
#LoginForm_email
{
    line-height:20px; 
}
#LoginForm_password1
{
    line-height:20px; 
}

.details
{
    float: left;height:auto;
    width:384px;background: #ffffff;box-shadow: 0 3px 3px #A0A3A7;padding-top: 0px;
}
.typings
{
     width:336px;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;
}


.first_name2_interst
{
	border: 1px solid #e8e8e8;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	-webkit-box-shadow: inset 4px 5px 5px -2px rgba(216,216,216,1);
	-moz-box-shadow: inset 4px 5px 5px -2px rgba(216,216,216,1);
	box-shadow: inset 4px 5px 5px -2px rgba(216,216,216,1);
    float: left;
    font-family: arial;
    font-size: 12px;
    min-height: 38px;
    width: 311px;
}

.first_name2_interst.error {
	-webkit-box-shadow: inset 4px 4px 7px -2px #FA3737;
	-moz-box-shadow: inset 4px 4px 7px -2px #FA3737;
	box-shadow: inset 4px 4px 7px -2px #FA3737;
	border: 1px solid #FA3737;
}
.typingds_start
{
    margin-top: 1px;
    padding-left: 0px;
    width: 175px;
    
}
.first_name2_interst ul
{
    margin: 9px 0 0 12px;
}
.first_name2_interst ul li
{
    list-style: none;
}
.first_name2_interst ul span
{
    float: left;  
    padding-right: 6px;
}
.first_name2_interst ul a
{
    text-decoration: none;
}

.first_name2_interst ul span li
{
    background: none repeat scroll 0 0 #DDEEFE;
    border-color: #C0D9E9 #ACC3EC #ACC3EC;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    float: left;
    padding: 3px 4px;
    margin-right: 5px;
    margin-bottom: 1px;
}
.first_name2_interst ul span li span
{
     padding-right: 7px;
}
.loding_image_li
{
    float: left;
    margin-top: 3px;
    display: none;
    margin-right: 5px;   
}
.home_ulli_interest
{
    background: none repeat scroll 0 0 #e0e0e0 /*#95BCF2*/;
    border-radius: 5px 5px 5px 5px;
    color: #565656;
    font-size: 18px;
    margin-top: 18px;
    position: absolute;
    width: 336px;
    z-index: 5;
    font-family: ArchivoNarrow-Regular;
    font-size: 16px;
}
.interest_div_li
{
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;    
    padding: 3px 5px;
}

.interest_div_li.active{background-color: #ddd875;color: white;}
.first_name2_interst ul li div ul 
{
    margin: 9px 0 0 1px;
}
.born_interest
{
    color: #565656;
    float: left;
    font-family: ArchivoNarrow-Regular;
    font-size: 16px;
    line-height: 23px;
    padding-top: 10px;
    
}
.born_show
{
    color: #0C518B;    
    float: right;
    font-family: ArchivoNarrow-Regular;
    font-size: 16px;
    line-height: 23px;
    padding-top: 10px;
    text-decoration: underline;    
}
.show_avl_div
{
    background: none repeat scroll 0 0 #E0E0E0;
    border-radius: 3px 3px 3px 3px;
    color: #565656;
    height: 290px;
    margin-left: -145px;
    margin-top: -3px;   
    padding: 5px;
    position: absolute;
    width: 181px;
}
.selectallcheckbox
{
    float: left;
    height: 34px;
    width: 180px;
}
.div_scroll
{
     float: left;
    height: 250px;
    overflow: auto;
    width: 183px;
}
.checkbox_show
{
    padding: 0;
    width: 24px;
}

.checkbox_show_com
{
    padding: 0;
    width: 24px;
}

.checkbox_show_select
{
    padding: 0;
    width: 24px;
}
.interest_div_CHECK
{
    float: left;
    width: 100%;
}
.interest_span_div
{
    float: left;
    width: 135px;
}
.interestapply
{
    color: #0C518B;
    float: left;
    margin-bottom: 8px;
    margin-top: 8px;
    text-align: center;
    width: 100%;
    display:none;
}
.searchspan
{
    background: none repeat scroll 0 0 #888888;
    border-radius: 5px 5px 5px 5px;
    color: white;
    padding: 3px 4px;
    cursor: pointer;
}

.searchspan_listtypr
{
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}
.applyinterest
{
    background: none repeat scroll 0 0 #888888;
    border-radius: 5px 5px 5px 5px;
    color: white;
    height: 16px;
    padding: 5px 12px;
}
.userimg_home
{
     float: left;
    margin-top: 8px;
}
.myimage_home{
    float: left;
    width: 36%;
    height: 75px;
}
.city_state_error
{
    color: red;
    float: left;
    margin-left: 3px;
    margin-top: 3px;
    width: 354px;
     font-size: 15px;
    font-family: ArchivoNarrow-Regular;
}
.addmorediv
{
    background: none repeat scroll 0 0 #E0E0E0;
    border-radius: 3px 3px 3px 3px;
    color: #565656;
    margin-left: 2px;
    margin-top: 0px;
    padding: 5px;
    position: absolute;
    width: 125px;
}
.addmore_span_div
{
    float: left;
    width: 100px;
}
.addmore_divvalue
{
    /*background: none repeat scroll 0 0 #e0e0e0;*/
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 35px;
    margin-left: 1px;
    margin-top: 3px;
    width: 346px;
}
.hiddenaddmore
{
    margin-left: 4px;
    margin-top: 5px;
    width: 95%;
}
.errordiv_submit
{
    color: red;
    float: left;
    font-family: ArchivoNarrow-Regular;
    margin-left: 7px;
    margin-top: 16px;
    width: 100%;
}
.numaicclass
{
    color: red;
    float: left;
    font-size: 12px;
    font-family: ArchivoNarrow-Regular;
     margin-left: 6px;
    display: none;    
    
}

.imageurluolod
{
    height: 70px;
    width: 80px;
}
.lodinf_uplod
{
    margin-left: 15px;
    margin-top: 15px;
}
.submit_loding
{
    height: 25px;
    margin-left: 4px;
    margin-top: 6px;
    width: 25px;
    display: none;
}
.homesliderbg
{
    float: left; 
	bottom: 44px; 
	padding: 8px 0 8px 12px;
	width: 100%; 
	background: url("../newimages/rectangle.png") no-repeat scroll 0 0 transparent;
	
	color: black;
	position: absolute;
}
.homesliderbg  p {
color: #021a40;
	font-family: FjallaOne-regular;
	font-size: 25px;
	width:480px;
}
.recaptchatable
{
    line-height:0px!important;
}
.registersucess
{
    color: green;
    float: left;
    font-family: ArchivoNarrow-Regular;
    margin-left: 7px;
    margin-top: 10px;
    width: 100%;
    display: none;
}


















