
.clear{
clear:both;
}
a{
color:#256c89;
}

/*****************parveen********************/



.forgotpasdiv1
{
    float: left;
    width: auto;
    padding: 10px 5px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.forgotpasdiv2
{
    float: left;
    height: 50px;
    width: 150px;
    padding-top: 8px;
}
.forgotpass
{
    padding: 40px 0 0px 60px;
    height: auto;
    width: auto;
}

.forgotpasword
{
    height: auto;
    width: auto;
    font-size: 20px;
    color: black;
    padding: 33px 10px 15px 60px;
}
.rightcontentmaindiv2
{
   height: auto;
   width: 606px;
   float:left;
   padding-top: 50px;
}
.register_name
{
    float: left;
    height: 50px;
    padding: 10px 0 0 4px;
    width: 49%;
}

.register_name_div1
{
    float: left;
    width: auto;
    padding: 10px 98px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.register_submit
{
    float: left;
    height: auto;
    width: 82px;
    padding-left: 217px;
}
.refresh_twiit
{
    float: left;
    height: 50px;
    text-align: right;
    width: 100%;
}
.facebook_connect
{
    cursor: pointer;
    float: left;
    height: 26px;
    margin-top: -3px;
    width: 161px;
    /*background:  url("../images/connectwithfacebook.gif") transparent; */
}
.fac_a_con
{
    text-decoration: none;
}

.submits_login
{
    float: left;
    width: 120px;
    height: 30px;
}

.register_submitw
{
    float: left;
    height: 29px;
    width: 51%;
}

.register_name_div_first
{
    float: left;
    width: auto;
    padding: 4px 82px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.register_name_div_second
{
    float: left;
    width: auto;
    padding: 10px 78px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}

.register_name_div_secondii
{
    float: left;
    width: auto;
    padding: 10px 75px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.forgot_div_email
{
    float: left;
    width: auto;
    padding: 10px 120px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}

.forgot_div_reemail
{
    float: left;
    width: auto;
    padding: 10px 29px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.register_name_div4
{
    float: left;
    width: auto;
    padding: 10px 101px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}

.register_name_div5
{
    float: left;
    width: auto;
    padding: 10px 93px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.forgot_div_pas
{
    float: left;
    width: auto;
    padding: 10px 52px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.email_div_pas
{
    padding-right: 28px;
}



/**********************Message Section *****************************/
.main_inbox
{
    float: left;
    min-width: 100%;
    height: auto;
    color: #555555;
    background: none repeat scroll 0 0 #EFEFEF;
}

.navigation_side
{
    float: left;
    width: 210px;
    height: auto;
}
.navigation_side_ul
{
    float: left;
    height: auto;
    margin-left: 32px;
    margin-top: 38px;
    width: 24%;
}
.nav_div_a
{
    background-color: #FAEE54;    
    border-radius: 7px 7px 7px 7px;
    color: #403F34;
    float: left;
    font-size: 22px;
    height: 28px;
    margin-bottom: 15px;
    padding-top: 11px;
    text-align: center;
    width: 130px;
}
.activetab
{
    background-color: #F8BD2F;
    border-radius: 7px 7px 7px 7px;
    color: #403F34;
    float: left;
    font-size: 22px;
    height: 28px;
    margin-bottom: 15px;
    padding-top: 11px;
    text-align: center;
    width: 130px;
}


.nav_a_con:hover
{
    text-decoration: none;
}
.content_inbox
{
    float: left;
    width: 700px;
    height: auto;
    margin-top: 38px;
    font-family: Geosanslight;
}
.bordered-table
{
  font-size: 22px; 
  width: 680px;
  border: none;
}
th.from-to
{
    width: 185px;  
}
.dromdiv
{
    background-color: #789BDA;
    color: white;
    float: left;
    font-family: Znikomit;
    height: 38px;
    padding-left: 12px;
    padding-top: 12px;
    width: 203px;
}

.zebra-striped tbody tr:nth-child(2n+1) th
{
    background-color: #789bda;
    color: white;
    font-family: Znikomit;
}
.bordered-table th + th, .bordered-table td + td, .bordered-table th + td
{
    border-left: none;
}
.messagecontent_color
{
    color: #9797A5; width: 200px;
}
.zebra-striped tbody tr td, .zebra-striped tbody tr th
{
     background-color: white;
}
.zebra-striped tbody tr:hover td
{
    background-color: white;
}
table td
{
    border-top: none;
}
.message_h2inbox
{
    font-size: 40px;
    margin: 10px 0 0 36px;
    font-family: Znikomit;
    font-weight: bold;
}
.div_table_overflow
{
    float: left;
    height: 393px;
    overflow: auto;
    width: 697px;
    margin-bottom: 30px;
    background: none repeat scroll 0 0 white;
}
.pagination a
{
    border: 0px;
    text-decoration: underline;
    padding: 0 6px;
}
.pagination ul
{
    border: none;
    box-shadow:none;
}
.pagination .pager .first
{
    font-size: 0px;
}
.pagination a:hover, .pagination .active a
{
    background: none;
}
.pagination .pager .page
{
    font-size: 0px;
}
.pagination .pager .last
{
    font-size: 0px;
}

.pagination .pager .previous
{
    font-size: 30px;
    text-decoration: underline;
    color: #646472;
    font-family: Znikomit;
    font-weight: bold;
    
}
.pagination .pager .previous a
{
    /*background:url("../images/freeworld/paginationarrow.png") no-repeat;*/
}
.pagination .pager .next
{
    font-size: 30px;
    text-decoration: underline;
    color: #646472;
    font-family: Znikomit;
    font-weight: bold;
}

.delete_selected_inbox
{
    float: left;
    width: 250px;
}
.inbox_div
{   
    position: relative;
    border: 1px solid #C9E0ED;
    height: auto;
    margin: 5px auto;
    /*margin: 5px auto 0 304px;*/
    width: 950px;   
}
.backgrounddiv
{
    background-color: white;
    border-color: #C9E0ED;
    border-left: 1px solid #C9E0ED;
    border-style: solid;
    border-width: 3px 1px 1px;
    float: left;
    height: auto;
    width: 100%;
}
.compose_div1
{
    float: left;
    height: 37px;
    margin-left: 44px;
    margin-top: 6px;
    width: 577px;
}

.nav_a_congg:hover
{
   text-decoration: none; 
}

.compose_div2
{
    float: left;
    height: 35px;
    margin-left: 5px;
    margin-top: 6px;
    width: 569px;
}
.compose_div3
{
    float: left;
    height: 165px;
    margin-left: 14px;
    margin-top: 6px;
    width: 643px;
}
.menu_message
{
    float: left;
    padding: 9px 0 0 25px;
    width: 60px;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;   
    text-decoration: none;
}

.menu_messagediv1
{
        color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}
.menu_messagediv1:hover
{
    color: #6399cd;
    background-color:#EFF4FA;
    text-decoration:none;
   
}

.menu_messagediv2
{
    float: left;
    padding: 8px 0 0 23px;
    width: auto;    
}
.menu_messagediv3
{
    float: left;
    padding: 9px 0 0 0px;
    width: auto;    
}
.menu_messagediv5
{
    float: left;
    padding: 8px 0 0 0px;
    width: 115px;    
}
.mainmenudiv
{
    background:white url(bg.gif) repeat-x left top;
    height: 28px;
    width: 100%;
    margin-top: 20px;
}
.footerdiv
{
    height: 50px;
    width: 100%;
    float: left;
    border-top: 1px solid #C9E0ED;
    text-align: center;
    padding-top: 10px;
    font-size: 0.8em;
}
.menu_meslogout
{
    float: left;
    padding: 8px 0 0 0px;
    width: auto;    
}
.menu_mess_select
{
        color: #6399cd;
        background-color:#EFF4FA;
	font-size:12px;
	font-weight:bold;
        text-decoration:none;
	padding:5px 8px;
}

.menu_mess_select:hover
{
    text-decoration: none;
}
.menu_message_par
{
     float: left;
    padding: 8px 0 0 0px;
    width: 72px;
}
.connectionfacebook
{
    text-decoration: none;
}
.connectionfacebook:hover
{
    text-decoration: underline;
}
.userprofilemain
{
    height: auto;
    width: 100%;
    float: left;
}
.usernamediv2
{
    float: left;
    height: 30px;
    width: auto;
}
.usernamediv1
{
    float: left;
    height: 30px;
    width: 128px;
}
.usernamediv
{
    float: left;
    font-size: 22px;
    height: 50px;
    width: 47%;
}
.userprofilelower
{
    display: none;
    float: left;
    height: auto;
    width: 100%;
}
.mainouterdiv
{
    float: left;
    height: auto;
    width: 100%;
}
.mainouterdivtake
{
    float: left;
    height: auto;
    padding-left: 70px;
    padding-top: 35px;
    width: 85%;
}
.outerdiv1
{
    float: left;
    height: auto;
    width: 410px;
}
.outer_show
{
    float: left;
    height: auto;
    width: 215px;
}
.list_name
{
    padding-left: 20px;
    height: 60px;
    min-width: 205px;
}
.list_name_div
{
    color: #256C89;
    float: left;
    font-size: 16px;
    height: 46px;
    padding-left: 10px;
    padding-top: 10px;
    width: 97px;
}

.list_image_div
{
    float: left;
    height: 42px;
    width: 72px;
}
.list_title_div
{
    border-top: 1px solid #434244;
    border-left:  1px solid #434244;    
    float: left;
    height: auto;
    width: auto;
    margin-left: 21px;
    
}
.titlediv
{
    background-color: #95BCF2;
    border-right: 1px solid #434244;
    border-bottom: 1px solid #434244;
    float: left;
    height: 50px;
    text-align: center;
    width: 80px;
    word-wrap: break-word;
    font-size: 16px;
}

.titlediv_editlist
{
    background-color: #95BCF2;
    border-bottom: 1px solid #434244;
    border-right: 1px solid #434244;
    float: left;
    height: 30px;
    text-align: center;
    width: 141px;
    word-wrap: break-word;
}


.title_other
{
    float: left;
    width: 100px;
    height: 30px;
    border-bottom: 1px solid #434244;
}
.list_title_div1
{
    float: left;
    height: 100px;
    width: 340px;
}

.listnew_title_div1
{
    float: left;
    height: 45px;
    width: 700px;
}
.list_image_div1
{
    float: left;
    height: 55px;
    width: 340px;
}

.list_lable
{
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0 85px 2px 1px;
    width: auto;
}
.name_lable
{
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0 74px 2px 1px;
    width: auto;
}
.image_lable
{
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0 75px 2px 1px;
    width: auto;
}
.listmaindiv
{
    float: left;
    height: auto;
    width: 600px;
}
.row_lable
{
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0 22px 2px 1px;
    width: 65px;
}
.coulmn_lable
{
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0 2px 2px 1px;
    width: auto;  
    
}

.row_textfild
{
    float: left;
    height: 45px;
    min-width: 125px;
}

.row_namefild
{
    float: left;
    font-size: 18px;
    height: 45px;
    margin-top: 21px;
    min-width: 125px;
    padding-left: 14px;
}

.addrowdiv
{
    float: left;
    width: 215px;
    height: 30px;
}
.addcoldiv
{
    float: right;
    width: 262px;
    height: 30px;
}

.validtitle
{
    display: none;
    float: left;
    width: 190px;
}
.invalidtitle
{
    display: none;
    float: left;
    width: 190px;
}
.lastadddiv
{
    color: red;
    display: none;
    float: left;
    height: 20px;
    padding-bottom: 25px;
    padding-left: 8px;
    width: 170px;
}
.lastcoldiv
{
    display: none;
    float: left;
    height: 20px;
    width: 260px;
    color: red;
}
.submitdiv
{
    float: left;
    height: 50px;
    width: 100%;
}

.list_row_div1
{
    float: left;
    min-height: 42px;
    width: 380px;
}
.list_coulmn_div1
{
    float: left;
    min-height: 42px;
    width: 406px;
}
.dynamicrow
{
    margin-left: 58px; margin-bottom: 13px;
}
.dynamiccol
{
    margin-left: 58px; margin-bottom: 13px;width: 140px;
}

.list_show
{
    float: left;
    height: 20px;
    width: 100px;
}
.textdecoration
{
    text-decoration: none;
}
.listtake
{
    height: 31px;
    padding-left: 11px;
    width: 90px;
    float: left;
}
.outer_see_list
{
    float: left;
    height: auto;
    width: auto;
    margin-bottom: 40px;
    margin-right: 40px;
}
.maintable
{
    float: left;
    height: auto;
    width: auto;
}
.column_div
{
    border-bottom: 1px solid #434244;
    border-right: 1px solid #434244;
    float: left;
    height: 50px;
    width: 80px;
    text-align: center;
    word-wrap: break-word;
    font-size: 16px;
}


.column_div_editlist
{
    border-bottom: 1px solid #434244;
    border-right: 1px solid #434244;
    float: left;
    height: 32px;
    margin-top: -2px;
    text-align: center;
    width: 141px;
    word-wrap: break-word;
    font-size: 16px;
}


.row_div
{
    border-bottom: 1px solid #434244;
    border-right: 1px solid #434244;
    float: left;
    min-height: 90px;
    /*height: 50px;*/
    width: 80px;
    text-align: center;
    word-wrap: break-word;
    font-size: 16px;
}

.row_div_editlist
{
    border-bottom: 1px solid #434244;
    border-right: 1px solid #434244;
    float: left;
    height: 34px;
    text-align: center;
    width: 141px;
    margin-top: -2px;
    word-wrap: break-word;
    font-size: 16px;
}

.tablediv
{
    height: auto;
    width: auto;
    margin-bottom: 0px;
}
.latest_image
{
    float: left;
    height: 55px;
    width: 85px;
}
.latest_title
{
    float: left; height: 60px; width: 80px;
}

.latest_title_cre
{
     height: 22px; width: 141px;
}

.latest_title_div
{
    word-wrap: break-word; height: auto; width: 127px; float: left;
}
.outer_latest_title
{
    float: left; height: auto; width: auto;
}
.outer_latesttitle_div
{
    float: left;height: auto;width: 322px;
}
.img_outer
{
    float: left; height: auto; width: 90px;
}
.outerdiv11
{
    float: left;
    height: auto;
    width: 300px;
}
.titlete_textfild
{
    background-color: #95BCF2;
    min-height: 30px;
    min-width: 73px;
    text-align: center;
    word-wrap: break-word;
}

#myTable td 
{
    border: 1px solid;
    padding: 0;
    width: 15%;
}

.flashcontact
{
    float: left;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    width: 100%;
}
.outer_see_list_other
{
    float: left;
    margin-bottom: 20px;
    min-height: 375px;
    min-width: 420px;
    padding-left: 20px;
    padding-right: 20px;
}
.requretitle
{
    color: red;
    display: none;
    float: left;
    padding-left: 6px;
    width: 122px;
}
.showmor_take
{
    cursor: pointer;
    float: right;
}
.search_res
{
    padding-top: 13px; word-wrap: break-word; min-width: 45px;float: left; height: 42px;
}
.email_submit
{
    float: left;height: 30px; padding-left: 160px; padding-top: 22px; width: 27%;
}
.cancel_email
{
    float: left; margin-top: 21px;
}
.cursorpointer
{
    cursor: pointer;
}
.flash-email
{
     font-size: 22px;
     /*background-color: #EFF5EA; */
     border-radius: 7px 7px 7px 7px; 
     color: #3D6611;
     float: left;     
     font-weight:bold; 
     height: 35px;
     padding-left: 35px;
     padding-top: 10px;
     width: 480px;
}
.search_list
{
    float: left; height: 40px; width: 61%;
}
.search_list_div1
{
    float: left; width: 190px; height: 30px;
}
.search_list_div2
{
    float: left;width: 20%;
}
.search_list_div3
{
    float: left;display: none; color: red;
}
.search_list_input
{
    height: 24px; width: 165px;
}
.my_listdiv
{
    float: right; width: 147px; height: 24px;
}
.image_mylist
{
    height: 40px; width: 55px;
}
#textdecoration
{
    text-decoration: none;
}
.floatright
{
    float: right;
}
.floatleft
{
    float: left;
}
.takelist_imagessss
{
    width: 115px; height: 74px;
}
.addrow_takelist
{
    cursor: pointer; padding-right: 15px;float: left;
}
.cursorpointer_remove
{
    cursor: pointer;display: none;
}
.addcol_take
{
    cursor: pointer; padding-right: 15px;float: left;
}

.showmor_take_detail
{
    cursor: pointer;
    float: right;
}
.detail_take
{
    float: left; width: 90%;
}
.search_list_page
{
    float: left; width: 70%; padding-top: 19px; height: 80px; padding-left: 35px;
}
.search_list_inputdiv
{
    float: left; height: 30px; width: 430px;
}
.search_show
{
    width: 65%;margin-bottom: 35px;background: none repeat scroll 0 0 #F5F5F5;padding: 15px 0;border-radius: 7px; height: auto;float: left;
}
.search_img
{
    float: left; width: 96%;
}
.search_name_div
{
    color: #256C89; float: left;font-size: 16px; height: 46px; padding-left: 10px;padding-top: 10px; word-wrap: break-word; width: 70%;
}
.search_title_cre
{
     height: 22px; width: 117px;float: left;
}
.search_image_div
{
    float: left;height: 42px;width: 72px;margin-top: -7px;
}
.listtake_insearch
{
    height: 31px;padding-left: 18px; width: 96%; float: left;
}
.paging_insearch
{
    float: left; width: 50%; height: 35px;
}
.nofound_insearch
{
    text-align: center; font-size: 17px; height: 45px;
}
.backsuggestion
{
    float: left; height: 35px; width: 100%;
}
.inputtake
{
    height: 28px;
}
.connecttwitter
{
    float: left; height: 30px;width: 100%;
}
.twitterconnectdiv
{
    float: left; width: 100%; font-family: arial; color: rgb(92, 92, 92); font-size: 26px; height: 45px;
}
.register_gender
{
    width: 170px; height: 24px;
}
.register_loding_img
{
    float: left; width: 20px; height: 20px; margin-left: 4px;margin-top: 13px; display: none;
}
.emailexist
{
    float: left; height: 25px; width: 254px; color: red; margin-top: -17px;display: none;
}
.editprofile_btn
{
    float: left; width: 650px; 
}
.editprofile_anchor
{
    float: left; width: 190px;
}
.crew_save
{
    float: left; width: 85px; 
}
.flash-savesuccess
{
    float: left;
}
.crew_outer
{
    background: none repeat scroll 0 0 #F5F5F5; border-radius: 7px 7px 7px 7px; float: left;  height: auto;width: 600px; margin-bottom: 25px;
}
.crew_first
{
    float: left; height: 54px;padding: 15px 0 0 30px; width: 95%;
}
.crew_second
{
    float: left;  height: 35px;padding-left: 30px;  width: 95%;
}
.crew_name
{
    float: left; height: 40px; width: 100%;
}
.crew_name_div
{
    float: left; width: 81px; height: 30px;
}
.crew_name_div2
{
    float: left; width: auto; padding-right: 25px; height: 30px;
}
.crew_name_img
{
    float: left; height: 42px; width: 125px;margin-top: -10px;
}
.nocrew
{
    font-size: 18px; height: 33px;  text-align: center;
}
.crew_profilesee
{
    float: left; height: 30px; width: 150px;
}

.flash-removecrew
{
    float: left;font-size: 15px; height: 30px; padding-left: 10px;
}
.listlogin_div
{
    float: left; width: 90%; height: 35px; font-size: 16px; padding-top: 30px; padding-left: 50px;
}
.listlogin_div1
{
    text-align: center; float: left; height: 63px; font-size: 16px; width: 100%;
}
.listlogin_div_yes
{
    float: left; text-align: center; width: 66%; font-size: 16px;
}
.listlogin_div_no
{
    float: left; width: 16%; font-size: 16px;
}

.lodinggifcrew
{
    float: left; width: 20px; height: 20px; margin-top: 2px; margin-left: 5px;display: none;
}


/*************Forgot password*******************/

.forgot_pass_div1
{
    height: 50px; width: 100%; font-size: 22px;
}
.forgot_pass_div2
{
    float: left; height: 28px; margin-left: 50px; width: 450px;
}
.forgot_pass_span
{
    padding-right: 30px;font-size: 22px;
}
.forgot_pass_div3
{
    float: left; color: red; padding-left: 50px;height: 35px; width: 70%;display: none;
}
.flashforgot
{
    float: left; font-size: 22px; height: 35px;padding-left: 48px;width: 90%;
}

/*************Change password********************/

.change_password
{
    font-size: 16px; padding-right: 24px;
}
.change_password2
{
    font-size: 16px; padding-right: 2px;
}
.changepassword_submit
{
    text-align: center; width: 65%; float: left;
}
.flash-passwordsuccess
{
    float: left; font-size: 15px; color: black; text-align: center; height: 39px; width: 38%;
}
.notification_outer
{
    background: none repeat scroll 0 0 #e3e9ef; border-radius: 7px 7px 7px 7px; float: left;  min-height: 30px;width: auto; padding-right: 30px; margin-bottom: 10px;
}
.notification_message
{
    margin-top: 4px; margin-left: 10px; float: left;
}
.notification_time
{
    padding-right: 10px;
}
.notification_span
{
    padding-right: 25px;
}
.notification_span a 
{
    text-decoration: none;
}
.notification_outer_white
{
    background: none repeat scroll 0 0 #F5F5F5; border-radius: 7px 7px 7px 7px; float: left;  min-height: 30px;width: auto; padding-right: 30px; margin-bottom: 10px;
}
.notification_outer_unread
{
    background: none repeat scroll 0 0 #CAD1DE; border-radius: 7px 7px 7px 7px; float: left;  min-height: 30px;width: auto; padding-right: 30px; margin-bottom: 10px;
}
.not_out_div
{
    float: left; height: auto; width: 100%;
}
.register_location
{
    float: left; height: 50px; padding: 10px 0 0 4px; width: 100%;
}

.location_regi
{
    float: left; height: 50px;width: 540px;color: #666666; font-weight: bold;
}
.flash-imageonregister
{
    color: red; float: left;font-size: 15px;height: 39px; width: 65%;
}
.creategp_div2
{
    float: right;padding-left: 2px; padding-top: 25px; width: 72%;
}

.creategp_div1
{
    text-align: center; padding-top: 15px;
}
.creategp_img
{
    padding-right: 10px; cursor: pointer;
}
.group_name
{
    float: left; width: 100%; height: 20px; margin-bottom: 8px; font-size: 15px; font-weight: bold;
}
.addmembers_div
{
    float: left; height: 60px; min-width: 30%;
}
.addmembers_check
{
    vertical-align: top;
}
.addmembers_span
{
    padding-left: 10px; vertical-align: top;
}
.forgotpasinput
{
  height: 20px;width: 170px;color: #A4A4B0;
}

.forgotpasinput_multy
{
  width: 170px; color: #A4A4B0;
}

.password_register
{
  height: 20px;width: 170px;margin-top: 7px;
}
.image_upload_reg
{
  height: 25px;width: 230px;color: #A4A4B0;
}
.seemember_div1
{
    float: left; min-width: 210px; height: 85px;
}
.minmoti_check
{
    color: white; width: 20px; margin-left: 615px; text-align: center;background:url("../images/round.png") no-repeat ;
}
.flashonregister
{
   color: #3D6611;float: left;font-size: 22px;font-weight: bold; height: 45px;padding-left: 25px;padding-top: 10px;width: 95%;font-family: Znikomit;
}
.messagemoti_check
{
    color: white; width: 20px; margin-left: 618px; margin-top: 20px;text-align: center;background:url("../images/round.png") no-repeat ;
}
.delete_select_mess
{
    border-radius: 7px 7px 7px 7px;
    color: #403F34;
    font-size: 22px;
    height: 40px;
    width: 150px;
    background: none repeat scroll 0 0 #F6F175;
}
.latestlists
{
    float: left;height: auto;width: 900px;
}
.latestlists_show
{
    float: left; height: auto; width: auto; margin-bottom: 60px;
}
.mylist_mydata
{
    float: left;padding-right: 25px;
}
.change_pass_div2
{
    float: left; height: 28px; margin-bottom: 15px; margin-left: 50px; width: 410px;
}
.changepas_span
{
    color: red;
    display: none;
    padding-left: 50px;
    width: 470px;
}

.requretitle_select
{
    color: red;
    display: none;
    float: left;
    padding-left: 25px;
    padding-top: 10px;
    width: 133px;
}
.invite_messdiv1
{
    float: left;
    width: 400px;
    height: auto;
}
.invite_messdiv2
{
    font-size: 16px;
    height: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.messge_invi_enter
{
    float: left; width: 135px;
}
.display_invi
{
    display: none;
    width: 100%;
    height: auto;
}
/**********Poll Creation************/
.create_poll
{
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;    
}
.removeans
{
    cursor: pointer;display: none; padding-right: 20px;float: left;padding-bottom: 20px;
}
.addans
{
    padding-right: 20px;cursor: pointer; float: left;padding-bottom: 20px;
}
.mypolls_latest
{
    float: left;
    height: auto;
    width: 380px;
}
.mypolls_user_image
{
    float: left;
    height: 50px;
    width: 80px;
}
.mypolls_user_question
{
    float: left;
    height: auto;
    padding-right: 15px;
    width: 210px;
    word-wrap: break-word;
}
.mypolls_user_createdby
{
    float: left;
    margin-top: 15px;
}
.mypolls_user_votes
{
    background-color: #BFD4FF;
    border: 1px solid #519CC6;
    border-radius: 5px 5px 5px 5px;
    float: left;
    text-align: center;
    width: 65px;
    cursor: pointer;
}
.textaline
{
    text-align: center;
}
.mypolls_user_votes_span
{
    display: block;
    padding-top: 5px;
    text-align: center;
}
.maindiv_poll
{
   
    float: left;
    height: auto;
    padding: 10px 1px 20px 0;
    width: 100%;
}
.mypolls_user_ques_div
{
    float: left;
    font-size: 16px;
    width: 100%;
    word-wrap: break-word;
}
.seepoll_first
{
    float: left;
    height: auto;
    margin-bottom: 15px;
    width: 100%;
}
.seepoll_radio
{
    float: left;
    height: auto;
    padding-top: 4px;
    width: 30px;
}
.seepollsubmit
{    
    cursor: pointer;
    height: 30px;
    width: 55px;
}

.flashonregistererror
{
   background-color: #FFEBE8; border: 1px solid #DD3C10; margin-bottom: 15px; border-radius: 7px 7px 7px 7px; color: #3D6611;float: left;font-size: 22px;font-weight: bold; height: 35px;padding-left: 6px;padding-top: 10px;width: 100%;
}
.detailpoll_percentagebar
{
    background-color: #F7F7F7;
    border: 1px solid #E1E1E1;
    height: 20px;    
}
.detailpoll_percentagebariner
{
    background-color: skyblue;
    float: left;
    height: 20px;
}
.detail_poll_comment
{
    float: left;
    height: auto;
    margin-top: 30px;
    width: auto;
}
.detail_poll_textarea
{
    float: left;
    height: 100px;
    width: auto;
}

.detail_poll_submit
{
    float: left;    
    width: 100%;
}
.detail_total
{
    background:url("../images/freeworld/inactive.png") no-repeat ;
    float: left;
    font-size: 25px;
    height: 41px;
    margin-top: 38px;
    padding-left: 4px;
    padding-top: 6px;
    width: 163px;
}
.delete_sdiv
{
    float: left; width: 100%;margin-top: 15px;
}
.detail_poll_textarea_outer
{
    float: left;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #CCCCCC;
    padding: 10px 0 10px 15px;
    border-radius: 5px 5px 5px 5px;
}
.autodiv
{
    float: left;
    width: auto;
    height: auto;
}
.detail_comment
{
    float: left;
    height: 30px;
    width: 250px;
}
.detail_comment_div
{
    float: left;
    height: 30px;
    width: 100%;
}
.style_detail
{
    background-color: #BCBFC4;
    float: left;
    height: auto;
    padding: 10px;
    width: 680px;
    border-radius: 5px 5px 5px 5px;
}
.style_mouseover_seepoll
{
    background-color: #69A7CD;
    border-radius: 5px 5px 5px 5px;
    color: white;
    float: left;
    height: 22px;
    padding: 5px;
    min-width: 350px;
    cursor: pointer;
}
.style_mouseout_seepoll
{
    float: left;
    height: 22px;
    min-width: 350px;
    padding: 5px;
}
.mylist_listtypered
{
    background-color: red;
    border-radius: 8px 8px 8px 8px;
    color: white;
    padding: 6px;
}

.mylist_listtypegreen
{
    background-color: green;
    border-radius: 8px 8px 8px 8px;
    color: white;
    padding: 6px;
}
.blankdivtake
{
    float: left;
    height: 30px;
    width: 100%;
}
.image_lable_revelent
{
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    width: 114px;
}
.view_mesaage
{
    float: left;
    width: 100%;
   
}
.note
{
    font-size: 22px;
}
.bacground_compose
{
    background: none repeat scroll 0 0 #789BDA;
    font-size: 20px;
    height: 116px;
    width: 677px;
}
.from_div
{
    float: left;
    height: auto;
    width: 100%;
}
.from_span
{
    color: white;
    float: left;
    font-family: Znikomit;
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 5px;
    width: 83px;
    
}
.recevier_compose
{
    color: white;
    font-family: Znikomit;
    font-size: 20px;
    margin-left: -17px;
    padding-top: 15px;
    font-weight: bold;
}
.subject_compose
{
    font-family: Znikomit;
    font-size: 20px;
    color: white;  
    padding-left: 13px;
    padding-top: 15px;
    font-weight: bold;
}

.alert-messagess
{
    background-image: none;
    color: #3D6611;
    font-family: Znikomit;
    font-size: 22px;
    padding-left: 30px;
}
.alert-message success
{
    background-color: none;
    color: #3D6611;
    background-image: none;
}
.from_input_type
{
    float: left;
    height: 30px;   
}
.compose_input
{
    height: 19px;
    width: 200px;
}
.compose_body
{
    background: none repeat scroll 0 0 white;
    float: left;
    height: 350px;
    margin-bottom: 25px;
    width: 677px;
}
.recevier_body
{
    color: black;
    font-family: Znikomit;
    font-size: 20px;
    font-weight: bold;
    margin-left: 4px;
    padding-top: 16px;
}
.compose_textaria
{
    border: 1px solid;
    height: 163px;
    width: 630px;
}
.myfileupload-buttonbar input
 {
   position: absolute;
   top: 0;
   right: 0;
   margin: 0;
   border: solid transparent;
   border-width: 0 0 100px 200px;
   opacity: 0.0;
   -o-transform: translate(250px, -50px) scale(1);
   -moz-transform: translate(-300px, 0) scale(4);
   direction: ltr;
   cursor: pointer;                           
 }
.myfileupload-buttonbar .myui-button
{
    background: none repeat scroll 0 0 #F6F175;
    border-radius: 7px 7px 7px 7px;
    color: #403F34;
    cursor: pointer;
    font-size: 22px;    
    height: 30px;
    margin-left: 22px;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 200px;
    font-family: Geosanslight;
 }
.myfileupload-buttonbar {
    width: 300px;
    float: left;
    margin-left: 15px;
}
.myfileupload-buttonbar > span {
    color: #ADADB8;
    float: left;
    font-family: Geosanslight;
    font-style: italic;
    font-weight: bold;
}
.seemessage_div_sub
{
    background: none repeat scroll 0 0 #789BDA;
    color: white;
    float: left;
    font-family: Znikomit;
    font-size: 27px;
    height: 65px;
    width: 692px;
}
.seemessage_div_sub_spn
{
    float: left;
    padding-left: 15px;
    padding-top: 15px;
    width: 97%;
}
.seemessage_div_delete
{
    float: right;
    font-size: 20px;
    width: 195px;
}
.delete_span
{    
    text-decoration: underline;
    cursor: pointer;
}

.seemessage_overflow
{
    float: left;
    height: 410px;
    margin-bottom: 30px;    
    width: 693px;
    background: white;
}
.seemessage_overflow_divmain
{
    overflow: auto;
    height: 285px;
    
}
.seemessage_reply
{
    color: #9797A5;
    float: left;
    font-family: Geosanslight;
    font-size: 18px;
    padding-left: 18px;
    padding-top: 21px;
    width: 44px;
}
.reply_messahe_see
{
    float: left;
    width: 490px;
}
.seemessage_reply_mesaage
{
    float: left;
    padding-top: 10px;
    width: 5px;
}

.myfi input
{
   position: absolute;
   top: 0;
   right: 0;
   margin: 0;
   border: solid transparent;
   border-width: 0 0 100px 200px;
   opacity: 0.0;
   -o-transform: translate(250px, -50px) scale(1);
   -moz-transform: translate(-300px, 0) scale(4);
   direction: ltr;
   cursor: pointer;            
}
.myui-btn
{            
    background:url("../images/freeworld/attach-icon.png") no-repeat ;
    cursor: pointer;
    height: 18px;
    margin-left: -119px;
    margin-top: 1px;
    overflow: hidden;
    position: relative;
    text-align: center;
}



.myfi > span {
    float: left;
   
}
.myfi
{
    float: left;
    height: 36px;
    padding-left: 20px;
    padding-top: 10px;
    width: 100%;
}
.seemember_checkbox
{
    float: left;
    margin-left: -5px;
    margin-top: 17px;
    padding-right: 6px;
}
.pagination_seemsg
{
    float: right;
    width: 510px;
}
.pagination_seemsg_previous
{
    float: left;
    height: 30px;
    width: 120px;
}
.pagination_seemsg_next
{
    float: left;
    height: 30px;
    width: 120px;
}
.attachment_validation
{
    float: left;
    text-align: center;
    width: 398px;
    margin-top: 3px;
}
.unread td
{
    color: #4c5c9e;
    
}
.unread td a 
{
    color: #4c5c9e;
    
}
.forword_attach
{
    float: left;
    height: 21px;
    padding-left: 18px;
    width: 411px;
}












