
.clear{
clear:both;
}
a{
color:#256c89;
}

/*****************parveen********************/

listnew_title_1
{
float: left;
    height: 45px;
    width: 700px;
}

.forgotpasdiv1
{
    float: left;
    width: auto;
    padding: 13px 23px 5px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.forgotpasdiv2
{
    float: left;
    height: 50px;
    width: 150px;
  padding-top: 16px;
    margin-left: 20px;
}
.forgotpass
{
    padding: 40px 0 0px 60px;
    height: auto;
    width: auto;
}

.forgotpasword
{
    height: auto;
    width: auto;
    font-size: 20px;
    color: black;
    padding: 33px 10px 15px 60px;
}
.rightcontentmaindiv2
{
   height: auto;
   width: 606px;
   float:left;
   padding-top: 50px;
}
.register_name
{
    float: left;
    height: 50px;
    padding: 10px 0 0 4px;
    width: 49%;
}

.register_name_div1
{
    float: left;
    width: auto;
    padding: 10px 98px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.register_submit
{
    float: left;
    height: auto;
    width: 82px;
    padding-left: 217px;
}
.refresh_twiit
{
    float: left;
    height: 50px;
    text-align: right;
    width: 100%;
}
.facebook_connect
{
    cursor: pointer;
    float: left;
    height: 26px;
    margin-top: -3px;
    width: 161px;
    /*background:  url("../images/connectwithfacebook.gif") transparent; */
}
.fac_a_con
{
    text-decoration: none;
}

.submits_login
{
    float: left;
    width: 120px;
    height: 30px;   
}
.register_submitws
{
    float: left;
    height: 40px;
    width: 51%;
}

.register_submitw
{
    float: left;
    height: 40px;
    width: 118px;
    background:  url("../newimages/submit_3.png") no-repeat scroll 0 0 transparent;
    color: #17287C;
    font-family: FjallaOne-regular;
    font-size: 20px;
    line-height: 40px;
    padding: 0 0 3px;
    font-style: normal;
    border: 0 none;
    
}
.register_submitw:hover
{
    background:  url("../newimages/submit_3.png") no-repeat scroll 0 0 transparent;background-position: 0 -44px;
}
.forgotpassword_submitw
{
    float: left;
    height: 32px;
    width: 90px;
    background:  url("../newimages/submitforgot.png") no-repeat scroll 0 0 transparent;
    color: #17287C;
    font-family: FjallaOne-regular;
    font-size: 20px;
    line-height: 31px;
    padding: 0 0 3px;
    font-style: normal;
    border: 0 none;
    
}
.forgotpassword_submitw:hover
{
    background:  url("../newimages/submitforgot.png") no-repeat scroll 0 0 transparent;background-position: 0 -36px;
}

.register_name_div_first
{
    float: left;
    width: auto;
    padding: 4px 82px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.register_name_div_second
{
    float: left;
    width: auto;
    padding: 10px 78px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}

.register_name_div_secondii
{
    float: left;
    width: auto;
    padding: 10px 75px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.forgot_div_email
{
    float: left;
    width: auto;
    padding: 10px 120px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}

.forgot_div_reemail
{
    float: left;
    width: auto;
    padding: 10px 29px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.register_name_div4
{
    float: left;
    width: auto;
    padding: 10px 101px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}

.register_name_div5
{
    float: left;
    width: auto;
    padding: 10px 93px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.forgot_div_pas
{
    float: left;
    width: auto;
    padding: 10px 52px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.email_div_pas
{
    padding-right: 28px;
}



/**********************Message Section *****************************/
.main_inbox
{
    float: left;
    min-width: 100%;
    height: auto;
    color: #555555;
    background: none repeat scroll 0 0 #EFEFEF;
}

.navigation_side
{
    float: left;
    width: 210px;
    height: auto;
}
.navigation_side_ul
{
    float: left;
    height: auto;
    margin-left: 32px;
    margin-top: 38px;
    width: 24%;
}
.nav_div_a
{
    background-color: #FAEE54;    
    border-radius: 7px 7px 7px 7px;
    color: #403F34;
    float: left;
    font-size: 22px;
    height: 28px;
    margin-bottom: 15px;
    padding-top: 11px;
    text-align: center;
    width: 130px;
}
.activetab
{
    background-color: #F8BD2F;
    border-radius: 7px 7px 7px 7px;
    color: #403F34;
    float: left;
    font-size: 22px;
    height: 28px;
    margin-bottom: 15px;
    padding-top: 11px;
    text-align: center;
    width: 130px;
}


.nav_a_con:hover
{
    text-decoration: none;
}
.content_inbox
{
    float: left;
    width: 700px;
    height: auto;
    margin-top: 38px;
    font-family: LucidaGrande;
}
.bordered-table
{
  font-size: 22px; 
  width: 680px;
  border: none;
}
th.from-to
{
    width: 185px;  
}
.dromdiv
{
    background-color: #789BDA;
    color: white;
    float: left;
    font-family: Znikomit;
    height: 38px;
    padding-left: 12px;
    padding-top: 12px;
    width: 203px;
}

.zebra-striped tbody tr:nth-child(2n+1) th
{
    background-color: #789bda;
    color: white;
    font-family: Znikomit;
}
.bordered-table th + th, .bordered-table td + td, .bordered-table th + td
{
    border-left: none;
}
.messagecontent_color
{
    color: #9797A5; width: 200px;
}
.zebra-striped tbody tr td, .zebra-striped tbody tr th
{
     background-color: white;
}
.zebra-striped tbody tr:hover td
{
    background-color: white;
}
table td
{
    border-top: none;
}
.message_h2inbox
{
    font-size: 40px;
    margin: 10px 0 0 36px;
    font-family: Znikomit;
    font-weight: bold;
}
.div_table_overflow
{
    float: left;
    height: 393px;
    overflow: auto;
    width: 697px;
    margin-bottom: 30px;
    background: none repeat scroll 0 0 white;
}
.pagination a
{
    border: 0px;
    text-decoration: underline;
    padding: 0 6px;
}
.pagination ul
{
    border: none;
    box-shadow:none;
}
.pagination .pager .first
{
    font-size: 0px;
}
.pagination a:hover, .pagination .active a
{
    background: none;
}
.pagination .pager .page
{
    font-size: 0px;
}
.pagination .pager .last
{
    font-size: 0px;
}

.pagination .pager .previous
{
    font-size: 30px;
    text-decoration: underline;
    color: #646472;
    font-family: Znikomit;
    font-weight: bold;
    
}
.pagination .pager .previous a
{
    /*background:url("../images/freeworld/paginationarrow.png") no-repeat;*/
}
.pagination .pager .next
{
    font-size: 30px;
    text-decoration: underline;
    color: #646472;
    font-family: Znikomit;
    font-weight: bold;
}

.delete_selected_inbox
{
    float: left;
    width: 250px;
}
.inbox_div
{   
    position: relative;
    border: 1px solid #C9E0ED;
    height: auto;
    margin: 5px auto;
    /*margin: 5px auto 0 304px;*/
    width: 950px;   
}
.backgrounddiv
{
    background-color: white;
    border-color: #C9E0ED;
    border-left: 1px solid #C9E0ED;
    border-style: solid;
    border-width: 3px 1px 1px;
    float: left;
    height: auto;
    width: 100%;
}
.compose_div1
{
    float: left;
    height: 37px;
    margin-left: 44px;
    margin-top: 6px;
    width: 577px;
}

.nav_a_congg:hover
{
   text-decoration: none; 
}

.compose_div2
{
    float: left;
    height: 35px;
    margin-left: 5px;
    margin-top: 6px;
    width: 569px;
}
.compose_div3
{
    float: left;
    height: 165px;
    margin-left: 14px;
    margin-top: 6px;
    width: 643px;
}
.menu_message
{
    float: left;
    padding: 9px 0 0 25px;
    width: 60px;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;   
    text-decoration: none;
}

.menu_messagediv1
{
        color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}
.menu_messagediv1:hover
{
    color: #6399cd;
    background-color:#EFF4FA;
    text-decoration:none;
   
}

.menu_messagediv2
{
    float: left;
    padding: 8px 0 0 23px;
    width: auto;    
}
.menu_messagediv3
{
    float: left;
    padding: 9px 0 0 0px;
    width: auto;    
}
.menu_messagediv5
{
    float: left;
    padding: 8px 0 0 0px;
    width: 115px;    
}
.mainmenudiv
{
    background:white url(bg.gif) repeat-x left top;
    height: 28px;
    width: 100%;
    margin-top: 20px;
}
.footerdiv
{
    height: 50px;
    width: 100%;
    float: left;
    border-top: 1px solid #C9E0ED;
    text-align: center;
    padding-top: 10px;
    font-size: 0.8em;
}
.menu_meslogout
{
    float: left;
    padding: 8px 0 0 0px;
    width: auto;    
}
.menu_mess_select
{
        color: #6399cd;
        background-color:#EFF4FA;
	font-size:12px;
	font-weight:bold;
        text-decoration:none;
	padding:5px 8px;
}

.menu_mess_select:hover
{
    text-decoration: none;
}
.menu_message_par
{
     float: left;
    padding: 8px 0 0 0px;
    width: 72px;
}
.connectionfacebook
{
    text-decoration: none;
}
.connectionfacebook:hover
{
    text-decoration: underline;
}
.userprofilemain
{
    height: auto;
    width: 100%;
    float: left;
}
.usernamediv2
{
    float: left;
    height: 30px;
    width: auto;
}
.usernamediv1
{
    float: left;
    height: 30px;
    width: 128px;
}
.usernamediv
{
    float: left;
    font-size: 22px;
    height: 50px;
    width: 47%;
}
.userprofilelower
{
    display: none;
    float: left;
    height: auto;
    width: 100%;
}
.mainouterdiv
{
    float: left;
    height: auto;
    width: 100%;
}
.mainouterdivtake
{
    float: left;
    height: auto;
    padding-left: 70px;
    padding-top: 35px;
    width: 85%;
}
.outerdiv1
{
    float: left;
    height: auto;
    width: 410px;
}
.outer_show
{
    float: left;
    height: auto;
    width: 215px;
}
.list_name
{
    padding-left: 20px;
    height: 60px;
    min-width: 205px;
}
.list_name_div
{
    color: #256C89;
    float: left;
    font-size: 16px;
    height: 46px;
    padding-left: 10px;
    padding-top: 10px;
    width: 97px;
}

.list_image_div
{
    float: left;
    height: 42px;
    width: 72px;
}
.list_title_div
{
    border-top: 1px solid #434244;
    border-left:  1px solid #434244;    
    float: left;
    height: auto;
    width: auto;
    margin-left: 21px;
    
}
.titlediv
{
    background-color: #95BCF2;
    border-right: 1px solid #434244;
    border-bottom: 1px solid #434244;
    float: left;
    height: 50px;
    text-align: center;
    width: 80px;
    word-wrap: break-word;
    font-size: 16px;
}

.titlediv_editlist
{
    background-color: #95BCF2;
    border-bottom: 1px solid #434244;
    border-right: 1px solid #434244;
    float: left;
    height: 30px;
    text-align: center;
    width: 141px;
    word-wrap: break-word;
}


.title_other
{
    float: left;
    width: 100px;
    height: 30px;
    border-bottom: 1px solid #434244;
}
.list_title_div1
{
    float: left;
    height: 100px;
    width: 340px;

}

.listnew_title_div1
{
    float: left;
    padding-top: 60px;
    width: 366px;

}
.listnew_title_div_1 {
    float: left;
    margin-top: -14px;
    padding-top: 0;
    width: 700px;
}
.listnew_title_div_11 {
    float: left;
    margin-top: 9px;
    padding-top: 0;
    width: 700px;
}
.list_image_div1
{
    float: left;
    height: 55px;
    width: 340px;

}

.list_lable
{
   color: #666666;
    float: left;
    font-family: znikomit;
    font-size: 20px;
    font-weight: bold;
    margin-top: -14px;
    padding: 3px 85px 0 0;
    width: auto;
}
.name_lable
{
  color: #666666;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: -39px;
    padding: 63px 76px 6px 0;
    width: auto;
}
.forgotpasinpu
{
background: none repeat scroll 0 0 white;
    border: medium none;
    color: black;
    height: 22px;
    margin-left: -5px;
    margin-top: -13px;
    width: 220px;
}
.forgotpasdiv_1
{
 float: left;
    font-family: znikomit;
    font-size: 20px;
    font-weight: bold;

}
.forgotpasin
{
background: none repeat scroll 0 0 white;
    border: medium none;
    color: black;
    height: 22px;
    margin-left: 1px;
    margin-top: -12px;
    width: 220px;
}
.forgotpasdiv_1 > span {
    color: black;
}
.search_list_div2_official > img {
    margin-left: -135px;
    margin-top: 80px;
}

.pera {
    float: left;
    margin-left: -3px;
    margin-top: 13px;
    padding-right: 115px;
    width: 553px;
}
.pera > p {
    color: black;
    font-family: LucidaGrande;
    font-size: 17px;
    font-style: italic;
    font-weight: bolder;
}

.inst > span {
    float: left;
    font-family: LucidaGrande;
    font-size: 24px;
    font-weight: bold;
    margin-top: 12px;
}
.area {
    float: left;
    margin-top: 13px;
}
.upper_list a {
      color: white;
    font-family: znikomit;
    font-size: 20px;    
}
.upper_list span {
    color: white;
    font-family: znikomit;
    font-size: 20px;    
}
.box > input {
    height: 24px;
    width: 130px;
}
official_today_sortdat
{

     float: left;
    font-size: 22px;
    height: auto;
    width: 150px;
}
#valid > span {
    font-size: 14px;
}
#invalid > span {
    font-size: 12px;
}

.frien {
    float: left;
 
}
.upper_list li {
    float: left;
    list-style: none outside none;
    padding-top: 16px;
    padding-right: 9px;
}
.list input {
    float: left;
     margin-top: 5px;
}
.list span {
    color: white;
    float: inherit;
    font-family: LucidaGrande;
    font-size: 18px;
    margin-top: -2px;
    padding-left: 15px;
}
.list li {
    list-style: none outside none;
}
.list {
    float: left;
   margin-left: -246px;
    margin-top: 104px;
}
.list_two {
   float: left;
    margin-left: -91px;
    margin-top: 104px;
}.head {
 margin-left: -72px;
    margin-top: 58px;
}
.list_two li {
    list-style: none outside none;
}.list_two span {
      color: white;
    float: inherit;
    font-family: LucidaGrande;
    font-size: 18px;
    margin-top: -2px;
    padding-left: 15px;
}
.list_two input {
    float: left;
     margin-top: 5px;
}
.text_para {
    float: left;
    padding-left: 4px;
    padding-top: 30px;
    width: 422px;
}
.text_para > p {
    color: white;
    font-family: LucidaGrande;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}
.arew {
    border: medium none;
    color: gray;
    float: left;
    font-style: italic;
    margin-left: -2px;
    margin-top: 29px;
}
.friend h3 {
    color: white;
    font-family: LucidaGrande;
}
.frien h3 {
    color: white;
    font-family: znikomit;
}
.friend {
    float: left;
    margin-left: -248px;
        margin-top: 58px;
}
.box {
    float: left;
    padding-left: 0px;
    padding-top: 15px;
    width: 15px;
}
.upper_list span {
    color: white;
}
.row_textfilds
{
    float: left;
    margin-top: 22px;
}

#mintitle
{
     width: 700px;
     padding-top: 4px;
}
.row_textfild > input {
    background: none repeat scroll 0 0 white;
     border: 1px none white;
}

.upper_list li {
    float: left;
    list-style: none outside none;
}


.width {
 
     float: right;
    height: 627px;
    margin-right: -175px;
    margin-top: -270px;
    width: 410px;
}

.show {
 background-color: #596264;
    border: 1px solid;
    border-radius: 35px;
    height: 592px;
    margin-top: 17px;
    padding-left: 19px;
    width: 445px;

}
.middle > p {
    font-size: 13px;
    font-weight: bold;
    margin-top: -10px;
}



.area_one {
     border: medium none;
    color: #bdbdc6;
    font-family: LucidaGrande;
    font-size: 16px;
    font-style: italic;
}
.pera_2 {
  color: black;
    float: left;
    font-family: LucidaGrande;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    margin-left: 0;
    margin-top: 8px;
    width: 378px;
}


.forgotpasinputt
{
background: none repeat scroll 0 0 white;
    border: medium none;
    color: black;
    height: 22px;
    margin-left: 2px;
    margin-top: 27px;
    width: 220px;
}
.image_lable
{
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0 75px 2px 1px;
    width: auto;
}

.listmaindiv
{
    float: left;
    height: auto;
    width: 600px;
    margin-top: -70px;
}

.listmaindiv_new
{
    float: left;
    height: auto;
    width: 600px;
}
.row_lable
{
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0 22px 2px 1px;
    width: 65px;
}
.coulmn_lable
{
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0 2px 2px 1px;
    width: auto;  
    
}

    .row_textfild
{
  float: left;
    
    margin-left: 11px;
    margin-top: 3px;
    min-width: 125px;
}
.name_lable > span {

    
}

.image_lable_revelent > span {
    color: black;
    font-family: znikomit;
    font-size: 20px;
    font-weight: bold;

}
.row_namefild
{
    float: left;
    font-size: 18px;
    height: 45px;
    margin-top: 21px;
    min-width: 125px;
    padding-left: 14px;
}

.addrowdiv
{
    float: left;
    width: 215px;
    height: 30px;
    font-size: 14px;
}
.addcoldiv
{
    float: right;
    width: 262px;
    height: 30px;
}

.validtitle
{
    display: none;
    float: left;
    width: 126px;
    
}
.invalidtitle
{
    display: none;
    float: left;
    width: 129px;
    
}
.lastadddiv
{
    color: red;
    display: none;
    float: left;
    height: 20px;
    padding-bottom: 25px;
    padding-left: 8px;
    width: 170px;
}
.lastcoldiv
{
    display: none;
    float: left;
    height: 20px;
    width: 260px;
    color: red;
}
.submitdiv
{
  float: left;
    height: 68px;
    margin-left: 226px;
    margin-top: 69px;
}

.list_row_div1
{
    float: left;
    min-height: 42px;
    width: 380px;
}
.list_coulmn_div1
{
    float: left;
    min-height: 42px;
    width: 406px;
}
.dynamicrow
{
    margin-left: 58px; margin-bottom: 13px;
}
.dynamiccol
{
    margin-left: 58px; margin-bottom: 13px;width: 140px;
}

.list_show
{
    float: left;
    height: 20px;
    width: 100px;
}
.textdecoration
{
    text-decoration: none;
}
.listtake
{
    height: 31px;
    padding-left: 11px;
    width: 90px;
    float: left;
}
.outer_see_list
{
    float: left;
    height: auto;
    width: auto;
    margin-bottom: 15px;  /*40px*/
    margin-right: 40px;
}
.maintable
{
    float: left;
    height: auto;
    width: auto;
}
.column_div
{
    border-bottom: 1px solid #434244;
    border-right: 1px solid #434244;
    float: left;
    height: 50px;
    width: 80px;
    text-align: center;
    word-wrap: break-word;
    font-size: 16px;
}


.column_div_editlist
{
    border-bottom: 1px solid #434244;
    border-right: 1px solid #434244;
    float: left;
    height: 32px;
    margin-top: -2px;
    text-align: center;
    width: 141px;
    word-wrap: break-word;
    font-size: 16px;
}


.row_div
{
    border-bottom: 1px solid #434244;
    border-right: 1px solid #434244;
    float: left;
    min-height: 90px;
    /*height: 50px;*/
    width: 80px;
    text-align: center;
    word-wrap: break-word;
    font-size: 16px;
}

.row_div_editlist
{
    border-bottom: 1px solid #434244;
    border-right: 1px solid #434244;
    float: left;
    height: 34px;
    text-align: center;
    width: 141px;
    margin-top: -2px;
    word-wrap: break-word;
    font-size: 16px;
}

.tablediv
{
    height: auto;
    width: auto;
    margin-bottom: 0px;
}
.latest_image
{
    float: left;
    height: 55px;
    width: 85px;
}
.latest_title
{
    float: left; height: 60px; width: 80px;
}

.latest_title_cre
{
     height: 22px; width: 141px;
}

.latest_title_div
{
    word-wrap: break-word; height: auto; width: 127px; float: left;
}
.outer_latest_title
{
    float: left; height: auto; width: auto;
}
.outer_latesttitle_div
{
    float: left;height: auto;width: 322px;
}
.img_outer
{
    float: left; height: auto; width: 90px;
}
.outerdiv11
{
    float: left;
    height: auto;
    width: 300px;
}
.titlete_textfild
{
    background-color: #95BCF2;
    min-height: 30px;
    min-width: 73px;
    text-align: center;
    word-wrap: break-word;
    font-family: LucidaGrande;
    font-size: 20px;
}

#myTable td 
{
    
    padding: 0;
    /*width: 15%;*/
}

.flashcontact
{
    float: left;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    width: 100%;
}
.outer_see_list_other
{
    float: left;
    margin-bottom: 20px;
    min-height: 375px;
    min-width: 420px;
    padding-left: 20px;
    padding-right: 20px;
}
.requretitle
{
    color: red;
    display: none;
    float: left;
    padding-left: 6px;
    width: 122px;

}
.requretitlee
{
     color: red;
    display: none;
    float: left;
    padding-left: 6px;
    width: 122px;
    font-size: 9px;
}

.showmor_take
{
    cursor: pointer;
    float: right;
}
.search_res
{
    padding-top: 13px; word-wrap: break-word; min-width: 45px;float: left; height: 42px;
}
.email_submit
{
    float: left;height: 30px; padding-left: 160px; padding-top: 22px; width: 27%;
}
.cancel_email
{
    float: left; margin-top: 21px;
}
.cursorpointer
{
    cursor: pointer;
}
.flash-email
{
     font-size: 22px;
     /*background-color: #EFF5EA; */
     border-radius: 7px 7px 7px 7px; 
     color: #3D6611;
     float: left;     
     font-weight:bold; 
     height: 35px;
     padding-left: 35px;
     padding-top: 10px;
     width: 480px;
}
.search_list
{
    float: left; height: 40px; width: 61%;
}
.search_list_div1
{
    float: left; width: 235px; height: 30px;
}
.search_list_div2
{
    float: left;width: 20%;
}
.search_list_div3
{
    float: left;display: none; color: red;
}
.search_list_input
{
    height: 24px; width: 165px;
}
.my_listdiv
{
    float: right; width: 147px; height: 24px;
}
.image_mylist
{
    height: 40px; width: 55px;
}
#textdecoration
{
    text-decoration: none;
}
.floatright
{
    float: right;
}
.floatleft
{
    float: left;
}
.takelist_imagessss
{
    width: 115px; height: 74px;
}
.addrow_takelist
{
    cursor: pointer; padding-right: 15px;float: left;
}
.cursorpointer_remove
{
    cursor: pointer;display: none;
}
.addcol_take
{
    cursor: pointer; padding-right: 15px;float: left;
}

.showmor_take_detail
{
    cursor: pointer;
    float: right;
}
.detail_take
{
    float: left; width: 90%;
}
.search_list_page
{
    float: left; width: 70%; padding-top: 19px; height: 80px; padding-left: 35px;
}
.search_list_inputdiv
{
    float: left; height: 30px; width: 430px;
}
.search_show
{
    width: 65%;margin-bottom: 35px;background: none repeat scroll 0 0 #F5F5F5;padding: 15px 0;border-radius: 7px; height: auto;float: left;
}
.search_img
{
    float: left; width: 96%;
}
.search_name_div
{
    color: #256C89; float: left;font-size: 16px; height: 46px; padding-left: 10px;padding-top: 10px; word-wrap: break-word; width: 70%;
}
.search_title_cre
{
     height: 22px; width: 117px;float: left;
}
.search_image_div
{
    float: left;height: 42px;width: 72px;margin-top: -7px;
}
.listtake_insearch
{
    height: 31px;padding-left: 18px; width: 96%; float: left;
}
.paging_insearch
{
    float: left; width: 50%; height: 35px;
}
.nofound_insearch
{
    text-align: center; font-size: 17px; height: 45px;
}
.backsuggestion
{
    float: left; height: 35px; width: 100%;
}
.inputtake
{
    height: 28px;
}
.connecttwitter
{
    float: left; height: 30px;width: 100%;
}
.twitterconnectdiv
{
    float: left; width: 100%; font-family: arial; color: rgb(92, 92, 92); font-size: 26px; height: 45px;
}
.register_gender
{
    width: 170px; height: 24px;
}
.register_loding_img
{
    float: left; width: 20px; height: 20px; margin-left: 4px;margin-top: 13px; display: none;
}
.emailexist
{
    float: left; height: 25px; width: 254px; color: red; margin-top: -17px;display: none;
}
.editprofile_btn
{
    float: left; width: 650px; 
}
.editprofile_anchor
{
    float: left; width: 190px;
}
.crew_save
{
    float: left; width: 85px; 
}
.flash-savesuccess
{
    float: left;
}
.crew_outer
{
    background: none repeat scroll 0 0 #F5F5F5; border-radius: 7px 7px 7px 7px; float: left;  height: auto;width: 600px; margin-bottom: 25px;
}
.crew_first
{
    float: left; height: 54px;padding: 15px 0 0 30px; width: 95%;
}
.crew_second
{
    float: left;  height: 35px;padding-left: 30px;  width: 95%;
}
.crew_name
{
    float: left; height: 40px; width: 100%;
}
.crew_name_div
{
    float: left; width: 81px; height: 30px;
}
.crew_name_div2
{
    float: left; width: auto; padding-right: 25px; height: 30px;
}
.crew_name_img
{
    float: left; height: 42px; width: 125px;margin-top: -10px;
}
.nocrew
{
    font-size: 18px; height: 33px;  text-align: center;
}
.crew_profilesee
{
    float: left; height: 30px; width: 150px;
}

.flash-removecrew
{
    float: left;font-size: 15px; height: 30px; padding-left: 10px;
}
.listlogin_div
{
    float: left; width: 90%; height: 35px; font-size: 16px; padding-top: 30px; padding-left: 50px;
}
.listlogin_div1
{
    text-align: center; float: left; height: 63px; font-size: 16px; width: 100%;
}
.listlogin_div_yes
{
    float: left; text-align: center; width: 66%; font-size: 16px;
}
.listlogin_div_no
{
    float: left; width: 16%; font-size: 16px;
}

.lodinggifcrew
{
    float: left; width: 20px; height: 20px; margin-top: 2px; margin-left: 5px;display: none;
}


/*************Forgot password*******************/

.forgot_pass_div1
{
    height: 50px; width: 100%; font-size: 22px;
}
.forgot_pass_div2
{
    float: left; height: 28px; margin-left: 50px; width: 450px;
}
.forgot_pass_span
{
    padding-right: 30px;font-size: 22px;
}
.forgot_pass_div3
{
    float: left; color: red; padding-left: 50px;height: 35px; width: 70%;display: none;
}
.flashforgot
{
    float: left; font-size: 22px; height: 35px;padding-left: 48px;width: 90%;
}

.recaptcha_area #recaptcha_area, #recaptcha_table {
    padding-bottom: 17px;
    width: 0;
}
.captcha_outer {
    float: left;
    padding-bottom: 19px;
}
/*************Change password********************/

.change_password
{
    font-size: 16px; padding-right: 24px;
}
.change_password2
{
    font-size: 16px; padding-right: 2px;
}
.changepassword_submit
{
    text-align: center; width: 65%; float: left;
}
.flash-passwordsuccess
{
    float: left; font-size: 15px; color: black; text-align: center; height: 39px; width: 38%;
}
.notification_outer
{
    background: none repeat scroll 0 0 #e3e9ef; border-radius: 7px 7px 7px 7px; float: left;  min-height: 30px;width: auto; padding-right: 30px; margin-bottom: 10px;
}
.notification_message
{
    margin-top: 4px; margin-left: 10px; float: left;
}
.notification_time
{
    padding-right: 10px;
}
.notification_span
{
    padding-right: 25px;
}
.notification_span a 
{
    text-decoration: none;
}
.notification_outer_white
{
    background: none repeat scroll 0 0 #F5F5F5; border-radius: 7px 7px 7px 7px; float: left;  min-height: 30px;width: auto; padding-right: 30px; margin-bottom: 10px;
}
.notification_outer_unread
{
    background: none repeat scroll 0 0 #CAD1DE; border-radius: 7px 7px 7px 7px; float: left;  min-height: 30px;width: auto; padding-right: 30px; margin-bottom: 10px;
}
.not_out_div
{
    float: left; height: auto; width: 100%;
}
.register_location
{
    float: left; height: 50px; padding: 10px 0 0 4px; width: 100%;
}

.location_regi
{
    float: left; height: 50px;width: 540px;color: #666666; font-weight: bold;
}
.flash-imageonregister
{
    color: red; float: left;font-size: 15px;height: 39px; width: 65%;
}
.creategp_div2
{
    float: right;padding-left: 2px; padding-top: 25px; width: 72%;
}

.creategp_div1
{
    text-align: center; padding-top: 15px;
}
.creategp_img
{
    padding-right: 10px; cursor: pointer;
}
.group_name
{
    float: left; width: 100%; height: 20px; margin-bottom: 8px; font-size: 15px; font-weight: bold;
}
.addmembers_div
{
    float: left; height: 60px; min-width: 30%;
}
.addmembers_check
{
    vertical-align: top;
}
.addmembers_span
{
    padding-left: 10px; vertical-align: top;
}
.forgotpasinput
{
   background: none repeat scroll 0 0 white;
    border: medium none;
    color: black;
    height: 22px;
    width: 220px;
}
.forgotpasdiv1 > span {
    color: black;
    font-family: znikomit;
    font-size: 20px;
}

.list_lable > span {
    color: black;
}
.forgotpasinput_multy
{
  width: 170px; color: black;
}

.password_register
{
  height: 20px;width: 170px;margin-top: 7px;
}
.image_upload_reg
{
  height: 25px;width: 230px;color: #A4A4B0;
}
.seemember_div1
{
    float: left; min-width: 210px; height: 85px;
}
.minmoti_check
{
    color: white; width: 20px; margin-left: 615px; text-align: center;background:url("../images/round.png") no-repeat ;
}
.flashonregister
{
   color: #3D6611;float: left;font-size: 22px; height: 45px;padding-left: 25px;padding-top: 10px;width: 95%;
}
.messagemoti_check
{
    color: white; width: 20px; margin-left: 618px; margin-top: 20px;text-align: center;background:url("../images/round.png") no-repeat ;
}
.delete_select_mess
{
    border-radius: 7px 7px 7px 7px;
    color: #403F34;
    font-size: 22px;
    height: 40px;
    width: 150px;
    background: none repeat scroll 0 0 #F6F175;
}
.latestlists
{
    float: left;height: auto;width: 900px;
}
.latestlists_show
{
    float: left; height: auto; width: auto; margin-bottom: 60px;
}
.mylist_mydata
{
    float: left;padding-right: 25px;
}
.change_pass_div2
{
    float: left; height: 28px; margin-bottom: 15px; margin-left: 50px; width: 410px;
}
.changepas_span
{
    color: red;
    display: none;
    padding-left: 50px;
    width: 470px;
}

.requretitle_select
{
    color: red;
    display: none;
    float: left;
    padding-left: 25px;
    padding-top: 10px;
    width: 133px;
}
.invite_messdiv1
{
    float: left;
    width: 400px;
    height: auto;
}
.invite_messdiv2
{
    font-size: 16px;
    height: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.messge_invi_enter
{
    float: left; width: 135px;
}
.display_invi
{
    display: none;
    width: 100%;
    height: auto;
}
/**********Poll Creation************/
.create_poll
{
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;    
}
.removeans
{
    cursor: pointer;display: none; padding-right: 20px;float: left;padding-bottom: 20px;
}
.addans
{
    padding-right: 20px;cursor: pointer; float: left;padding-bottom: 20px;
}
.mypolls_latest
{
    float: left;
    height: auto;
    width: 380px;
}
.mypolls_user_image
{
    float: left;
    height: 50px;
    width: 80px;
}
.mypolls_user_question
{
    float: left;
    height: auto;
    padding-right: 15px;
    width: 210px;
    word-wrap: break-word;
}
.mypolls_user_createdby
{
    float: left;
    margin-top: 15px;
}
.mypolls_user_votes
{
    background-color: #BFD4FF;
    border: 1px solid #519CC6;
    border-radius: 5px 5px 5px 5px;
    float: left;
    text-align: center;
    width: 65px;
    cursor: pointer;
}
.textaline
{
    text-align: center;
}
.mypolls_user_votes_span
{
    display: block;
    padding-top: 5px;
    text-align: center;
}
.maindiv_poll
{
   
    float: left;
    height: auto;
    padding: 10px 1px 20px 0;
    width: 100%;
}
.mypolls_user_ques_div
{
    float: left;
    font-size: 16px;
    width: 100%;
    word-wrap: break-word;
}
.seepoll_first
{
    float: left;
    height: auto;
    margin-bottom: 15px;
    margin-left: 35px;
    width: 90%;
}
.seepoll_radio
{
    float: left;
    height: auto;
    padding-top: 4px;
    width: 30px;
}
.seepoll_radio_over
{
    background: none repeat scroll 0 0 #FAEE53;
    border: 1px solid #FAEE53;
    float: left;
    height: auto;
    margin-right: 16px;
    margin-top: 5px;
    width: 12px;
    border-radius: 2px;
}
.seepollsubmit
{    
    cursor: pointer;
    height: 30px;
    width: 55px;
}

.flashonregistererror
{
   background-color: #FFEBE8; border: 1px solid #DD3C10; margin-bottom: 15px; border-radius: 7px 7px 7px 7px; color: #3D6611;float: left;font-size: 22px;height: 35px;padding-left: 6px;padding-top: 10px;width: 100%;
}
.detailpoll_percentagebar
{
    /*background-color: #F7F7F7;
    border: 1px solid #E1E1E1;*/
    height: 30px;    
}
.detailpoll_percentagebariner
{
    background-color: skyblue;
    float: left;
    height: 30px;
}
.detail_poll_comment
{
    float: left;
    height: auto;
    margin-top: 30px;
    width: auto;
}
.detail_poll_textarea
{
    float: left;
    height: 100px;
    width: auto;
}

.detail_poll_submit
{
    float: left;    
    width: 100%;
}
.detail_total
{
    background:url("../images/freeworld/inactive.png") no-repeat ;
    float: left;
    font-size: 25px;
    height: 41px;
    margin-top: 38px;
    padding-left: 4px;
    padding-top: 6px;
    width: 163px;
}
.delete_sdiv
{
    float: left; width: 100%;margin-top: 15px;
}
.detail_poll_textarea_outer
{
    float: left;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #CCCCCC;
    padding: 10px 0 10px 15px;
    border-radius: 5px 5px 5px 5px;
}
.autodiv
{
    float: left;
    width: auto;
    height: auto;
}
.detail_comment
{
    float: left;
    height: 30px;
    width: 415px;
}
.detail_comment_div
{
    float: left;
    height: 30px;
    width: 100%;
}
.style_detail
{
    background-color: #BCBFC4;
    float: left;
    height: auto;
    padding: 10px;
    width: 680px;
    border-radius: 5px 5px 5px 5px;
}
.style_mouseover_seepoll
{
    background-color: #69A7CD;
    border-radius: 5px 5px 5px 5px;
    color: white;
    float: left;
    height: 22px;
    padding: 5px;
    min-width: 350px;
    cursor: pointer;
}
.style_mouseout_seepoll
{
    float: left;
    height: 22px;
    min-width: 350px;
    padding: 5px;
    color: #C8C8C8;
    font-family: LucidaGrande;
    font-size: 14px;
}
.mylist_listtypered
{
    background-color: red;
    border-radius: 8px 8px 8px 8px;
    color: white;
    padding: 6px;
}

.mylist_listtypegreen
{
    background-color: green;
    border-radius: 8px 8px 8px 8px;
    color: white;
    padding: 6px;
}
.blankdivtake
{
    float: left;
    height: 30px;
    width: 100%;
}

.tutle_one {
    float: left;
    height: 30px;
}
.image_lable_revelent
{
  color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: -25px;
    margin-top: -52px;
    width: 327px;
}
.auth_header_user_img {
    height: 25px;
    width: 25px;
}
.view_mesaage
{
    float: left;
    width: 100%;
   
}

.image {
    float: left;
}
.note
{
    font-size: 22px;
}
.bacground_compose
{
    background: none repeat scroll 0 0 #789BDA;
    font-size: 20px;
    height: 116px;
    width: 677px;
}
.from_div
{
    float: left;
    height: auto;
    width: 100%;
}
.from_span
{
    color: white;
    float: left;
    font-family: Znikomit;
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 5px;
    width: 83px;
    
}
.recevier_compose
{
    color: white;
    font-family: Znikomit;
    font-size: 20px;
    margin-left: -17px;
    padding-top: 15px;
    font-weight: bold;
}
.subject_compose
{
    font-family: Znikomit;
    font-size: 20px;
    color: white;  
    padding-left: 13px;
    padding-top: 15px;
    font-weight: bold;
}

.alert-messagess
{
    background-image: none;
    color: #3D6611;    
    font-size: 22px;
    padding-left: 30px;
}
.alert-message success
{
    background-color: none;
    color: #3D6611;
    background-image: none;
}
.from_input_type
{
    float: left;
    height: 30px;   
}
.compose_input
{
    height: 19px;
    width: 200px;
}
.compose_body
{
    background: none repeat scroll 0 0 white;
    float: left;
    height: 350px;
    margin-bottom: 25px;
    width: 677px;
}
.recevier_body
{
    color: black;
    font-family: Znikomit;
    font-size: 20px;
    font-weight: bold;
    margin-left: 4px;
    padding-top: 16px;
}
.compose_textaria
{
    border: 1px solid;
    height: 163px;
    width: 630px;
}
.myfileupload-buttonbar input
 {
   position: absolute;
   top: 0;
   right: 0;
   margin: 0;
   border: solid transparent;
   border-width: 0 0 100px 200px;
   opacity: 0.0;
   -o-transform: translate(250px, -50px) scale(1);
   -moz-transform: translate(-300px, 0) scale(4);
   direction: ltr;
   cursor: pointer;                           
 }
.myfileupload-buttonbar .myui-button
{
    background: none repeat scroll 0 0 #F6F175;
    border-radius: 7px 7px 7px 7px;
    color: #403F34;
    cursor: pointer;
    font-size: 22px;    
    height: 30px;
    margin-left: 22px;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 200px;
    font-family: LucidaGrande;
 }
.myfileupload-buttonbar {
    width: 300px;
    float: left;
    margin-left: 15px;
}
.myfileupload-buttonbar > span {
    color: #ADADB8;
    float: left;
    font-family: LucidaGrande;
    font-style: italic;
    font-weight: bold;
}
.seemessage_div_sub
{
    background: none repeat scroll 0 0 #789BDA;
    color: white;
    float: left;
    font-family: Znikomit;
    font-size: 27px;
    height: 65px;
    width: 692px;
}
.seemessage_div_sub_spn
{
    float: left;
    padding-left: 15px;
    padding-top: 15px;
    width: 97%;
}
.seemessage_div_delete
{
    float: right;
    font-size: 20px;
    width: 195px;
}
.delete_span
{    
    text-decoration: underline;
    cursor: pointer;
}

.seemessage_overflow
{
    float: left;
    height: 410px;
    margin-bottom: 30px;    
    width: 693px;
    background: white;
}
.seemessage_overflow_divmain
{
    overflow: auto;
    height: 285px;
    
}
.seemessage_reply
{
    color: #9797A5;
    float: left;
    font-family: LucidaGrande;
    font-size: 18px;
    padding-left: 18px;
    padding-top: 21px;
    width: 44px;
}
.reply_messahe_see
{
    float: left;
    width: 490px;
}
.seemessage_reply_mesaage
{
    float: left;
    padding-top: 10px;
    width: 5px;
}

.myfi input
{
   position: absolute;
   top: 0;
   right: 0;
   margin: 0;
   border: solid transparent;
   border-width: 0 0 100px 200px;
   opacity: 0.0;
   -o-transform: translate(250px, -50px) scale(1);
   -moz-transform: translate(-300px, 0) scale(4);
   direction: ltr;
   cursor: pointer;            
}
.myui-btn
{            
    background:url("../images/freeworld/attach-icon.png") no-repeat ;
    cursor: pointer;
    height: 18px;
    margin-left: -125px;
    margin-top: 1px;
    overflow: hidden;
    position: relative;
    text-align: center;
}



.myfi > span {
    float: left;
   
}
.myfi
{
    float: left;
    height: 36px;
    padding-left: 20px;
    padding-top: 10px;
    width: 100%;
}
.seemember_checkbox
{
    float: left;
    margin-left: -5px;
    margin-top: 4px;
    padding-right: 6px;
}
.pagination_seemsg
{
    float: right;
    width: 510px;
}
.pagination_seemsg_previous
{
    float: left;
    height: 30px;
    width: 120px;
}
.pagination_seemsg_next
{
    float: left;
    height: 30px;
    width: 120px;
}
.attachment_validation
{
    float: left;
    text-align: center;
    width: 398px;
    margin-top: 3px;
}
.unread td
{
    color: #4c5c9e;
    
}
.unread td a 
{
    color: #4c5c9e;
    
}
.forword_attach
{
    float: left;
    height: 21px;
    padding-left: 18px;
    width: 411px;
}


/*** new classes by mohit ***/

.preferences_listtype_selectbox {
    float: left;
    height: 30px;
    margin:0 0 20px 10px;
    padding-top: 16px;
    width: 150px;
}

.preferences_listtype_selectbox2 {
    float: left;
    height: 50px;
    margin-left: 30px;
    padding-top: 16px;
    width: 222px;
}

.preferences_listtype_list {
    float: left;
    margin-left: -220px;
    margin-top: 104px;
}

.preferences_listtype_list li {
    list-style: none;
}

.preferences_listtype_list input {
    float: left;
    margin-top: 5px;
}

.preferences_listtype_list span {
    color: white;
    float: inherit;
    font-family: LucidaGrande;
    font-size: 20px;
    margin-top: 6px;
    padding-left: 15px;
}

.preferences_listtype_friend {
    color: white;
    float: left;
    font-family: znikomit;
    font-size: 20px;
    margin-left: -215px;
    margin-top: 58px;
}

.preferences_listtype_list_two {
    float: left;
    margin-left: -60px;
    margin-top: 104px;
}

.preferences_listtype_list_two li {
    list-style: none;
}

.preferences_listtype_list_two input {
    float: left;
    margin-top: 5px;
}

.preferences_listtype_list_two span {
    color: white;
    float: inherit;
    font-family: LucidaGrande;
    font-size: 20px;
    margin-top: 6px;
    padding-left: 15px;
}

.preferences_listtype_one_two
{
    float: left;
    height: 98px;
}

.preferences_listtype_width {
    float: right;
    height: 627px;
    margin-right: -109px;
    margin-top: -244px;
    width: 410px;
}

.preferences_listtype_requretitlee {
    color: red;
    display: none;
    float: left;
    font-size: 13px;
    margin-top: 3px;
    padding-left: 63px;
    /*width: 204px;*/
    
}

.preferences_requretitle_select {
    color: red;
    display: none;
    float: left;
    font-size: 12px;
    padding-left: 144px;
    padding-top: 8px;
    width: 129px;
    
}

.preferences_listtype_middle
{
    width: 475px;
}

.preferences_listtype_middlepara
{
    
    font-size: 17px;
}

.preferences_listtype_imgpara1
{
    
    font-size: 16px !important;
}

.preferences_listtype_imgpara2
{
    
    font-size: 16px;
}

.preferences_listtype_imgpara3
{
    
    font-size: 17px !important;
}

.preferences_listtype_area_one {
    border: medium none;
    color: #BDBDC6;
    font-family: LucidaGrande;
    font-size: 17px;
    font-style: italic;
    width: 335px;
}

.preferences_listtype_arew {
    border: medium none;
    color: #BDBDC6;
    float: left;
    font-style: italic;
    height: 90px;
    margin-left: 4px;
    margin-top: 12px;
    width: 418px;
    font-size: 17px;
    font-family: LucidaGrande;
    
}

.preferences_listtype_submitdiv {
    float: right;
    height: 68px;
    margin-top: 115px;
    width: 475px;
}

/**** popup list creation *****/

.popup_listmaindiv {
    float: left;
    height: auto;
    margin: 20px 0 0 102px;
    min-width: 540px;
}

.popup_submitdiv {
    float: left;
    height: 68px;
    margin-left: 102px;
    margin-top: 20px;
    text-align: left;
    width: 470px;
}

.popup_list_title_div1 {
    float: left;
    min-height: 70px;
    width: 660px;
}

.popup_row_namefild {
    float: left;
    font-family: Znikomit;
    font-size: 60px;
    font-weight: bold;
    margin-top: 4px;
    min-height: 45px;
    padding-left: 14px;
    text-align: center;
    width: 645px;
    font:bold 60px Znikomit;
}

.popup_outerdiv1 {
    float: left;
    height: auto;
    min-width: 650px;
}

.popup_listimage{
    height: 75px;
    margin-top: 13px;
    width: 75px;
    border: 1px solid grey;
}

.popup_row_textfild {
    float: left;
    margin-left: 102px;
    margin-top: 0px;
    width: 100px;
}

.popup_listimage_maindiv
{
    float: left;
    width: 430px;
}

.popup_listimage_authorinfo
{
    color: #C8C8C8;
    float: left;
    font-family: LucidaGrande;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    width: 120px;
}

.popup_votingspan_outer
{
    background: none repeat scroll 0 0 #FAEE53;
    border-radius: 4px 4px 4px 4px;
    float: left;
    height: 21px;
    text-align: center;
    width: 35px;/*background-image: url('../images/buttons/zero_voting.png');*/
}

.popup_votingspan_inner
{
    color: black; float: left; width: 33px; text-align: center; padding: 2px 0pt 0pt;
}

.popup_addrowdiv {
    float: left;
    height: 30px;
    width: 222px;
    font-size: 14px;
}

.popup_addcoldiv {
    float: left;
    height: 30px;
    width: 262px;
}

.popup_addspan1
{
    color: #C8C8C8;
    float: left;
    font-family: LucidaGrande;
    font-weight: bold;
    padding-right: 5px;
}

.popup_addspan2
{
    cursor: pointer; padding:1px 15px 0 0; float: left;
}

.popup_separator
{
    color: #C8C8C8;
    float: left;
    font-weight: bold;
    padding-right: 15px;
}

.popup_removetd
{
    cursor: pointer; color: #c8c8c8; font-family: LucidaGrande; font-weight: bold;
}

.popup_titlete_textfild {
    background-color: white;
    color: #9B9BA8;
    font-family: LucidaGrande;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    min-height: 30px;
    min-width: 73px;
    text-align: center;
    word-wrap: break-word;
}

.popup_table_input
{
    color: black;
    font-family: LucidaGrande;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    height: 30px;
    width: 260px;
    border: 0 none;
    /*width: 142px;*/
}
.popup_table_input_background
{
    background: none repeat scroll 0 0 #95BCF2;
    color: white;
    font-family: LucidaGrande;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    height: 28px;
    width: 142px;
}
.popup_rating_div
{
    float: left; background: #95bcf2; width: 474px; color: #fafbfe; font-family: Znikomit; font-size: 20px; font-weight: bold;
}

.popup_table_input_opininon
{
    color: black;
    font-family: LucidaGrande;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    height: 30px;
    width: 287px;
    border: 0 none;
    
}

/**** seelist new ****************/

.popup_outer_see_list {
    float: left;
    min-height: 400px;
    min-width: 515px;
    padding: 60px 0 0 100px;
    text-align: center;
}

.popup_outerdiv1_auth {
    float: left;
    min-height: 591px;
    min-width: 635px;
    padding: 15px 0 0 15px;
}

.popup_list_name {
    color: white;
    height: 60px;
    min-width: 205px;
    padding: 0 0 35px 20px;
}

.popup_newupper_textdiv
{
    color: #C8C8C8;
    font-family: LucidaGrande;
    font-size: 25px;
    font-weight: bold;
    padding: 0 0 45px 60px;
    text-align: left;
}

.popup_editlist_submitdiv
{
    float: left;
    height: 68px;
    margin-left: 0;
    margin-top: 69px;
}

.popup_image_mylist {
    height: 40px;
    width: 55px;
    border: 1px solid grey;
}

.popup_editlist_titlediv {
    /*background-color: #95BCF2;*/
    background: none repeat scroll 0 0 #95BCF2;
    border-bottom: 1px solid #434244;
    border-right: 1px solid #434244;
    color: #555555;
    float: left;
    font-family: LucidaGrande;
    font-size: 25px;
    font-style: italic;
    min-height: 50px;
    text-align: center;
    width: 80px;
    word-wrap: break-word;
}

.popup_editlist_row_div {
    border-bottom: 1px solid #434244;
    border-right: 1px solid #434244;
    float: left;
    min-height: 90px;
    text-align: center;
    width: 80px;
    word-wrap: break-word;
    color: #C8C8C8;
    font-family: LucidaGrande;
    font-size: 25px;
    font-style: italic;
}

.popup_seelist_row_div {
    border-bottom: 1px solid #434244;
    border-right: 1px solid #434244;
    color: #C8C8C8;
    float: left;
    font-family: LucidaGrande;
    font-size: 23px;
    font-style: italic;
    min-height: 90px;
    text-align: center;
    width: 80px;
    word-wrap: break-word;
}

/**listtitle******/
.preferences_listtitle_requretitle_select {
    color: red;
    display: none;
    
    font-size: 13px;
    padding-left: 141px;
    padding-top: 2px;
    width: 133px;
    
}

/********* popup editlist ***************/
.popup_editlist_list_name {
    min-height: 85px;
    min-width: 205px;
    padding: 0 0 40px 20px;
}

.popup_editlist_list_name_div {
    color: #C8C8C8;
    float: left;
    font-family: LucidaGrande;
    font-size: 25px;
    font-weight: bold;
    min-height: 46px;
    padding-left: 10px;
    padding-top: 10px;
    width: 140px;
}

.popup_editlist_list_image_div {
    float: left;
    height: 80px;
    width: 100px;
}

.popup_editlist_savediv {
    float: left;
    height: 68px;
    margin-left: 0;
    margin-top: 50px;
}

.popup_editlist_tabletd
{
    color: #C8C8C8;
    font-family: LucidaGrande;
    font-size: 23px;
    font-style: italic;
    height: 28px;
    text-align: center;
}

.popup_editlist_titlete_textfild {
    background-color: #95BCF2;
    font-family: LucidaGrande;
    font-size: 23px;
    font-style: italic;
    min-height: 30px;
    min-width: 73px;
    text-align: center;
    word-wrap: break-word;
}

/********** list detail *************/
.list_detail_listimage {
    border: 1px solid grey;
    height: 100px;
    margin-top: 13px;
    width: 110px;
}

.list_detail_row_textfild {
    float: left;
    margin-left: 102px;
    margin-top: 0;
    width: 135px;
}

.list_detail_listimage_authorinfo {
    color: #333232;
    float: left;
    font-family: LucidaGrande;
    font-size: 18px;
    font-weight: bold;
    height: 100px;
    margin-top: 8px;
    width: 473px;
}

.list_detail_author_val
{
    float: left; width: 360px;
}

.list_detail_author_attr
{
    float: left; width: 80px; padding-right: 5px; 
}

.list_detail_outerdiv
{
    /*background: none repeat scroll 0 0 #E1F8FD;*/
    float: left;
    margin-left: 0;
    min-height: 810px;
    padding: 32px 0 0 0px;
    width: 965px;
}

.editlist_maintable {
    float: left;
    height: auto;
    padding: 10px 0 0 80px;
    width: auto;
}

.listdetail_titlete_textfild {
    background-color: white;
    color: #333232;
    float: left;
    font-family: LucidaGrande;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    min-height: 30px;
    text-align: center;
    width: 157px;
    word-wrap: break-word;
}

.editlist_titlete_textfild {
    color: #9b9ba8;
    float: left;
    font-family: LucidaGrande;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    min-height: 30px;
    width: 157px;
    word-wrap: break-word;
    padding-left: 2px;
}

/******* new editlist ******************/
.neweditlist_outerdiv1_auth {
    float: left;
    min-height: 440px;
    padding: 15px 0 0 15px;
    min-width: 635px;
}

.neweditlist_mainouterdiv {
    float: left;
    height: auto;
    min-width: 634px;
}


.neweditlist_popup_row_namefild {
    float: left;
    font-family: Znikomit;
    font-size: 60px;
    font-weight: bold;
    margin-top: 4px;
    min-height: 45px;
    padding-left: 14px;
    text-align: center;
    width: 615px;
    font: bold 60px Znikomit;
}

.neweditlist_listimage_authorinfo {
    color: #c8c8c8;
    float: left;
    font-family: LucidaGrande;
    font-size: 14px;
    font-weight: bold;
    height: 100px;
    margin-top: 8px;
    width: 395px;
    font: bold 14px LucidaGrande;
}

.neweditlist_author_val {
    float: left;
    width: 290px;
}


.neweditlist_titlete_textfild {
    background-color: #95BCF2;
    color: #FAFBFE;
    font-family: Znikomit;
    font-size: 20px;
    font-weight: bold;
    min-height: 30px;
    min-width: 73px;
    text-align: center;
    word-wrap: break-word;
}

.neweditlist_outer_see_list {
    float: left;
    height: auto;
    margin-bottom: 0;
    margin-right: 0;
    width: auto;
}

/******** user settings *****************/

.newuserprofile_usernamediv1 {
    color: #7F7F7F;
    float: left;
    font-family: Znikomit;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    width: 128px;
}

.newuserprofile_usernamediv2 {
    color: #9b9ba8;
    float: left;
    font-family: Znikomit;
    font-size: 17px;
    font-weight: bold;
    height: 30px;
    width: auto;
    font-style: italic;
    padding-top: 1px;
    word-wrap: break-word;
}

.newuserprofile_usernamediv2interest {
    color: #9b9ba8;
    float: left;
    font-family: Znikomit;
    font-size: 17px;
    font-weight: bold;
    height: 30px;
    width: auto;
    font-style: italic;
    padding-top: 1px;
    word-wrap: break-word;
}


.newuserprofile_usernamedivgroups {
    float: left;
    font-size: 22px;
    min-height: 35px;
    width: 47%;
}

.newuserprofile_usernamediv2groups {
    color: #9B9BA8;
    float: left;
    font-family: Znikomit;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    min-height: 30px;
    padding-top: 1px;
    width: 210px;
    word-wrap: break-word;   
}

.newuserprofile_usernamediv {
    float: left;
    font-size: 22px;
    height: 35px;
    width: 47%;
}

.newuserprofile_mypreferences {
    color: #9b9ba8;
    float: left;
    font-family: Znikomit;
    font-size: 17px;
    font-weight: bold;
    height: 30px;
    width: 180px;
}

.newuserprofile_mytakenpreferences {
    color: #9b9ba8;
    float: left;
    font-family: Znikomit;
    font-size: 17px;
    font-weight: bold;
    height: 30px;
    width: 200px;
}

.newuserprofile_myopinions {
    color: #9b9ba8;
    float: left;
    font-family: Znikomit;
    font-size: 17px;
    font-weight: bold;
    height: 30px;
    width: 160px;
}

.newuserprofile_usernamediv2occupation {
    color: #9B9BA8;
    float: left;
    font-family: Znikomit;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    min-height: 30px;
    padding-top: 1px;
    width: 250px;
    word-wrap: break-word;
}

.newuserprofile_message_h2inbox {
    font-family: Znikomit;
    font-size: 40px;
    font-weight: bold;
    width: 890px; 
    margin-left: 10px;
    color: black;
}

.newuserprofile_userprofileuper
{
    float: left; width: 920px; padding: 40px 0 0 10px;
}

.newuserprofile_upperdiv
{
    background: none repeat scroll 0 0 white; float: left; margin-bottom: 15px; padding: 20px 0 0 15px; width: 850px; min-height: 360px;
}

.newuserprofile_upperleftdiv
{
    float: left; width: 100px; min-height:360px;
}

.newuserprofile_userimage
{
    height:90px; width: 90px;
}

.newuserprofile_userbio
{
    color: #9B9BA8; float: left; font-family: Znikomit; font-size: 15px; font-style: italic; font-weight: bold; height: auto; padding: 5px 0 0 7px; width: 90px;
} 

.newuserprofile_userinfodiv
{
    float: left; width: 730px; padding-left: 20px;
}

.newuserprofile_userinfotitle
{
    color: #404040; float: left; font-family: Znikomit; font-size: 25px; font-weight: bold; float: left; width: 740px; padding-bottom: 10px;
}

.newuserprofile_freeworldinfodiv
{
    float: left; width: 730px; padding-left: 20px;
}

.newuserprofile_freeworldinfotitle
{
    color: #404040; float: left; font-family: Znikomit; font-size: 25px; font-weight: bold; float: left; width: 740px; padding:20px 0 10px 0px;
}

.newuserprofile_crew_save {
    float: left;
    width: 120px;
}

/******* editprofile popup ********/
.edituserprofile_popup
{
    float: left;
    height: 650px;
    width: 660px; 
    padding: 0 0 0 10px;
}

.edituserprofile_h2 
{
    color: white;
    float: left;
    font-family: Znikomit;
    font-size: 60px;
    height: 75px;
    margin-bottom: 10px;
    margin-top: 4px;
    padding-left: 14px;
    text-align: center;
    width: 615px;
    font-weight: bold;
}

.edituserprofile_savebutton 
{
    float: left;
    padding: 20px 0 0 188px;
}

.edituserprofile_maindiv
{
    float: left; width: 655px; height: 505px;
}

.edituserprofile_usernamediv 
{
    float: left;
    font-size: 22px;
    height: 50px;
    width: 510px;
    padding-left: 155px;
}

.edituserprofile_usernamediv1 
{
    color: #C8C8C8;
    float: left;
    font-family: LucidaGrande;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    width: 140px;
     padding-top: 10px;
}

.edituserprofile_usernamediv2
{
    float: left;
    height: 30px;
    width: auto; 
    padding-top: 2px;
}

.edituserprofile_input 
{
    background: none repeat scroll 0 0 white;
    border: medium none;
    color: black;
    height: 22px;
    width: 220px;
    font-family: LucidaGrande;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
}

.edituserprofile_image_upload_reg 
{
    color: black;
    height: 25px;
    width: 268px;
    font-size: 17px;
}

.edituserprofile_uploadpicture
{
    float: left; margin-left: 0px; cursor: pointer;
}

/******* user dashboard *************/

.dashboard_userimage {
    height: 100px;
    width: 112px;
    border: 1px solid grey;
}

.dashboard_mainouterdiv
{
    float: left; width: 990px; min-height: 770px;
}

.dashboard_mainupperdiv
{
    float:left; width: 980px; min-height:192px; padding-top: 50px;
}

.dashboard_mainupper_leftdiv
{
    float:left; width: 485px; min-height:192px;
}

.dashboard_mainupper_left_image
{
    float: left; width:112px; height:100px;
}

.dashboard_mainupper_left_namediv
{
    float: left; width: 370px; height: 100px;
}

.dashboard_mainupper_left_name
{
    float: left; width:362px; font-size: 40px; font-family: Znikomit; font-weight: bold; margin-top: -7px; padding-left: 5px; color: #131515;
}

.dashboard_mainupper_left_modediv
{
    float: left; width: 350px; height: 26px; padding-left: 8px;
}

.dashboard_mainupper_left_mode
{
    float: left; color: #454e4c; 
}

.dashboard_mainupper_left_modearrow
{
    height: 20px; padding-left: 5px; padding-top: 3px;
}

.dashboard_mainupper_left_images
{
    float: left; height: 25px; padding:10px 0 0 8px; width: 300px;
}

.dashboard_mainupper_left_listdisplay
{
    float: left; width: 460px; height: 28px; padding-top: 30px;
}

.dashboard_mainupper_left_listdisplay_val
{
    float: left; width: 225px; padding-top: 1px;
}

.dashboard_mainupper_left_listdisplay_select
{
    border: 1px solid #ADADAD; color: black; font-family: LucidaGrande; font-size: 17px; font-style: italic; font-weight: bold; height: 23px; width: 200px;
}

.dashboard_mainupper_left_listdisplay_listtaken
{
    float: left; width: 460px; min-height: 28px;
}

.dashboard_mainupper_left_listdisplay_listtakenval
{
    float: left; width: 225px; padding-top: 1px;
}

.dashboard_mainupper_rightdiv
{
    float:left; width: 450px; height:192px;
}

.dashboard_mainupper_right_textarea
{
    border: 1px solid #A9ADAC; color: black; float: left; font-family: LucidaGrande; font-size: 20px; font-style: italic; height: 65px; width: 445px;
}

.dashboard_mainupper_right_shareimg
{
    float: left; width: 447px; height: 25px; padding-top: 10px;
}

.dashboard_mainlowerdiv
{
    float:left; width: 980px; min-height:450px; padding-bottom: 30px;
}

.dashboard_mainlowerdiv_left
{
    float: left; width: 466px; height: 400px; background-color: #5a6365; border-radius: 25px;
}

.dashboard_mainlowerdiv_left_managefriends
{
    float: left; width: 430px; padding-left: 5px; height: 40px; border-bottom: 1px solid #a9adac; margin: 10px;
}

.dashboard_mainlowerdiv_left_managefriendstitle
{
    float: left; width: 290px; font-size: 25px; font-family: Znikomit; font-weight: bold; color: white;
}

.dashboard_mainlowerdiv_left_managefriends_search
{
    float: left; width: 140px; padding-top: 5px;
}

.dashboard_mainlowerdiv_left_managefriends_searchinput
{
    height:21px; width: 115px; border: 1px solid #A9ADAC; margin-left: 10px; color: black; font-family: LucidaGrande; font-size: 14px; font-weight: bold; font-style: italic;
}

.dashboard_mainlowerdiv_left_innerdiv
{
    background-color: white; float: left; width: 434px; height: 320px; border-bottom: 1px solid #a9adac; margin:0 10px 10px 10px;
}

.dashboard_mainlowerdiv_left_innerdivname
{
    float: left; width: 434px; height: 30px; text-align: center; font-weight: bold;
}

.dashboard_mainlowerdiv_left_innercontent
{
    float: left; width: 434px; height: 290px; font-weight: bold;
}

.dashboard_mainlowerdiv_left_friendinfo
{
    float: left; width: 434px; min-height: 20px; padding-bottom: 15px;
}

.dashboard_mainlowerdiv_left_friendname
{
    float: left; width: 135px; padding-left: 10px; font-size: 16px;
}

.dashboard_mainlowerdiv_left_friendlisttitle
{
    float: left; width: 260px; padding-left: 10px; font-size: 16px; margin-top: -1px; color: #A0A0A0;
}

.dashboard_mainlowerdiv_left_nofrienddiv
{
    float: left; width: 434px; min-height: 20px; padding-bottom: 15px;
}

.dashboard_mainlowerdiv_left_nofriendspan
{
    float: left; width: 434px; padding-top: 50px; text-align: center; font-size: 16px; color: #A0A0A0;
}

.dashboard_mainlowerdiv_rightmaindiv
{
    float:left; width: 450px; height:250px; padding:0 0 25px 30px;
}

.dashboard_mainlowerdiv_right_upperdiv
{
    background-color: #7B9CD9; color: white; float: left; font-weight: bold; font-family: Znikomit; height: 34px; padding-top: 3px; text-align: center; width: 450px;
}

.dashboard_mainlowerdiv_right_upperinnerdiv
{
    background-color: white; float: left; height: 210px; width: 450px;
}

.dashboard_mainlowerdiv_right_mycreationsdiv
{
    float: left; height: 210px; width: 225px; border-right: 1px solid #a9adac;
}

.dashboard_mainlowerdiv_right_mycreationscontent
{
    float: left; height: 30px; width: 215px; padding:10px 0 0 5px;
}

.dashboard_mainlowerdiv_right_mycreationsimage
{
    height: 22px; width: 22px; border: 1px solid black;
}

.dashboard_mainlowerdiv_right_mycreationslisttitle
{
    float: left; font-size: 18px; font-weight: bold; padding: 1px 0 0 8px; width: 180px;
}

.dashboard_mainlowerdiv_right_nomycreationsdiv
{
    float: left; height: 30px; width: 215px; padding:10px 0 0 5px;
}

.dashboard_mainlowerdiv_right_nomycreationsspan
{
    float: left; font-size: 18px; font-weight: bold; padding: 1px 0 0 8px; width: 210px; text-align: center;
}

.dashboard_mainlowerdiv_right_myhistorydiv
{
    float: left; height: 210px; width: 220px;
}

.dashboard_mainlowerdiv_right_myhistorycontent
{
    float: left; height: 30px; width: 198px; padding:10px 0 0 25px;
}

.dashboard_mainlowerdiv_right_myhistoryimage
{
    height: 22px; width: 22px; border: 1px solid black;
}

.dashboard_mainlowerdiv_right_myhistorylisttitle
{
    float: left; font-size: 18px; font-weight: bold; padding: 1px 0 0 8px; width: 165px;
}

.dashboard_mainlowerdiv_right_nomyhistorydiv
{
    float: left; height: 30px; width: 215px; padding:10px 0 0 5px;
}

.dashboard_mainlowerdiv_right_nomyhistoryspan
{
    float: left; font-size: 18px; font-weight: bold; padding: 1px 0 0 8px; width: 210px; text-align: center;
}

.dashboard_mainlowerdiv_right_interestdiv
{
    width: 450px; height:220px; padding-right: 45px; float: right;
}

.dashboard_mainlowerdiv_right_interesthighlight
{
    background-color: #7B9CD9; color: white; float: left; font-weight: bold; font-family: Znikomit; height: 34px; padding-top: 3px; text-align: center; width: 450px;
}

.dashboard_mainlowerdiv_right_interestcontent
{
    background-color: white; float: left; min-height: 70px; width: 450px;
}

.dashboard_mainlowerdiv_right_interestcontentdiv
{
    float: left; min-height: 70px; padding: 10px 0 10px 50px; width: 400px;
}

.dashboard_mainlowerdiv_right_highlightedinterest
{
    float: left; width: 400px; margin-bottom: 5px; background-color: #5A6365;
}

.dashboard_lodingforfrind
{
    margin-top: 3px; margin-left: -18px; float: left;display: none;
}

.dashboard_mainlowerdiv_left_managefriends_arrowdiv
{
    float: right; margin-right: -4px; height: 22px;
}

.dashboard_mainlowerdiv_left_managefriends_arrowimg
{
    background-color: white; height: 21px;margin-left: -34px;
    margin-top: 1px;
}

.dashboard_mainlowerdiv_left_searchfriendname {
    float: left;
    font-size: 16px;
    padding-left: 10px;
    width: 420px;
}

.dashboard_mainlowerdiv_left_searchfriendinfo
{
    float: left;
    padding-bottom: 10px;
    width: 420px;
}

.dashboard_profilestatusdiv
{
    background-color: #5A6365;
    border: 1px solid grey;
    color: white;
    height: 85px;
    text-align: center;
    float: left;
    padding-top: 10px;
    width: 447px;
}

.dashboard_regiondiv
{
    color: #131515;
    float: left;
    font-family: Znikomit;
    font-size: 20px;
    font-weight: bold;
    width: 350px;
}

.dashboard_friendreqsent_div
{
    background-color: #5A6365;
    color: white;
    float: left;
    font-size: 19px;
    margin-top: -1px;
    text-align: center;
    width: 150px;
}

.dashboard_createlistimg
{
    float: left; padding-right: 28px;
}

.dashboard_addfriendimg
{
    float: left;
    height: 20px;
    padding-right: 28px;
    width: 106px;
}

.dashboard_addfavoritesimg
{
    float: left; padding-right: 25px;
}

/********* preferences world *********/

.preferences_world_listimg
{
    height: 55px;
    width: 60px;
}

.preferences_officialtoday_listimg
{
    height: 55px;
    width: 60px;
}
.preferences_listtype_seesuggestion
{
    float: left;
    font-size: 13px;
    margin-top: 4px;
    width: 350px;
    display: none;    
    padding-left:62px;
    cursor: pointer;
}

.popup_listimage_maindiv
{
    float: left;
    width: 100%; 
    padding-top: 20px;
    margin-bottom: 15px;
}
.suggestionsee_popupdiv1
{
    float: left;
    height: auto;
    width: auto;    

}
.suggestionsee_popupdiv1_authorinfo {
    color: white;
    float: left;
    font-family: LucidaGrande;
    font-size: 18px;
    font-weight: bold;
    height: 100px;
    margin-top: 15px;
    width: 245px;
}
.suggestionsee_popupdiv1_val
{
    float: left; width: 148px;word-wrap: break-word;height: auto;
}
.suggestionsee_popupdiv1_textfild 
{
    float: left;
    margin-left: 12px;
    margin-right: 8px;
    width: 60px;
}

/******* new takelist *************/

.takelist_listmaindiv {
    float: left;
    height: auto;
    min-width: 565px;
    padding-left: 39px;
}

.takelist_list_title_div1 {
    float: left;
    margin-bottom: 30px;
    min-height: 100px;
    padding-left: 45px;
    width: 575px;
}

.takelist_hintdiv
{
    cursor: pointer;
    float: left;
    text-align: right;
    width: 100%;
}


.takelist_row_namefild {
    float: left;
    font-size: 18px;
    height: 45px;
    margin-top: 21px;
    min-width: 125px;
}

.takelist_submitdiv {
    float: left;
    height: 68px;
    margin-left: 46px;
    margin-top: 30px;
}
.take_newdis_listimage_maindiv
{
    float: left;
    margin-left: 70px;
    margin-top: 0;
    width: 100px;
}
.popup_listimage_authorinfo_takelist
{
    color: #C8C8C8;
    float: left;
    font-family: LucidaGrande;
    font-size: 14px;
    font-weight: bold;
    margin-top: 9px;
    width: 458px;
    font: bold 14px LucidaGrande;
}
.takelist_title_newdis
{
    color: white;
    padding-top: 5px;
}

/********** user dashboard ***********/
.dashboard_modelink
{
    color:#333232; text-decoration: none;
}

.dashboard_interestselect
{
    color: #333232;
    font-family: Geosanslight;
    font-size: 20px;
    font-weight: bold;
    height: 70px;
    width: 400px;
}

.dashboard_saveinterestdiv
{
    float: left; padding-top: 15px; width: 450px;
}

.dashboard_saveinterest_loadingimg
{
    float: left; display: none; padding: 8px 0 0 8px;
}

.dashboard_dplist
{
    display:none; float: right; padding-top: 3px;
}

.dashboard_mainlowerdiv_left_frienddplist
{
    color: #A0A0A0;
    float: left;
    font-size: 16px;
    margin-top: 5px;
    padding-left: 23px;
    width: 254px;
}

.dashboard_mainlowerdiv_right_favlistsdiv {
    float: left;
    height: 210px;
    width: 445px;
}

.dashboard_mainlowerdiv_right_favlistslisttitle {
    float: left;
    font-size: 18px;
    font-weight: bold;
    padding: 1px 0 0 8px;
    width: 155px;
}

.dashboard_mainlowerdiv_right_favlistscontent {
    float: left;
    height: 30px;
    padding: 10px 0 0 5px;
    width: 205px;
    margin-right: 10px;
}

.dashboard_mainlowerdiv_right_upperinnerfavlistsdiv {
    background-color: white;
    float: left;
    height: 210px;
    width: 450px;
}

.dashboard_mainlowerdiv_rightmainfavlistsdiv {
    float: left;
    height: 250px;
    padding: 0 0 25px 30px;
    width: 450px;
}

.dashboard_removefavoritesimg
{
    float: right; padding-top: 5px; width: 15px; cursor: pointer;
}

/*** search new *********/
.paging_insearch_new {
    float: right;
    height: 35px;
    width: 43%;
}

/********* static pages ****************/
.about_outerdiv1_auth {
    background: none repeat scroll 0 0 #E1F8FD;
    float: left;
    min-height: 750px;
    padding: 15px 0 0 15px;
    width: 1153px;
}

.about_header
{
    color: black; font-family: Lucida Grande; font-size: 40px; margin-left: 10px; width: 99%; text-align: center;
}

.about_maindiv
{
    float: left; font-family: lucida grande; font-size: 20px; padding: 15px 80px 50px 80px;;
    line-height: 27px;
}

/**** contact ******/
#contact_address-bar {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
}

#contact_address {
    color: #666666;
    float: left;
    font-weight: bold;
    width: 125px;
}


#contact_email1 {
    color: #666666;
    float: left;
    font-weight: bold;
    width: 125px;
}

#contact_head-office {
    color: #666666;
    float: left;
    font-weight: bold;
    width: 125px;
    height:75px;
}

#contact_phone {
    color: #666666;
    float: left;
    font-weight: bold;
    width: 125px;
}

.contact_innernamediv
{
    float: left;
    height: 65px;
    width: 440px;
}

.contact_fieldset {
    background: none repeat scroll 0 0 #86A0D3;
    border: 1px solid #BBAFA0;
    margin: 28px 0;
    padding: 22px 25px 28px 33px;
    width: 425px;
}


.contact_fieldset .contact_legend {
    background: none repeat scroll 0 0 #F9F3E3;
    border: 1px solid #D63564;
    color: #D63564;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: -33px 0 0 -10px;
    padding: 0 8px;
    position: relative;
}

.contact_form-list label {
    color: white;
    float: left;
    font-weight: bold;
    position: relative;
    z-index: 0;
    width: 115px;
}



.contact_form-list input.contact_input-text {
    width: 254px;
}

.contact_input-text
{
    padding: 2px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B6B6B6;
}

.contact_textareacomment
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B6B6B6;
    padding: 2px;
    width: 300px;
}

.contact_buttons-set {
    border-top: 1px solid #E4E4E4;
    clear: both;
    padding: 8px 0 0;
    text-align: right;
    width: 485px;
}

.contact_form-list li
{
    list-style: none;
}

.contact_maindiv {
    float: left;
    font-family: lucida grande;
    font-size: 20px;
    height: 780px;
    padding: 25px;
}

.contact_col_main
{
    float: left; height: auto; width: 100%;
}

.contact_col_maindiv
{
    width:945px;height:800px;float: left;
}

.contact_col_leftmaindiv
{
    width:495px;height:765px;float: left;
}

.contact_address2
{
    float:left; width: 310px; padding-bottom: 15px;
}

.contact_col_leftlowerdiv
{
    float:left; width:495px;
}

.contact_col_left_form
{
    font-weight: bold;color:#666666;font-size:22px; padding-bottom: 5px;
}

.contact_col_left_form2
{
    font-weight: bold;color:#666666;
}

.contact_col_left_form3
{
    font-weight: bold;color:black;font-size:22px; padding-bottom: 10px; padding-top: 5px;
}

.contact_googlemapdiv
{
    width: 410px; float:left; height: 450px; margin:20px 0 0 25px; border: 2px solid #BBAFA0;
}
#map
{
    width: 410px;
}

#contact_name_req
{
    display: none; float:left; font-size:14px; color:red;padding-left: 116px;
}

#contact_email_req
{
    display: none; float:left; font-size:14px; color:red; padding-left: 116px;
}

#contact_telephone_req
{
    display: none; float:left; font-size:14px; color:red; padding-left: 116px;
}
#Comment_email_req
{
    display: none; float:left; font-size:14px; color:red; padding-left: 116px;padding-top: 6px;
}
.contact_successmsg
{
    color: darkgreen;
    float: left;
    font-size: 17px;
    text-align: right;
    width: 485px;
    display: none;
}

.contact_loadingajax
{
    display: none;
    float: left;
    padding-left: 7px;
    padding-top: 3px;
}
.popup_row_namefild_listdetail
{
    float: left;
    font-family: Znikomit;
    font-size: 60px;
    font-weight: bold;
    margin-top: 4px;
    min-height: 45px;
    padding-left: 50px;    
    width: 1030px;
}
.listdetail_titlete_disign
{
    background: #789bda; 
    padding-left: 3px; 
    margin-right: 1px;
    color: #333232;
    float: left;    
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    min-height: 30px;
    min-width: 200px;
    text-align: center;
    width: auto;
    word-wrap: break-word;
}

.polldetail_design
{
    background: #789bda; 
    padding-left: 3px; 
    margin-right: 1px;
    color: #333232;
    float: left;    
    font-size: 22px;
    font-style: italic;
    font-weight: bold;
    min-height: 30px;
    width: 300px;
    text-align: center;    
    word-wrap: break-word;
}
.polldetail_textfild_first
{
    background-color: white;
    color: #333232;
    float: left;
    font-family: LucidaGrande;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    min-height: 30px;
    width: 300px;
    word-wrap: break-word;
}
.listdetail_titlete_textfild_rate
{
    background-color: white;
    color: #333232;
    float: left;
    font-family: LucidaGrande;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    min-height: 30px;    
    width: 157px;
    word-wrap: break-word;
}
.listdetail_titlete_textfild_first
{
    background-color: white;
    color: #333232;
    float: left;
    font-family: LucidaGrande;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    min-height: 30px;
    /*text-align: center;*/
    width: 157px;
    word-wrap: break-word;
}
.auth_header_user_img_invite {
    height: 35px;
    width: 40px;
}
.takelist_newdis_title_div
{
    float: left;
    font-family: Znikomit;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: -25px;
    margin-top: -15px;
    min-height: 45px;
    text-align: center;
    width: 602px;
    font: normal 60px Znikomit;
}
.takelist_list_title_div1_newdis
{
    float: left;
    margin-bottom: 4px;
    min-height: 100px;
    padding-left: 45px;
    width: 575px;
}

.datepick-month table
{
    margin-bottom: 0px;
}
.reply_viewdiv3
{
    float: left;
    height: 122px;
    margin-left: 5px;
    margin-top: 25px;
}
.forgot_password_main_home
{
    background: none repeat scroll 0 0 black;
    float: left;
    height: auto;
    margin-top: 1px;
    width: 500px;
}
.content_forgot
{
    float: left;
    height: auto;
     width: 100%;
     
}
.content_right_forgot
{
    background: black;
    float: left;
    
    width: 491px;
}
.content_right_bottom_forgot
{
    background: none repeat scroll 0 0 black;
    float: left;
    height: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 374px; 
}
.free_forgotpassword_page
{
    color: white;
    float: left;
    height: 40px;
    text-align: center;
    width: 100%;
    font-family: ArchivoNarrow-Regular;
    margin-top: 17px;
    font-size: 18px;
}
.forgotpas_new_style
{
    float: left;
    
    margin-left: 18px;
    width: 95%;
}
.enter_email_text
{
    float: left;
    height: 30px;
    width: 250px;
}
.email_fogtpassword {
    background: url("../newimages/email_bg.png") no-repeat scroll 0 0 transparent;
    float: left;
    font-family: arial;
    font-size: 12px;
    height: 40px;
    width: 336px;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    color: #A9A9A9;
    padding-left: 10px;
    font-style: italic;
    line-height: 35px;
}
.first_name2_forgot{
    float: left;
    margin-top: -5px;
    width: 350px;
    margin-left: 60px;
    height: 60px;
}
.register_forgotpassword
{
    float: left;
    height: 45px;
    width: 180px;
    margin-left: 182px;
    margin-top: 38px;
}
.message_home_forgot_flashmgz
{
    margin: 10px 0 9px;
    text-align: center;
    width: 100%;
    float: left;
    height: 0px;
}

.message_home_forgot_msg
{
    margin: 55px 0 9px;
    text-align: center;
    width: 100%;
    float: left;
    height: 0px;
}
.forgotpassword_ok
{    
    background: none repeat scroll 0 0 #F6EE54;
    color: #16287C;
    cursor: pointer;
    font-family: FjallaOne-Regular;
    font-size: 19px;
    font-style: normal;
    height: 35px;
    margin: 0 0 0 200px;
    padding: 0;
    text-align: center;
    width: 92px;
}
.forgotpassword_ok:hover
{
    background: #ddd653;
}
.forgotpassword_ok_div
{
    float: left;
    margin-top: 40px;
    text-align: center;
    width: 100%;
}


.forgot_password_flashmsgdiv
{
    background: none repeat scroll 0 0 black;
    float: left;
    height: auto;
    margin-top: 1px;
    width: 500px;
    height: 176px;
}
.lodinggif_forgotpass
{
    background: none;
    float: left;
    height: 28px;
    margin-left: 1px;
    margin-top: 4px;
    width: 28px;
    display: none;
}
.lodinggif_header
{
    background: none repeat scroll 0 0 transparent;
    display: block;
    padding: 0;
    float: left;
    height: 28px;
    margin-left: 5px;
    margin-top: -3px;
    width: 28px;
    display: none;
}

.myfileupload-buttonbar_home input
 { 
   filter: alpha(opacity=0);
   
   background: none;
   position: absolute;
   top: 0;
   right: 0;
   margin: 0;
   
   border-width: 0 0 100px 200px;
   opacity: 0.0;
   -o-transform: translate(250px, -50px) scale(1);
   -webkit-transform: translate(135px, -39px) scale(-0.2);
   -moz-transform: translate(-48px, 12px) scale(1.2);
   direction: ltr;
   cursor: pointer;                           
 }
.myfileupload-buttonbar_home .myui-button
{
    
    border-radius: 7px 7px 7px 7px;
    color: #565656;
    cursor: pointer;
    font-size: 16px;    
    height: 30px;
    margin-left: 22px;
    margin-top: 25px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 200px;
    line-height: 23px;
    font-family: ArchivoNarrow-Regular;
 }
.myfileupload-buttonbar_home {
     float: left;
    margin-left: -23px;
    margin-top: 8px;
    width: 300px;
}
.myfileupload-buttonbar_home > span {
    color: #ADADB8;
    float: left;
    font-family: LucidaGrande;
    font-style: italic;
    font-weight: bold;
}

.numaicclassfor {
    color: red;
    display: none;
    float: left;
    font-family: ArchivoNarrow-Regular;
    font-size: 18px;
    
}

















