body{
    width:100%;
    height:100%;
    overflow: auto !important;
}
#recaptcha_privacy {
	line-height: 0;
}

.fL{float: left;}
.fR{float: right;}

.clear{
clear:both;
}
a{
color:#256c89;
}

img
{
    border: 0px;
}

@font-face 
{
    font-family:Geosanslight;
    src: url(../css/GeosansLight.ttf) format('opentype');
}

@font-face 
{
    font-family:Znikomit;
    src: url(../css/Znikomit.otf) format('opentype');
}


@font-face 
{
    font-family:LucidaGrande;
    src: url(../css/LucidaGrande.ttf) format('opentype');
}

@font-face 
{
    font-family:TrendexLightSSi;
    src: url(../css/TrendexLightSSi.ttf) format('opentype');
}

/*****************parveen********************/

.container
{
    float: left;
    min-width: 100%;
    height: auto;
}

.body_gestuser
{
    
    color: #797977;
    font-family: ArchivoNarrow-Regular;    
    margin: 0;
    padding: 0;
    
}

.main_header
{
    float: left;
    height: auto;
    width: 100%;    
}
.header_divtwo
{
    background:url("../images/freeworld/header_bg.png");
    height: 175px;   
    width: 100%;/*width:1035px*/
}
/*.header_logo
{
    float: left;
    height: auto;
    padding: 30px 0 20px 99px;
    width: 714px;   
}*/
.header_imagelogo
{
   height: 90px;
   width: 285px;
}
.header_login
{
    background: none repeat scroll 0 0 #2A3958;
    border-radius: 10px;
    float: left;
    height: 117px;
    /*margin-top: 32px;*/
    width: 460px;
    font-family: Znikomit;
}
.header_login_div1
{
    color: white;
    font-size: 20px;
    text-align: center;
}
.header_login_div2
{
    color: white;
    float: left;
    height: auto;
    width: 100%;
    padding-top: 3px;
}
.header_login_email
{
    float: left;
    font-size: 13px;
    padding-left: 36px;
    width: 190px;
}
.inputemail
{
    height: 20px;
    width: 128px;
}
.inputemail_home
{
    height: 17px;
    width: 100px;
    color: black;
}
.header_login_password
{
    float: left;
    font-size: 13px;
    width: 210px;
}
.header_login_checkbox
{
    float: left;
    font-size: 13px;
    padding-left: 33px;
    width: 160px;
    color: white;
}
.header_login_div3
{
    float: left;
    padding-left: 35px;
    padding-top: 12px;
    width: 95%;
}
.footer_div
{
    margin: 0 auto;
    width: 605px;
    font-size: 22px;
}
.footer_about
{
    border-right: 2px solid black;
    float: left;
    font-size: 18px;
    width: 95px;
}
.footer_Contact
{
    border-right: 2px solid black;
    float: left;
    font-size: 18px;
    text-align: center;
    width: 96px;
}
.footer_Privacy
{
    border-right: 2px solid black;
    float: left;
    font-size: 18px;
    text-align: center;
    width: 150px;
}
.footer_Terms
{
    border-right: 2px solid black;
    float: left;
    font-size: 18px;
    text-align: center;
    width: 175px;
}
.footer_Help
{
    float: left;
    font-size: 18px;
    text-align: center;
    width: 74px;
}
.forgotpassword_sec_div
{
    margin: 0 auto;
    width: 855px;
}
.mainouterdiv_forgot
{
    float: left;width: 100%;min-height: 750px; background: none repeat scroll 0 0 #E1F8FD;
}
.bacground_forgot
{
    margin-top: 20px;
    height: 135px;    
}
.bacground_footer
{
    background: none repeat scroll 0 0 #E1F8FD;
    height: 50px;    
}

#footer {
    float: left; height: auto; width: 100%;background: none repeat scroll 0 0 #F0F5FB;
}
.cetnter_div
{
    margin: 0 auto;
    width: 1366px;
    /*width: 964px;
    width: 80%;*/
}

.footer_dotted
{
    border: 1px dotted #DBE6E8;
    margin: 0 auto 5px;
    width: 850px;
    height: 0;
}


/********Home***********/

.main_home
{
    float: left;
    width: 100%;
    min-height: 750px;
    background: none repeat scroll 0 0 #f0f5fb;
 
}

.home_firstdiv
{
    float: left;
    padding: 20px 26px 50px 99px;
    width: 1240px;
}

.home_banner
{
    float: left;
    height: auto;
    width: 650px;
}
.home_image
{
    height: 240px; width: 460px;
}
.home_createaccount
{
    background: none repeat scroll 0 0 blue;
    border-radius: 10px 10px 10px 10px;
    float: left;
    height: 780px;
    width: 461px;
    color: #DADCDD;
    font-family: Znikomit;
}
.home_createaccount_div1
{
    font-family:Znikomit;
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
}
.register_name_home
{
    float: left;
    height: 33px;
    width: 221px;
}
.register_name_homediv_first
{
    color: #DADCDD;
    float: left;
    font-size: 15px;
    width: auto;
}
.forgotpasinput_home
{
    height: 12px;
    width: 95px;
}
.inputemail_home_select
{
    height: 20px;
    width: 106px;
    color: black;
    font-style: italic;
}
.home_register_fields
{
    float: left;
    padding: 3px 10px 1px 15px;
    width: 442px;
}

.register_name_div1_home
{
    color: #DADCDD;
    float: left;
    font-size: 15px;    
    padding-right: 25px;
    width: auto;
}
.forgotpasdiv2_home
{
    float: left;
    height: 20px;
    width: 102px;
}
.register_name_div_secondii_home
{
    color: #DADCDD;
    float: left;
    font-size: 15px;
    width: auto;    
}
.forgotpasinput_home_select
{
     height: 20px;
    width: 101px;
}
.register_name_div_secondii_homediv
{
   color: #DADCDD;
    float: left;
    font-size: 12px;
    padding-left: 6px;
    width: 92px;
}
.register_name_home_div
{
    float: left;
    height: 60px;
    padding-top: 10px;
    width: 435px;
}
.register_home
{
    color: #DADCDD;
    float: left;
    font-size: 15px;
    padding-top: 7px;
    width: 225px;
}
.forgotpas_home
{
    height: 22px;
    width: 200px;
    color: black;
}
.forgotpasdiv2_home_interest
{
    float: left;
    height: 22px;
    padding-top: 8px;
    width: 126px;
}
.register_home_ff
{
    color: #DADCDD;
    float: left;
    font-size: 12px;    
    width: 278px;
}
.register_Uploadpic
{
     color: #DADCDD;
    float: left;
    font-size: 16px;
    padding-top: 7px;
    width: 288px;
}
.register_name_home_img
{
    float: left;
    height: 138px;
    width: 290px;
}
.home_image_type
{
    float: left;
    font-size: 13px;
    width: 432px;
}
.image_home_upload
{
    background: none repeat scroll 0 0 #DADCDD;
    float: left;
    height: 47px;
    margin-right: 20px;
    margin-top: 4px;
    width: 50px;
}
.register_name_home_check
{
    float: left;
    height: 31px;
    width: 410px;
}

.register_name_home .hasDatepicker {
    color: black;
    font-style: italic;
    height: 17px;
    width: 100px;
}
.register_checkbox
{
    color: #DADCDD;
    float: left;
    font-size: 12px;
    padding-left: 1px;
    width: 400px;
}
.home_about
{
    float: left;
    font-size: 25px;
    height: auto;
    width: 650px;
}
.home_about_img
{
    float: left;
    width: 27px;
}
.home_dummy
{
    float: left;
    height: auto;
    margin-bottom: 5px;
    width: 100%;
}
.home_about_dummy
{
    float: left;
    height: auto;
    width: 93%;
}
.register_loding_img_home
{
    display: none;
    float: left;
    height: 20px;
    margin-left: -22px;
    margin-top: 13px;
    width: 20px;
}
.flashmessage
{
    float: right;
    height: 30px;
    width: 550px;
    font-size: 22px;
}

.flashmessage_login
{
    float: right;
    height: 30px;
    width: 192px;
    font-size: 22px;
}

.flashfreeregister
{  
    /*border: 1px solid #446423;*/
    border-radius: 7px 7px 7px 7px;
    color: #3D6611;
    
    font-size: 22px;
    
    height: 35px;
    margin-left: 183px;
    margin-top: 7px;
    padding-top: 7px;
    width: 958px;
    

}
.home_jointoday
{
    float: left;
    font-size: 25px;
    margin-left: 28px;
    margin-top: 25px;
    width: 71%;
}

/*********************Autharized User********************/

.cetnter_div_authrized
{
    float: left;
    width: 1366px;
    background:url("../images/freeworld/header_bg.png");
    height: auto;
    /*width: 80%;*/
}
.header
{
    xfloat: left;
    xmin-width: 100%;
    xheight: auto;
}
.header:after{
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.auth_header_logo
{
    float: left;
    height: auto;
    padding: 6px 0 8px 15px;
    width: 300px;
}
.auth_header_imagelogo
{
    height: 72px;
    width: 288px;
}
.auth_header_message
{
    float: right;
    height: auto;
    width: 530px;
    font-size: 16px;
    color: #DADCDD;
    font-family: Znikomit;
}
.auth_header_messageimg
{
    float: left;
    height: auto;
    width: 173px;
    margin-top: 7px;
}
.auth_header_messageimage
{
    height: 22px;
    width: 30px;
}
.auth_header_settings
{
    float: left;
    margin-top: 18px;
    width: 82px;
}
.auth_header_messagespan
{
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}
.auth_header_logout
{
    float: left;
    margin-top: 19px;
}
.auth_header_anchor
{
    color: #DADCDD;
    text-decoration: underline;
}
.auth_header_anchor:hover
{
     color: #DADCDD;    
}
.auth_header_username
{
    color: #DADCDD;
    float: left;
    font-size: 22px;
    min-width: 270px;
    padding-left: 17px;
     font-size: 18px;
     padding-top: 17px;
}
.auth_header_user_--img----
{
    height: 38px;
    width: 40px;
}
.textdecoration:hover
{
    text-decoration: none;
}
.activepage
{
    background:url("../images/freeworld/active.png") no-repeat;
    color: #333232;
    float: left;
    height: 36px;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 11px;
    text-align: center;
    width: 163px;
    font-family: Geosanslight;
    font-size: 22px;    
}
.uinactivepage
{
    background: url("../images/freeworld/inactive.png") no-repeat;    
    color: #333232;
    float: left;
    height: 36px;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 11px;
    text-align: center;
    width: 163px;
    font-family: Geosanslight;
    font-size: 22px;    
}
.widthauto
{
    float: left;width: auto;height: auto;
}
.official_today
{
    /*background: none repeat scroll 0 0 #E1F8FD;*/
    float: left;
    min-height: 750px;
    width: 965px;
}
.side_nav
{
    float: left;
    height: auto;
    padding-left: 15px;
    width: 183px;
}
.activepage_blue
{
    background: none repeat scroll 0 0 #28398A;
    border-radius: 6px 6px 6px 6px;
    color: #DADCDD;
    float: left;
    height: 34px;
    margin-top: 10px;
    padding-right: 7px;
    padding-top: 10px;
    text-align: center;
    width: 152px;
    cursor: pointer;
    font-family: Geosanslight;
}
.official_today_div1
{
    float: left;
    height: auto;
    padding: 10px 0 0 40px;
    width: 452px;
}
.official_today_div2
{
    float: left;
    height: auto;
    padding-left: 10px;
    padding-top: 10px;
    width: 453px;
}
.official_today_div3
{
    float: left;
    height: auto;
    width: 200px;
    padding-left: 10px;
    padding-top: 0px;
}
.official_today_date
{
    float: left;
    height: auto;
    width: 227px;
    margin-bottom: 15px;
}
.official_today_date_top
{
    float: left;
    height: auto;
    width: 508px;
    margin-bottom: 15px;
}
.official_today_sortdate
{
    float: left;
    height: auto;
    padding-right: 8px;
    font-size: 22px;
    
}
.official_today_bestsinger
{
    height: 241px;
    width: 245px;
}
.official_today_addtolist
{
    background: none repeat scroll 0 0 #FAEE53;
    border-radius: 7px 7px 7px 7px;
    float: left;
    height: 35px;
    margin-right: 8px;
    padding-top: 11px;
    text-align: center;
    width: 130px;
    cursor: pointer;
    color: #403f34;
}
.official_today_input
{
    height: 20px;
    width: 200px;
}
.official_today_list
{
    float: left;
    height: auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.official_today_createnew
{
    background: none repeat scroll 0 0 #FAEE53;
    border-radius: 7px 7px 7px 7px;
    float: left;
    height: 35px;
    margin-bottom: 20px;
    margin-right: 8px;
    padding-top: 11px;
    text-align: center;
    width: 130px;
    cursor: pointer;
    color: #403f34;
}
.official_today_singer
{
    height: 65px;
    width: 245px;
}
.official_today_secondcol
{
    float: left;
    margin-bottom: 20px;
}
.official_today_droup
{
    height: 20px;
    width: 200px;
    color: black;
}

#recaptcha_area #recaptcha_area, #recaptcha_table {
    padding-bottom: 17px;
    width: 0;
}
.footerdiv_auth
{
    float: left;
    height: auto;
    padding-left: 198px;
    width: 75%;
}
.footer_dotted_auth
{
    border: 1px dotted #DBE6E8;
    height: 0;
    margin: 0 auto 5px;
    width: 970px;
}
.bacground_footer_auth
{
    background: none repeat scroll 0 0 #E1F8FD;
    height: 60px;
    width: 1168px;
    padding-top: 15px;
}
.outerdiv
{
    /*background: none repeat scroll 0 0 #E1F8FD;*/
    float: left;
    margin-left: 0;
    min-height: 750px;
    padding: 32px 0 0 0;
    /*width: 1130px;*/
    width: 965px;
}
.outerdiv1_auth
{
    /*background: none repeat scroll 0 0 #E1F8FD;*/
    float: left;
    min-height: 750px;
    padding: 15px 0 0 0px;
    width: 965px;
}

.create_new_show
{
    font-family: Znikomit;
    font-size: 50px;
    font-weight: bold;
    color: black;
    padding-bottom: 14px;
}



.min_hight_outer
{
    float: left;
    min-height: 750px;
    min-width: 100%;
}

.auth_header_messagecount
{
    background: url("../images/freeworld/message-ssdd.png") no-repeat; 
    width: 28px;
    cursor: pointer;
    float: left;
    height: 21px;
    margin-top: 12px;
}
.auth_header_messagespanred
{
    background: url("../images/freeworld/roundnoti.png") no-repeat;    
    color: red;
    font-weight: bold;
    height: 26px;
    margin-left: -16px;
    margin-top: -10px;
    width: 26px;  
    text-align: center;
}

.flashloginfailed
{
    color: red;
    font-size: 21px;    
    margin-top: 4px;
   /* padding-left: 170px;*/
}

.aboutfree_home
{
    font-family: Znikomit;
    font-size: 40px;
}
.tems_unauth
{
    background: none repeat scroll 0 0 #E1F8FD;
    float: left;
    font-size: 16px;
    min-height: 750px;
    padding-top: 15px;
    text-align: center;
    width: 100%;
}
.facbooklist_div1
{
    float: left;
    height: 140px;
    margin-bottom: 25px;
    width: 285px;
}
.facbooklist_img
{
    float: left;
    width: 64px;
}
.facbooklist_name
{
    color: black;
    float: left;
    font-size: 25px;
    height: 65px;
    width: 74%;
    word-wrap: break-word;
}

.image_mylist_official
{
    height: 65px;
    width: 60px;
}
.latest_image_official
{
    float: left;
    height: 60px;
    width: 85px;
}
.textdecorationblack
{
    text-decoration: none;
    color: black;
}
.latest_title_div_official
{
    float: left;
    /*font-family: Znikomit;*/
    font-size: 48px;
    
    height: auto;
    margin-top: -5px;
    width: 325px;
    word-wrap: break-word;
}
.img_outer_official
{
    float: left;
    height: auto;
    width: 75px;
}
.seepollview
{
    cursor: pointer;
    height: 42px;
    width: 105px;
}
.seepollviewDiv
{
    float: left;
    margin-left: 40px;
    width: 13%;
}
.outer_latesttitle_div_official
{
    float: left;
    height: auto;
    width: 365px;
}
.outer_latesttitle_div_off
{
    float: left;
    height: auto;
    width: 330px;
}
.latest_title_div_off_poll
{
    float: left;
    font-size: 30px;
    height: auto;
    width: auto;
    word-wrap: break-word;
}
.official_polldeteil
{
    float: left;
    font-size: 22px;
    font-weight: bold;
    height: 30px;
    padding: 9px 0;
    width: 100%;
}
.baneer_home
{
    background: none repeat scroll 0 0 white;
    border: 1px solid #BDC4C6;
    float: left;
    height: 361px;
    padding: 9px 8px 0;
    width: 624px;
}
.home_banner_boder_div
{
    /*border: 10px solid #ececfb;*/
    float: left;
    height: 340px;
    width: 520px;
}
.flashactivateaccount
{
    color: red;
    font-size: 21px;
    
    margin-top: 2px;
    padding-left: 4px;
    font-size: 22px;
}
.flashmessage_home
{
    float: left;
    height: 45px;
    text-align: center;
    width: 100%;
}
.active_confirm
{
    margin: 0px;
    float: left;
    height: 64px;
    padding-left: 15px;
    width: 272px;
}
.margine
{
    margin: 0px;
}
.active_thanku
{
    float: left;
    font-family: Znikomit;
    font-size: 22px;
    height: 82px;
    padding-left: 45px;
    padding-top: 30px;
    width: 65%;
}
.active_confirma
{
    float: left;
    height: auto;
    
    text-align: center;
    width: 62%;
}
.flashmessage_activate
{
    float: left;
    height: 47px;
    text-align: center;
    width: 80%;
    font-size: 22px;
}
.login_header
{
     float: left;
    width: 243px;
}
.forgotpas_home_multy
{
    color: black;
    width: 141px;
}
.register_home_selectmulty
{
    color: #DADCDD;
    float: left;
    font-size: 15px;
    padding-top: 7px;
    width: 290px;
}
.detail_pollcc
{
    background:url("../images/freeworld/active.png") no-repeat ;
    float: left;
    font-size: 25px;
    height: 41px;
    margin-top: 38px;
    padding-left: 36px;
    padding-top: 6px;
    width: 128px;
}
.official_search
{
    float: left;
    width: 169px;
}
.search_list_official
{
    float: left;
    height: 40px;    
    width: 100%;
}
.search_list_div1_official
{
    float: left;
    height: 30px;
    margin-top: -2px;
    width: 117px;
}
.forgotpasinput_official
{
    color: black;
    font-style: italic;
    height: 30px;
    width: 153px;
    font-size: 16px;
    -webkit-height:28px;
   
}
.search_list_div2_official
{
    float: left;
    margin-left: 14px;
    margin-top: -3px;
    width: 16px;
}
.search_list_div3_official
{
    color: red;
    display: none;
    float: left;
    font-size: 18px;
    margin-left: 15px;
    width: 96px;
}
.checkbox-vali_sapn
{
    float: left;
    height: 20px;
    width: 21px;
}
.list_title_div_official
{    
    float: left;
    height: auto;
    width: auto;
    margin-left: 21px;
}
.seemessage_div1
{
    float: left;
    height: auto;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-top: 15px;
    width: 660px;
}
.seemessage_div2
{
    float: left;
    padding-right: 15px;
}
.seemessage_div3
{
    float: left;
    height: auto;
    width: 580px;    
    word-wrap: break-word;
}
.seemessage_div31
{
    float: left;
    height: 30px;
    width: 175px;
    word-wrap: break-word;
}
.seemessage_div32
{
    float: left;
    height: auto;
    width: 265px;
    word-wrap: break-word;
    white-space: pre-line;
}
.attachment_show
{
    float: left;width: 15px; margin-top: 6px;
}
.seemessage_div33
{
    float: left;
    height: auto;
    width: 115px;
    word-wrap: break-word;
}
.userimage
{
    width: 25px;
    height: 25px;
}
.official_today_button
{
    background: none repeat scroll 0 0 #FAEE53;
    border-radius: 7px 7px 7px 7px;
    float: left;
    height: 28px;
    margin-right: 8px;
    padding-top: 11px;
    text-align: center;
    width: 130px;
    cursor: pointer;
}
.image_buttons
{
    width: 130px;
}
.upper_official_today
{
    float: left;
    height: auto;
    padding-left: 40px;
    padding-top: 25px;
    width: auto;
}
.ui-datepicker-trigger
{
    margin-left: -6px;
    margin-top: -3px;
    width: 26px;
    cursor: pointer;
}
.OptionselectBoxContainerdiv {
background: url("../images/freeworld/arrow-down.png") no-repeat scroll right center white;
height: 31px;
overflow: hidden;
width: 265px !important;
}
/* Css for the  outer div end */

/* Css for the select box */
.select-list{
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #BBBBBB;
    color: black;
    font-size: 16px;
    font-style: italic;
    height: 31px;
    padding: 4px 1px 1px;
    width: 284px;
    cursor: pointer;
    -webkit-appearance: none;
}
.official_today_createnew_margine
{
    background: none repeat scroll 0 0 #FAEE53;
    border-radius: 7px 7px 7px 7px;
    color: #403F34;
    cursor: pointer;
    float: left;
    height: 35px;
    margin-bottom: 20px;
    margin-left: 110px;
    margin-right: 8px;
    padding-top: 11px;
    text-align: center;
    width: 130px;
}
.already_taken
{
    color: black;
    float: left;
    font-size: 18px; 
    height: 20px;
    width: 450px;
}
.brows_arrow
{
    float: left;
    height: 20px;
    margin-top: 7px;
    width: 30px;
}
.brows_interest
{
    float: left;
    height: auto;
    width: auto;
    word-wrap: break-word;
}





/**********************Dashboard***********************/
.dashbord_main_outer
{
    float: left;
    padding-left: 40px;
    padding-top: 25px;
    height: auto;
    width: auto;
}
.dashbord_firstdiv
{
    float: left;
    height: auto;
    width: 100%;
}
.dashbord_img
{
    float: left;
    height: auto;
    padding-right: 10px;
    width: auto;
}
.image_dashbord
{
    height: 65px;
    width: 75px;
}
.dashbord_username
{
    float: left;font-size: 40px;width: 428px;
}
.dashbord_addfriend
{
    cursor: pointer;
    float: left;
}
.auth_header_notification
{
    background: url("../images/freeworld/notifi-bird.png") no-repeat;    
    cursor: pointer;
    float: left;
    height: 38px;
    margin-top: 7px;
    text-align: center;
    width: 22px;
    margin-right: 27px;
}
.auth_header_notispan
{
    background: url("../images/freeworld/roundnoti.png") no-repeat;    
    color: red;
    font-weight: bold;
    height: 26px;
    margin-left: -16px;
    margin-top: -5px;
    width: 26px;
}
.notification_header
{
    background: none repeat scroll 0 0 #86A0D3;
    border: 1px solid #A3B3B7;
    border-radius: 10px 10px 10px 10px;
    color: white;
    float: right;
    height: auto;
    margin-top: 35px;
    position: absolute;
    right: 475px;
    width: 165px;
    z-index: 99999;
}
.notification_center
{
    float: left;
    font-family: lucida Grande;
    font-size: 18px;
    height: 26px;
    padding-left: 14px;
    padding-top: 4px;
}
.notification_message_header
{
    float: left;
    font-size: 13px;
    padding: 0 14px;
    width: 92%;
}
.userimage_notification
{
    float: left;
    padding-right: 5px;
}
.notification_header_msg_main
{
    float: left;
    height: auto;
    margin-bottom: 0;
    margin-top: 8px;
    width: 100%;
    word-wrap: break-word;
}
.header_notification_msg
{
    float: left;
    font-family: LucidaGrande;
    font-size: 15px;
    height: auto;
    margin-bottom: 15px;
    width: 107px;
    word-wrap: break-word;
    
}

.no_notification
{
    float: left;
    height: 30px;
    padding-top: 12px;
    width: 113%;
    font-family: LucidaGrande;
    font-size: 15px;
}
.textdecorationwhite
{
    color: white;
    text-decoration: none;
}

.notificationcenter_page
{
    float: left;
    font-family: znikomit;
    font-size: 40px;
    font-weight: bold;
    padding-left: 40px;
    width: 850px;
    height: 85px;
}
.notificationcenter_outerdiv
{
    float: left;
    height: auto;
    padding-left: 40px;
    width: 850px;
}
.notificationcenter_firstdiv
{
    float: left;
    height: 385px;
    width: 395px;
    border: 1px solid #C3CAC8;
    margin-bottom: 25px;
    margin-right: 55px;
}
.notificationcenter_secdiv
{
    float: left;
    height: 385px;
    width: 395px;
    border: 1px solid #C3CAC8;
    margin-bottom: 25px;
}
.notificationcenter_thirddiv
{
    float: left;
    height: 385px;
    width: 395px;
    border: 1px solid #C3CAC8;
    margin-right: 55px;
    margin-bottom: 25px;
}
.notificationcenter_forthdiv
{
    float: left;
    height: 385px;
    width: 395px;
    border: 1px solid #C3CAC8;
    margin-bottom: 25px;
}

.notificationcenter_firstinner
{
    background: none repeat scroll 0 0 #7B9CD9;
    color: white;
    font-size: 22px;
    height: 36px;
    padding-top: 8px;
    text-align: center;
    width: 395px;
    
}
.notificationcenter_secondinner
{
    float: left;
    height: 330px;
    overflow: auto;
    padding: 10px;
    width: 375px;
}
.notificationcenter_notidiv
{
    float: left;
    height: auto;
    width: 100%;
}
.notificationcenter_imagediv
{
    float: left;
    height: auto;
    margin-bottom: 5px;
    width: 100%;
}
.notificationcenter_todaydiv
{
    
    font-size: 18px;
     margin-bottom: 5px;
}
.notificationcenter_userimg
{
    height: 40px;
    width: 45px;
}
.notificationcenter_message
{
    font-size: 20px;
    width: 292px;
    float: left;
    height: auto;
    
    word-wrap: break-word;
}
.textdecorationwhite:hover
{
    color: white;
    text-decoration: none;
}
.listnew_title
{
    float: left;
    height: 75px;
}
.type_listnew
{
    float: left;margin-top: 20px;
}
.topic_listnew
{
    float: left;margin-top: 5px;
}
.OptionselectBoxContan
{
    background: url("../images/freeworld/arrow-down.png") no-repeat scroll right center white;
    height: 24px;
    overflow: hidden;
    width: 219px !important;
}
.select-list_listtitle{
background: none repeat scroll 0 0 transparent;
border: solid 1px #BBB;
font-size: 16px;
height: 24px;
padding: 1px;
width: 239px;
-webkit-appearance: none;
font-size: 13px;
padding-top: 3px;
font-style: italic;
}
.listtitle_newdesdiv1
{
    float: left;
    height: 30px;
    width: 100%;
    margin-top: 10px;
}

.listtitle_newdesdiv11
{
    color: white;
    float: left;
    font-family: znikomit;
    font-size: 20px;
    width: 138px;
}
.listtitle_newdesdiv12
{
    color: white;
    float: left;
    font-family: znikomit;
    font-size: 20px;
    width: 128px;
}
.listtitle_newdesdiv13
{
     color: white;
    float: left;
    font-family: znikomit;
    font-size: 20px;
}
.listtitle_newdesdiv121
{
    float: left;
    width: 67px;
}
.listtitle_newdesdiv13_input
{
    height: 26px;
    width: 159px;
    color: black;
    font-style: italic;
}
.listtitle_newdesdiv13_imgdiv
{
    float: left;
    margin-left: -23px;
    margin-top: -1px;
}
.listtitle_newdesdiv2
{
    float: left;margin-top: 10px;
}

.listtitle_newdesdiv21
{
    float: left;
    height: auto;
    width: 205px;
}

.listtitle_newdesdiv22
{
    float: left;
}
.listtitle_newdesdiv21_frinds
{
    color: white;
    float: left;
    font-family: znikomit;
    font-size: 20px;
    height: 40px;
    width: 204px;
}
.listtitle_newdesdiv221
{
    float: left;
    height: auto;
    margin-bottom: 10px;
    width: 100%;    
}
.listtitle_newdesdivcheckbox
{
    float: left;
    height: 20px;
    margin-top: 7px;
    width: 20px;
}
.listtitle_newdesdiv22img
{
    float: left;
    width: 35px;
}
.listtitle_newdesdiv22name
{
    color: #878C91;
    float: left;
    font-weight: bold;
    height: auto;
    width: 150px;
    word-wrap: break-word;
}
.overflow_div
{
    float: left;
    height: 290px;
    overflow: auto;
    width: 440px;
}
.message_header
{
    background: none repeat scroll 0 0 #86A0D3;
    border: 1px solid #A3B3B7;
    border-radius: 10px 10px 10px 10px;
    color: white;
    float: right;
    height: auto;
    margin-top: 42px;
    position: absolute;
    right: 288px;
    width: 165px;
    z-index: 99999;
}
.message_center
{
    float: left;
    font-family: lucida Grande;
    font-size: 20px;
    height: 30px;
    padding-left: 18px;    
}
.message_center_read
{
    float: left;
    font-family: lucida Grande;
    font-size: 20px;
    height: 26px;
    padding-left: 13px;
    padding-top: 4px;
}





#backgroundPopup1{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
border:1px solid #cecece;
z-index:1;
}


#popupContactClose{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}

#backgroundPopup2{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
border:1px solid #cecece;
z-index:1;
}
#popupContactClose{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}
.forgot_createaccount
{
    background: none repeat scroll 0 0 #5A6365;
    border-radius: 10px 10px 10px 10px;
    color: #DADCDD;
    float: left;
    font-family: Znikomit;
    height: 350px;
    width: 475px;
}
.forgot_name_home
{
    float: left;
    height: 33px;
    width: 432px;
    margin-top: 30px;
}
.password_forgot_email
{
    color: #DADCDD;
    float: left;
    font-size: 18px;
    padding-left: 6px;
    width: 255px;
}
.forgot_send-button
{
    float: right;
    margin-top: 15px;
    width: 180px;
}
.suggestion a
{
    color: white;
}
.listcreation_spancount
{
    text-align: center;
    width: 35px;
    background: none repeat scroll 0 0 white;
    height: 30px;
    color: black;
}
.paging_official
{
    float: right;
    height: 35px;
    width: 38%;
}
.official_today_table
{
    border-left: 1px solid #BCBCBC;
    border-top: 1px solid #BCBCBC;
    float: left;
    height: auto;
    width: auto;
    background: none repeat scroll 0 0 white;
}
.titlediv_official_tb
{
    border-bottom: 1px solid #BCBCBC;
    border-right: 1px solid #BCBCBC;
    float: left;
    font-size: 20px;
    color: white;
    padding-left: 3px;
    width: 270px;
    word-wrap: break-word;
}
.column_div_official_tb
{
    border-bottom: 1px solid #BCBCBC;
    border-right: 1px solid #BCBCBC;
    float: left;
    font-size: 20px;
    padding-left: 3px;
    width: 147px;
    word-wrap: break-word;
    color: white;
}
.row_div_official_tb_row
{
    
    border-right: 1px solid #BCBCBC;
    float: left;
    font-size: 20px;
    border-bottom: 2px solid #BCBCBC;
    padding-left: 3px;    
    width: 270px;
    word-wrap: break-word;
    min-height: 25px;
}
.row_div_official_tb
{
    border-bottom: 2px solid #BCBCBC;
   border-right: 1px solid #BCBCBC;
    float: left;
    font-size: 20px;
    min-height: 25px;
    padding-left: 3px;    
    width: 147px;
    word-wrap: break-word;
    color: #9797a5
}
.borderbottom
{
    border-bottom: 2px solid #BCBCBC;border-collapse: collapse;display:block;min-height: 25px; width: 425px;
}
.table_offcial_boder
{

border-spacing:0;
} 
.takelist_newdis_par
{
    float: left;
    font-family: Znikomit;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 4px;
    min-height: 45px;
    text-align: center;
    width: 602px;
}
.takelist_newdis_span1
{
    float: left;
    width: 76px;
}
.listy_title_preview
{
    float: right;
    height: 68px;
    margin-right: -500px;
    margin-top: 500px;
    width: 236px;
}
.listnew_title_div_createpoll
{
    float: left;
    padding-top: 21px;
     width: 100%;
}
.submitdiv_createpooll
{
    float: left;
    height: 68px;    
    margin-top: 69px;
}
.requretitle_createpool
{
    float: left;
    padding-left: 6px;
    width: 201px;
    color: red;
    display: none;
}
.requretitle_select_createpool
{
     color: red;
    display: none;
    float: left;
    padding-left: 80px;
    padding-top: 10px;
    width: 200px;
}


/*********************Preferences Friends **********************************/
.friendspage_outerdiv
{
    float: left;
    height: auto;
    width: auto;   
}
.friendspage_onterdiv2
{
    float: left;
    height: auto;
    margin-bottom: 25px;
    width: auto;   
}
.friendspage_fortakelist
{
    float: left;
    font-size: 16px;
    text-decoration: underline;
    margin-top: 3px;
    width: 100%;
}
.friendspage_invite
{
    float: left;
    margin-top: 6px;
    
}
.invitefriends_h2
{
    color: white;
    margin-top: 15px;
    text-align: center;
}
.invitefriends_div1
{
    float: left;
    height: auto;
    margin-left: 50px;
    margin-top: 50px;
    width: auto;
}
.invitefriends_overflow_div
{
     float: left;
    margin-bottom: 25px;
    max-height: 310px;
    overflow: auto;
    width: 600px;
}
.invitefriends_newdesdiv221
{
    float: left;
    height: auto;
    margin-bottom: 20px;
    width: 100%;
}
.invitefriends_newdesdiv22name
{
    color: #C8C8C8;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    padding-top: 5px;
    width: 420px;
    word-wrap: break-word;
    font-family: LucidaGrande;
    font: bold 14px LucidaGrande;
}
.invitefriends_newdesdiv22img
{
    float: left;
    width: 55px;
}
.invitefriends_newdesdivcheckbox
{
    float: left;
    height: 20px;
    margin-top: 7px;
    width: 35px;
}
.send_invitationbtn
{
    float: left;
    margin-left: 60px;
     margin-top: 15px;
}
.invitefriends_newdesdiv11
{
    color: white;
    float: left;
    font-size: 20px;
    margin-left: 44px;
    width: 175px;
}
.invitefriends_newdesdiv13_input
{
    height: 26px;
    width: 220px;
     color: black;
    font-style: italic;
}
.invitefriends_text_para
{
    float: left;
    padding-left: 4px;    
    width: 573px;
}
.invitefriends_imgpara3
{
    color: white; 
    font-style: italic;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 17px !important;
    font-family: LucidaGrande ;
    font: bold 17px LucidaGrande;
}
.invitefriends_are
{
    border: medium none;
    color: #BDBDC6;
    float: left;
    font-family: LucidaGrande;
    font-style: italic;
    height: 90px;
    margin-left: 4px;
   width: 418px;font-size: 17px !important;
}
.popuplistcreation_ul
{
    margin: 0px; padding: 0px;
}

.popuplistcreation_ul_li
{
    list-style: none outside none;
}
.popuplistcreation_ul_li_controller
{
    border-top: 1px solid #DCDCDC;
    cursor: pointer;
    list-style: none outside none;
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-top: 5px;
    width: 165px;
    word-wrap: break-word;
}

.popuplistcreation_ul_li_controller_new
{    
    cursor: pointer;
    list-style: none outside none;
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-top: 5px;
    width: 165px;
    word-wrap: break-word;
}
.listdiv
{
    background: none repeat scroll 0 0 #95BCF2;
    color: white;
    font-size: 18px;
    position: absolute;
    width: 260px;
    z-index: 5;
    
}
.listdetail_vote
{
     float: left;
    height: auto;    
    width: 104px;
}
.listdetail_votelist
{
    float: left;
    width: 138px;
}
.listdetail_count_vote
{
    height: 32px;
    width: 100px;
}
.flashvote
{    
    float: left;    
    height: 25px;
    padding-left: 50px;
    width: 95%;
}
.flashcolorwhite
{
    color: white;
    font-family: ArchivoNarrow-Regular;
    font-size: 20px;
}
.flashcolorsusseces
{
    color: #3D6611;
    font-size: 22px;
}
.div_span_padding
{
    padding-top: 6px;
}
.paging_frindpage
{
    float: left;
    height: 35px;
    width: 300px;
}

.flashcolorsusseces
{
    color: #3D6611;
    font-size: 22px;
}

.flashcolorsusseces
{
    color: #3D6611;
    font-size: 22px;
}
.flashcolorerror
{
    color: red;
}
.message_home_forgot
{
    float: left;
    height: 45px;
    text-align: center;
    width: 100%;
    padding-top: 15px;
}
.home_flashmessgediv
{
    height: 0px;
    padding-top: 0px;
    text-align: center;
}

.header_notification_msg a
{
    color: white;
}
.listdetail_flashmsg
{
    float: left;
    padding-left: 45px;
    width: 90%;
}

.brows_cat_filtername
{
    float: left;
    padding-left: 40px;
    width: 90%;
    margin-top: 10px;
     margin-bottom: -4px;
}
.twitetr_connect_header
{
    float: left;
    margin-top: 15px;
    width: 37px;
}
.fb_connect_header
{
    float: left;
    margin-top: 20px;
    width: 118px;
}
.beforlogin_aboutus
{
    font-size: 17px;
    margin: 0 auto;
    font-family: lucida grande;
    width: 940px;
}
.seemore_listdetail
{
    float: left;
    margin-top: 20px;
    width: 100%;
}

.friendnotifi_image
{
    float: left;
    width: 150px;
    height: 50px;
}
.friendnotifi_maindiv
{
    margin-left: 35px;
    margin-top: 25px;
    width: 90%;
    float: left;
    height: auto;
}
.friendnotifi_username{
    color: #C8C8C8;
    float: left;
    font-family: LucidaGrande;
    font-size: 22px;
    height: auto;
    padding-top: 35px;
    width: 250px;
}
.friendnotifi_frndreq{
    color: #C8C8C8;
    float: left;
    font-family: LucidaGrande;
    font-size: 22px;
    height: auto;
    padding-top: 35px;
    width: 180px;
}
.popuplist_collumn1
{
    background: none repeat scroll 0 0 #95BCF2;
    color: white;
    font-family: LucidaGrande;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    height: 22px;
    padding-top: 3px;
    width: 226px;
    border: 0 none;
}
.popuplist_collumn1_div1_creation
{
    color: white;text-align: left;
}
.popuplist_collumn1_div1
{
    color: white;text-align: left;padding-top: 5px;
}
.editnotification_emaildiv
{
     float: left;
    height: 30px;
    margin-top: 10px;
    padding-left: 121px;
    width: 520px;
}
.editnotification_checkbox
{
    float: left;
    height: 30px;
    width: 20px;
}
.editnotification_emailspan
{
    color: #9797A5;
    float: left;
    font-size: 20px;
    height: 30px;
    margin-top: -4px;
    width: 488px;
    font-family: LucidaGrande;
}

.editnotification_customize
{
    float: left;
    height: 30px;
    padding-left: 157px;
    width: 425px;
}
.editnotification_notidiv1
{
    float: left;
    height: 30px;
    padding-left: 157px;
    width: 504px;
}
.editnotification_takelist
{
    color: #9797A5;
    float: left;
    font-size: 20px;
    height: 30px;
    margin-top: -7px;
    width: 483px;
    font-family: LucidaGrande;
}
.editnotification_notidiv3
{
    float: left;
    height: 30px;
    padding-left: 157px;
    width: 504px;
}
.editnotification_notifi
{
    float: left;
    height: 360px;
    padding: 0 0 0 10px;
    width: 660px;
}
.official_today_sortdatecal
{
    float: left;
    font-size: 22px;
    height: auto;
    padding-right: 2px;
}
.instruction_takelist
{
     float: left;
    font-family: LucidaGrande;
    font-size: 20px;
    height: 34px;
    margin-left: 38px;
    width: 88%;
    color: #C8C8C8;
    font: normal 20px LucidaGrande;
}
.instruction_edit
{
    float: left;
    font-family: LucidaGrande;
    font-size: 20px;
    height: 34px;
    margin-left: 103px;
    width: 75%;
    color: #C8C8C8;
    font: normal 20px LucidaGrande;
}
.instruction_listdetail
{
    color: #333232;
    float: left;
    font-family: LucidaGrande;
    font-size: 20px;
    font-weight: bold;
    height: 20px;
    margin-left: 49px;
    margin-top: 5px;
    width: 75%;
}
.popup_oppenion{
    float: left;
    font-family: Znikomit;
    font-size: 60px;
    font-weight: bold;
    margin-top: 4px;
    min-height: 45px;
    padding-left: 46px;
    text-align: center;
    width: 624px;
}
.openion_h3tag
{
    color: #C8C8C8;
    float: left;
    font-family: LucidaGrande;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 103px;
}
.detailpoll_outer_div1
{
    float: left;
    height: auto;
    margin-left: 30px;
    margin-top: 3px;
    width: 97%;
}
.change_voteinsee
{
    float: left;
    padding-right: 109px;
}
.detailpollmargine
{
    background: none repeat scroll 0 0 #FAEE53;
    border-radius: 7px 7px 7px 7px;
    color: #403F34;
    cursor: pointer;
    float: left;
    height: 35px;
    margin-bottom: 20px;
    margin-left: 60px;
    padding-top: 6px;
    margin-right: 8px;    
    text-align: center;
    width: 137px;
}
.comming_soon
{
     float: left;
    padding: 25px 0 0 90px;
}
.sortbydateout
{
    width: 745px;
    float: left;
}

.text_blue
{
    color: #021A3F;
    font-weight: bold;
    text-decoration: none;
    
}
.text_blue:hover
{
    color: #021A3F;
    font-weight: bold;
}
.friendnotifi_username span a
{
    color:#C8C8C8;
}
.friendnotifi_username span a:hover
{
    color:#C8C8C8;
}

.list-box-badge-eagle{width: 35px;height: 32px;display: block;background: url("../images/eagle.png") no-repeat;}
.list-box-badge-eagle-users{width: 35px;height: 32px; margin:5px 5px 0px 0px; display: block;background: url("../images/eagle.png") no-repeat;}
.nightife .list-box-badge-eagle, .nightife .list-box-badge-eagle-users, 
.nightife2 .list-box-badge-eagle, .nightife2 .list-box-badge-eagle-users{position: absolute;right: 10px;top: 12px;}
.block-right-info .list-box-badge-eagle, .block-right-info .list-box-badge-eagle-users{margin-top: -8px;margin-left: 6px;}
.list-box-private-check{width: 35px;height: 32px;display: block;background: url("../images/check-icon.png") no-repeat;}
.list-box-private-check-users{width: 35px;height: 32px; margin:5px 5px 0px 0px; display: block;background: url("../images/eagle.png") no-repeat;}
.nightife .list-box-private-check, .nightife .list-box-private-check-users, 
.nightife2 .list-box-private-check, .nightife2 .list-box-private-check-users{position: absolute;right: 10px;top: 12px;}
.block-right-info .list-box-private-check, .block-right-info .list-box-private-check-users{margin-top: -8px;margin-left: 6px;}
.nightife a,
.nightife2 a{color: #021a40; text-decoration: none;}

.search-three-column .people-item{width: 305px;background: none;border:1px solid #d3d4d6;background-color: #FFF;height: auto;margin: 0 8px 40px;border-radius:4px;overflow: visible;}
.search-three-column .people-item .people-item-details{width: auto;}
.search-three-column .people-item > img{margin: 0!important;}
.search-three-column .companies-item-alert{background-color: #f9f7de;border:1px solid #d3d4d6;borde-top:0;border-bottom-left-radius:5px;border-bottom-right-radius:5px;position: absolute;bottom: -28px;width: 100%;font-size: 17px;padding: 5px;}
.search-three-column .companies-item-alert .btn-close-popup{right: 10px;top: 11px;}
.search-three-column .followed{background-color: #28398a;color: #FFF;font-size: 19px;padding: 4px 25px;display: inline-block;position: absolute;bottom: 9px;display: none;left:102px;}
.search-three-column .followed-shadow{height: 8px;width: 100%;position: absolute;left: 0;bottom: -9px;background: url('../images/followed-repeat-shdow.png') repeat-x;display: none;}
.search-three-column .followed-shadow:after,
.search-three-column .followed-shadow:before{position: absolute;content: "";width: 11px;height: 9px;}
.search-three-column .followed-shadow:after{background: url('../images/followed-left-shdow.png') no-repeat;left: 0;top: 0;}
.search-three-column .followed-shadow:before{background: url('../images/followed-right-shdow.png') no-repeat;right: 0;top: 0;}
.search-three-column .status-followed-alert .followed,
.search-three-column .status-followed .followed,
.search-three-column .status-followed .followed-shadow{display: block;}

.sitlock{
    position:absolute; 
    cursor:pointer;
    margin-top:-35px;
}
