*{margin:0px;padding:0px;}
body
{
   background-attachment: fixed;background-color: #000000;;background-position: 0 0;background-repeat: no-repeat;background-size: cover;height: 100%;overflow-x: hidden;width: 100%;
}
 @font-face 
{
    font-family:ArchivoNarrow-Bold;
    src: url(../newcss/ArchivoNarrow-Bold.ttf) format('opentype');
}
 @font-face 
{
    font-family:ArchivoNarrow-Regular;
    src: url(../newcss/ArchivoNarrow-Regular.ttf) format('opentype');
}
 @font-face 
{
    font-family:FjallaOne-Regular;
    src: url(../newcss/FjallaOne-Regular.ttf) format('opentype');
}
@font-face 
{
    font-family:Century Gothic-Regular;
    src: url('../newcss/Century Gothic-Regular.ttf') format('opentype');
}
.header
{
    width: 100%;float:left;
}
.header_top
{
   width: 100%; height: 128px; float:left;background: url('../newimages/header_bg_top.png');background-repeat:repeat-x; 
}
.header_top_internal
{
    width: 930px;margin: 0 auto;padding-top:10px;height: 117px;
}
.headeer_logo
{
    float:left;padding-top:10px;
}
.headeer_logo img
{
    border:none;
}
.header_top_right
{
    width: 448px; float: right;
}
.header_top_right_existinguser_login
{
  float:left;width:auto;height:35px;
}
.header_top_right_existinguser_check
{
  float:left;width:auto;height:35px;padding-top:7px;
}
.existinguser_login
{
    color:#ffffff; font-family: FjallaOne-Regular;font-size: 17px;width:305px;margin-bottom:5px;
}
.header_top_inputs_one
{
    width:183px; height:25px;float:left;border-radius:5px; 
}
input
{
    width:164px;width:163px\9; height:23px;float:left;background: #ffffff; border-radius:5px;color:#a9a9a9; font-family: Arial; font-size: 12px;font-style:italic;padding-left:10px;border:none; 
}

.check
{
    float: left;width: 25px;margin-left:-2px;
}
.chbox
{
    border: medium none;height: 15px;width: 25px;background-color:none;padding-left: 5px\9;width:20px\9;
}
.keep_me_loggedin 
{
    float: left;text-align: left;width: auto;
}
.keep_me_loggedin a 
{
    color: #FFFFFF;float: left;font-family:ArchivoNarrow-Regular;font-size: 15px;line-height: 13px;list-style: none outside none;text-decoration: none;
}
.keep_me_loggedin a:hover
{
    text-decoration: underline;
}
.login_btn
{
       border-radius:5px;
    width:82px; float:right;background: url('../newimages/login.png') no-repeat;text-align: center;
     color:#17287c;font-family:FjallaOne-regular;text-decoration: none;font-size:17px;line-height:31px;padding-right: 11px;
}
.login_btn 
{
   
}
.login_btn:hover
{
    background: url('../newimages/login_bg_hover.png') no-repeat;
}
.forgot_your_password
{
   float: left;text-align: left;width: auto; padding-left:20px;
}
.forgot_your_password a
{
    color:#5fa2f6;font-family: ArchivoNarrow-Regular;font-size: 15px;text-decoration: underline; line-height: 25px;
}
.forgot_your_password a:hover
{
    text-decoration: none;
}
.header_bottom
{
    float:left; background: url('../newimages/header_bg_bottom.png');background-repeat:repeat-x;width:100%;height: 70px;
}
.header_bottom_internal
{
      width: 930px;margin: 0 auto;padding-top:18px;height: 52px;
}
.featured_list
{
    width: 100%;float:left;
}
.featured_list a{
    color:#ffffff; font-family:FjallaOne-regular; font-size: 32px;text-decoration: none;
}
#wrapper
{
    width:960px;height: auto;margin: 0 auto;
}
.content
{
    width: 100%;float:left;height:auto; padding-top: 20px;margin-left: 2px;
}
.content_left
{
    width:565px;float:left;
}
.slider_part
{
    width:auto;float:left;height:355px;
}

/*.text_part
{
    width: 100%;height: auto;float:left;padding-bottom:25px;margin-top: 25px;
}
.heading
{
    width: 100%;float:left;color:#021a40; font-family: FjallaOne-regular;font-size: 25px;
}
.heading_two {
     width: 100%;float:left;color:#021a40; font-size: 19px;font-family: ArchivoNarrow-Bold;padding-top:10px;
}
.internal_text
{
    width: 100%;float:left;height: auto;padding-top:10px;
}
.internal_text_text
{
    color:#595959;font-family: ArchivoNarrow-Regular;font-size: 15px;line-height: 30px;text-align: justify;
}*/
.text_part
{
    width: 511px;height: auto;float:left;padding-bottom:25px;padding-left:10px; margin-top: 25px;
}
.heading
{
    width: 100%;float:left;color:#021a40; font-family: FjallaOne-regular;font-size: 25px;
}
.heading_two {
     width: 100%;float:left;color:#021a40; font-size: 19px;font-family: ArchivoNarrow-Bold;padding-top:10px;
}
.internal_text
{
    width: 100%;float:left;height: auto;padding-top:10px;
}
.internal_text_text
{
    color:#595959;font-family: ArchivoNarrow-Regular !important;font-size: 15px;line-height: 28px;text-align: justify;
}
/*.content_right
{
    width: 384px;height: auto;float:right;padding-top:5px; margin-right: 135px;
}*/

.content_right
{
    width: 377px;height: auto;float:left;padding-top:5px;
}
.free_account_bg
{
    width: 375px; height:142px;float:left;background: url('../newimages/account_bg.png') no-repeat;margin-bottom:12px;box-shadow: -6px 7px 7px -7px;
}
/*.free_account_bg
{
    width: 383px; height:142px;float:left;background: url('../newimages/account_bg.png') no-repeat;margin-bottom:12px;box-shadow: 0 3px 3px #A0A3A7;
}*/
/*.create_free_account
{
    width: 384px;float:left;text-align: center;padding-top:13px;height:61px;
}
.create_free_account a

{
    color:#ffffff;font-family:FjallaOne-regular;font-size:30px;;text-transform: uppercase;text-decoration: none;
}
.personal_bg
{
    width: 149px;height: 42px;float:left;background: url('../newimages/personal_bg.png')no-repeat; margin-left:22px;  text-align:  center;     
}
.personal_bg a
{
    color:#17287c;font-family: FjallaOne-regular;text-decoration: none;font-size: 22px;line-height: 40px;
}
.personal_bg:hover
{
    background: url('../newimages/personal_hover.png') no-repeat;
}
.or
{
    width:auto;float:left;
}
.or_title
{
  color:#ffffff;font-family: Fjalla One;font-size: 17px; padding-left:14px; line-height: 34px;
}
.company_bg
{
    width: 149px;height: 42px;float:left;background: url('../newimages/company_bg.png')no-repeat; margin-left:15px;  text-align:  center;     
}
.company_bg a
{
    color:#ffffff;font-family: FjallaOne-regular;text-decoration: none;font-size: 22px;line-height: 40px;
}
.company_bg:hover
{
    background: url('../newimages/company_hover.png')no-repeat;
}*/
.create_free_account
{
    width: 375px;float:left;text-align: center;padding-top:13px;height:61px;
}
.create_free_account a

{
    color:#ffffff;font-family:FjallaOne-regular;font-size:30px;;text-transform: uppercase;text-decoration: none;
}
.personal_bg
{
    width: 149px;height: 42px;float:left;background: url('../newimages/personal_bg.png')no-repeat; margin-left:17px;  text-align:  center;     
}
.personal_bg a
{
    color:#17287c;font-family: FjallaOne-regular;text-decoration: none;font-size: 22px;line-height: 40px;
}
.personal_bg:hover
{
    background: url('../newimages/personal_hover.png') no-repeat;
}
.or
{
    width:auto;float:left;
}
.or_title
{
  color:#ffffff;font-family: Fjalla One;font-size: 17px; padding-left:14px; line-height: 34px;
}
.company_bg
{
    width: 149px;height: 42px;float:left;background: url('../newimages/company_bg.png')no-repeat; margin-left:15px;  text-align:  center;     
}
.company_bg a
{
    color:#ffffff;font-family: FjallaOne-regular;text-decoration: none;font-size: 22px;line-height: 40px;
}
.company_bg:hover
{
    background: url('../newimages/company_hover.png')no-repeat;
}

.content_right_bottom
{
    width:374px;height:auto;background: #ffffff;float:left;margin-top:5px;box-shadow: 0 3px 3px #A0A3A7;
}
.content_right_internal
{
    width:355px;height:auto;float:left;padding: 15px;padding-bottom: 0px;
}
.name
{
    width: 100%;height:37px;float:left;
}
.my_name_is
{
    color:#565656;font-family: ArchivoNarrow-Regular;font-size: 16px;width:auto;
}
.first_name2
{
    width:100%;height: 57px; float:left;border-bottom:1px dashed #cbcbcb;
}
.first
{
    width:100px;height: 50px; float:left;
}
.first_name
{
    width:156px;width:167px\9;height: 40px; float:left; background: url('../newimages/input1.png') no-repeat;font-family: arial;font-size: 12px; margin-right:8px;
}
.last_name
{
    width:156px;height: 40px; float:left; background: url('../newimages/input1.png') no-repeat;font-family: arial;font-size: 12px;
}
.name2
{
    width: 100%;height:35px;float:left;border-bottom:1px dashed #cbcbcb;padding-top:10px;
}
.female
{
    font-size: 18px; color:#565656;font-family: ArchivoNarrow-Regular;float:left;padding-right: 5px;line-height:29px;
}

.radio
{
    float: left; height: 20px; width: 25px;
}
.btn
{
    float:left;width: 20px;width: 15px\9;padding-left: 3px\9;
}
.my_name_is2
{
    color:#565656;font-family: ArchivoNarrow-Regular;font-size: 16px;width:55px;float:left;line-height:29px;width:44px\9;
}
.male
{
    width:275px;float:right;width:285px\9;
}
.born
{
    color:#565656;font-family: ArchivoNarrow-Regular;font-size: 16px;width:100%;float:left;line-height: 23px;padding-top:10px;
}
.chbox2
{
    border: medium none;height: 15px;width: 25px;background-color:#021738;padding-left:0px\9;float:left;width:17px\9;
}
.email
{
    width:336px;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;
}
.mmail
{
    width:336px;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;
}
.emaill
{
    width:336px;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;
}
.eml
{
    width:336px;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;
}
.email_outer
{
    width:100%;float:left;height:52px;
}
.tell_your_friends
{
    width: 100%;float:left;height: 40px;padding-top:15px;
}
.plus
{
    width: 45px;height: 50px;float:left;cursor:pointer;
}
.plus img
{
    border:none;
}
.tell_your_friends_more
{
    width:auto;float:left;
}
.tell_your_friends_more a
{
    color:#494949;font-family:FjallaOne-regular;font-size: 25px;text-decoration: none;
}
.why
{
    width:auto;float:right;color:#565656;font-family: ArchivoNarrow-Regular;font-size: 16px;padding-left:7px;line-height:14px; 
}
.why a
{
    color: #0C518B; float: right;font-family: ArchivoNarrow-Regular; font-size: 16px;text-align: right;padding-left:7px;
}
.why a:hover
{
    text-decoration: none;
}
.why a span
{
    line-height: 30px;
}
.submit_bg
{
    width:125px;height: 40px;float:right;background: url('../newimages/submit.png') no-repeat;margin-top:22px;
     color:#17287c;font-family: FjallaOne-regular;text-decoration: none;font-size: 20px;line-height: 40px;
        
}
.submit
{
    width:118px;text-align: center;
}
.submit a
{
    color:#17287c;font-family: FjallaOne-regular;text-decoration: none;font-size: 20px;line-height: 40px;
}
.submit_bg:hover
{
    background: url('../newimages/submit_hover.png') no-repeat;
}
.footer
{
    width: 960px;margin: 0 auto;height:65px;background: #f0f5fb;clear:both;
}
.footer_top
{
    width: 100%;float:left;height:30px;background: url('../newimages/footer_border.png') no-repeat;
}
.footer_bottom
{
    width: 100%;float:left;height:30px;
   
}
.footer_bottom_copyright
{
    color:#565656;font-family: Archivo Narrow;font-size: 14px;text-align: center;
}
select.month
{
      float:left;width: 128px; 
   
}.bday_new
{
    
    background: url('../newimages/month.png') no-repeat scroll right center white;
    height: 41px;
    overflow: hidden;
    width: 128px !important;   float:left;margin-right:5px;
}
.month_new
{
    background: none repeat scroll 0 0 transparent;
    
    height: 39px;
    padding: 10px 8px 0;
    width: 156px !important; color:#a9a9a9;font-family: Arial;font-size: 12px;font-style: italic;
}

.bdate
{
    width: 100%;height:50px;float:left;padding-top: 5px; border-bottom: 1px dashed #CBCBCB;padding-bottom:7px;
}
.drop_down
{
    width:auto;height:20px;float:left;margin-left:-3px;margin-left:-6px\9;
}
.drop_down img
{
    border:none;
}
.day
{
     height:42px;width:98px; float:left;width:56px\9;
}.bday2_new
{
    
   background: url('../newimages/year.png') no-repeat;
    height: 41px;
    overflow: hidden;
    width: 109px !important;   float:left;margin-right: 10px;
}

.day_new
{
     height:40px; float:left;background: url('../newimages/year.png') no-repeat;width:56px\9; 
    padding: 10px 0px 0 0px;
    width: 129px !important; color:#a9a9a9;font-family: Arial;font-size: 12px;font-style: italic;
}
.day_new_month
{
     height:40px; float:left;background: url('../newimages/year.png') no-repeat;width:56px\9; 
    padding: 10px 0px 0 5px;
    width: 129px !important; color:#a9a9a9;font-family: Arial;font-size: 12px;font-style: italic;
}
.bday3_new
{
    
  
    height: 41px;
    overflow: hidden;
    width:101px !important;   float:left;
}
.year_new
{
     height:42px;width: 130px; float:left;background: url('../newimages/day.png') no-repeat;color:#a9a9a9;font-family: Arial;font-size: 12px;font-style: italic;padding: 10px 0px 0 5px;
}

.bday
{
    width: auto;float:left;margin-right:7px;
}
/*select
{
    float:left;color:#a9a9a9;font-family: Arial;font-size: 12px;font-style: italic;height:39px;border:none;width: 107px;
    padding-top:11px;padding-left:5px;
}*/select {
    font-family: 'Viga', sans-serif;
    font-size:16px;
   padding: 5px 10px 5px 10px;
   border-radius: 8px;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor:pointer;display: inline-block !important;
}
.wide
{
    width:100px;
}
.menus
{
    width: 200px;float:left;
}

.drop2
{
    float: right;
    margin-top: -23px;margin-top: -30px\9;
    width: 10px;padding-right: 12px;cursor:pointer;
 
}
.option.select
{
    width: 100px;
}
#wrapper_web_pg
{
    width: 800px;height:728px;margin: 0 auto; background: #ffffff;border:3px solid #000000;
}
.header_web_pg_top
{
    width: 100%;float:left;
}
.header_web_pg_top_title
{
    text-align: center;color:#000000;font-family: geosanslight;font-size: 14px;text-align: center;font-weight: bold;
}
.header_web_pg
{
    width: 100%;height:75px;float:left;background: #c1c1c1;border-bottom:2px solid #000000;
}
.header_web_pg_left
{
    width: auto;float:left;padding-top:5px;padding-left:15px;
}
.header_web_pg_left img{
    margin-right: 5px; 
}
.header_web_pg_right
{
    width: auto;float:left;height: 30px;padding-left:10px;padding-top:8px;
}
#areatext
{
    width: 560px;float:left;background: #ffffff;height: 25px;border:2px solid #000000;color:#000000;font-family: arial;font-size: 14px;font-style: normal;
}
.find_area
{
    width:68px;height: 23px;float:right;padding-top:7px;
}
#find
{
    width: 60px;height: 23px;float:left;background: url('../newimages/search.png') no-repeat;padding-left:19px;
}
.web_pg_content
{
    width: 95%;height:auto;float:left;background: #ffffff;padding: 0 20px 0px 15px;
}
.web_pg_content_left
{
    width:415px;float:left;height: auto;
}
.suspendisse
{
    width: 100%;float:left;
}
.suspendisse_title
{
    color:#000000;font-family: Arial;font-size: 16px;padding-top: 15px;
}
.web_pg_content_right
{
    width: 321px; float:right;background: #eeeeee;height:auto;padding:12px;
}
.interest
{
    width:100%;float:left;height: 25px;
}
.interest_title
{
    color:#000000;text-align: center;float: left;font-family:arial;font-size: 14px;
}
#list
{
    width:100%;height: 45px; float:left;background: url("../newimages/email_bg.png") no-repeat scroll 0 0 transparent;font-family: arial;font-size: 12px;
}
#list8
{
     width:100%;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;
}

.inputs_outer
{
    width:100%;height: 60px; float:left;
}
.less
{
   width: 40px;float:left;height: 25px;
}
.tell_friends
{
    width:auto;float:left;padding-bottom:10px;
}
.tell_friends_title
{
    color:#000000;font-family: Arial;font-size: 20px;float:left;
}
.upload
{
   float:left;
}
.upload_me
{
    width: auto;float:left;padding-top:5px;height:30px;
}
.upload_me a
{
    color:#1460a3;font-family: Arial;font-size: 12px;padding-left:5px;
}
.upload_me a:hover
{
    text-decoration: none;
}
.text_uplaod
{
    width: 105px; float:left;
}
.country
{
    width:100%;height: 30px; float:left;background: #ffffff;font-family: arial;font-size: 12px;border:2px solid #000000;
}
.degree
{
    width:100%;height: 30px; float:left;background: #ffffff;font-family: arial;font-size: 12px;border:2px solid #000000;
}
.mails_outer
{
    width:100%;float:left;
}
.fields
{
    width:100%;float:left;padding-bottom:12px;
}
.industry
{
    width:100%;height: 30px; float:left;background: #ffffff;font-family: arial;font-size: 12px;border:2px solid #000000;
}
.submit_bg2
{
    width:120px;height: 40px;float:right;margin-top:22px;cursor:pointer;
        
}
.footer_web_pg
{
    width: 100%;float:left;height: 50px;
}
.footer_web_pg_internal
{
    width:392px;margin:0 auto;
}
.menu
{
   width:550px;float:left; height:40px;padding-top:20px;
}
.menu ul
{
   width: 100%;float:left; 
}
.menu ul li
{
   list-style: none;width:auto;float:left;text-align: center;
}
.menu ul li a
{
   color:#1460A3;;font-family: arial;font-size: 12px;
}
.menu ul li a:hover{
    text-decoration: none;
}
.menu ul li a span{
    padding-left: 10px;
}
.border
{
    border-right: 2px solid #000000;padding-left: 10px;padding-right: 10px;
}
.bottom_color
{
    width: 100%;float:left;background: #c1c1c1;height:25px;border-top: 2px solid #000000;
}
.email_outer2
{
    width:100%;float:left;height:100px;
}
.country2
{
   width:336px;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;
}
.list2
{
     width:100%;height: 30px; float:left;background: #ffffff;font-family: arial;font-size: 12px;border:2px solid #000000;
}
.degree2
{
     width:336px;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;
}
.industry2
{
    width:336px;height: 30px; float:left;background: #ffffff;font-family: arial;font-size: 20px;border:2px solid #000000;font-style: normal;
}
.agree
{
    width:auto;float:right;color:#565656;font-family: arial;font-size: 12px;padding-left:7px;line-height:14px; 
}
.agree a
{
    color: #0C518B; float: right;font-family: arial; font-size: 12px;text-align: right;padding-left:7px;
}
.agree a:hover{
    text-decoration: none;
}
.list4
{
    width:100%;height: 30px; float:left;background: #ffffff;font-family: arial;font-size: 20px;border:2px solid #000000;font-style: normal;
}
.tell_about_friends
{
    width:100%;height: 57px; float:left;border-bottom:1px dashed #cbcbcb;padding-top: 10px;
}
.details
{
    float: left;height:auto;
    width:386px;background: #ffffff;box-shadow: 0 3px 3px #A0A3A7;padding-top: 0px;
}
.content_right_internal2
{
    width:354px;height:auto;float:left;padding: 15px;background: #ffffff;box-shadow: 0 3px 3px #A0A3A7;   padding-top: 0px;
}
.industry5
{
   width:100%;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;
}

.details
{
    float: left;height:auto;
    width:384px;background: #ffffff;box-shadow: 0 3px 3px #A0A3A7;padding-top: 0px;
}
.typings
{
     width:336px;height: 40px; float:left; background: url('../newimages/email_bg.png') no-repeat;font-family: arial;font-size: 12px;
}
/*
.OptionselectBoxContainerdiv {
background: url("../images/selectBoxImage.png") no-repeat scroll right center white;
height: 24px;
overflow: hidden;
width: 335px !important;
}
/* Css for the  outer div end */

/* Css for the select box */
/*
.select-list{
background: none repeat scroll 0 0 transparent;
border: solid 1px #BBB;
font-size: 16px;
height: 24px;
padding: 1px;
width: 355px;
-webkit-appearance: none;
font-size: 13px;
}
*/