
.clear{
clear:both;
}
a{
color:#256c89;
}
img
{
    border: 0px;
}

@font-face 
{
    font-family:Geosanslight;
    src: url(../css/GeosansLight.ttf) format('opentype');
}

@font-face 
{
    font-family:Znikomit;
    src: url(../css/Znikomit.otf) format('opentype');
}

@font-face 
{
    font-family:TrendexLightSSi;
    src: url(../css/TrendexLightSSi.ttf) format('opentype');
}

/*****************parveen********************/

.container
{
    float: left;
    min-width: 100%;
    height: auto;
}

.body_gestuser
{
    background: none repeat scroll 0 0 #EEF3FA;
    color: #333232;
    font-family: Geosanslight;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.main_header
{
    float: left;
    height: auto;
    width: 100%;    
}
.header_divtwo
{
    background:url("../images/freeworld/header_bg.png");
    height: 175px;   
    width: 100%;/*width:1035px*/
}
.header_logo
{
    float: left;
    height: auto;
    padding: 30px 0 20px 99px;
    width: 714px;   
}
.header_imagelogo
{
   height: 90px;
   width: 285px;
}
.header_login
{
    background: none repeat scroll 0 0 #2A3958;
    border-radius: 10px;
    float: left;
    height: 117px;
    /*margin-top: 32px;*/
    width: 460px;
    font-family: Znikomit;
}
.header_login_div1
{
    color: white;
    font-size: 20px;
    text-align: center;
}
.header_login_div2
{
    color: white;
    float: left;
    height: auto;
    width: 100%;
    padding-top: 3px;
}
.header_login_email
{
    float: left;
    font-size: 13px;
    padding-left: 36px;
    width: 190px;
}
.inputemail
{
    height: 20px;
    width: 128px;
}
.inputemail_home
{
    height: 17px;
    width: 100px;
    color: black;
}
.header_login_password
{
    float: left;
    font-size: 13px;
    width: 210px;
}
.header_login_checkbox
{
    float: left;
    font-size: 13px;
    padding-left: 33px;
    width: 160px;
    color: white;
}
.header_login_div3
{
    float: left;
    padding-left: 35px;
    padding-top: 12px;
    width: 95%;
}
.footer_div
{
    margin: 0 auto;
    width: 542px;
    font-size: 22px;
}
.footer_about
{
    float: left;
    width: 90px;
}
.footer_Contact
{
    float: left;
    width: 82px;
}
.footer_Privacy
{
    float: left;
    width: 128px;
}
.footer_Terms
{
    float: left;
    width: 160px;
}
.footer_Help
{
    float: left;
    width: 60px;
}
.forgotpassword_sec_div
{
    margin: 0 auto;
    width: 855px;
}
.mainouterdiv_forgot
{
    float: left;width: 100%;min-height: 750px; background: none repeat scroll 0 0 #E1F8FD;
}
.bacground_forgot
{
    margin-top: 20px;
    height: 135px;    
}
.bacground_footer
{
    background: none repeat scroll 0 0 #E1F8FD;
    height: 50px;    
}

#footer {
    float: left; height: auto; width: 100%;
}
.cetnter_div
{
    margin: 0 auto;
    width: 1366px;
    /*width: 964px;
    width: 80%;*/
}

.footer_dotted
{
    border: 1px dotted #DBE6E8;
    margin: 0 auto 5px;
    width: 850px;
    height: 0;
}


/********Home***********/

.main_home
{
    float: left;
    width: 100%;
    min-height: 750px;
    background: none repeat scroll 0 0 #E1F8FD;
}

.home_firstdiv
{
    float: left;
    padding: 20px 26px 50px 99px;
    width: 1240px;
}

.home_banner
{
    float: left;
    height: auto;
    width: 650px;
}
.home_image
{
    height: 240px; width: 460px;
}
.home_createaccount
{
    background: none repeat scroll 0 0 #5A6365;
    border-radius: 10px 10px 10px 10px;
    float: left;
 height: 760px;
    width: 461px;
    color: #DADCDD;
    font-family: Znikomit;
}
.home_createaccount_div1
{
    font-family:Znikomit;
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
}
.register_name_home
{
    float: left;
    height: 33px;
    width: 221px;
}
.register_name_homediv_first
{
    color: #DADCDD;
    float: left;
    font-size: 15px;
    width: auto;
}
.forgotpasinput_home
{
    height: 12px;
    width: 95px;
}
.inputemail_home_select
{
    height: 20px;
    width: 106px;
    color: black;
    font-style: italic;
}
.home_register_fields
{
    float: left;
    padding: 3px 10px 1px 15px;
    width: 442px;
}

.register_name_div1_home
{
    color: #DADCDD;
    float: left;
    font-size: 15px;    
    padding-right: 25px;
    width: auto;
}
.forgotpasdiv2_home
{
    float: left;
    height: 20px;
    width: 102px;
}
.register_name_div_secondii_home
{
    color: #DADCDD;
    float: left;
    font-size: 15px;
    width: auto;    
}
.forgotpasinput_home_select
{
     height: 20px;
    width: 101px;
}
.register_name_div_secondii_homediv
{
   color: #DADCDD;
    float: left;
    font-size: 12px;
    padding-left: 6px;
    width: 92px;
}
.register_name_home_div
{
    float: left;
    height: 60px;
    padding-top: 10px;
    width: 435px;
}
.register_home
{
    color: #DADCDD;
    float: left;
    font-size: 15px;
    padding-top: 7px;
    width: 225px;
}
.forgotpas_home
{
    height: 22px;
    width: 200px;
    color: black;
}
.forgotpasdiv2_home_interest
{
    float: left;
    height: 22px;
    padding-top: 8px;
    width: 126px;
}
.register_home_ff
{
    color: #DADCDD;
    float: left;
    font-size: 12px;    
    width: 278px;
}
.register_Uploadpic
{
     color: #DADCDD;
    float: left;
    font-size: 16px;
    padding-top: 7px;
    width: 288px;
}
.register_name_home_img
{
    float: left;
    height: 138px;
    width: 290px;
}
.home_image_type
{
    float: left;
    font-size: 13px;
    width: 432px;
}
.image_home_upload
{
    background: none repeat scroll 0 0 #DADCDD;
    float: left;
    height: 47px;
    margin-right: 20px;
    margin-top: 4px;
    width: 50px;
}
.register_name_home_check
{
    float: left;
    height: 31px;
    width: 410px;
}

.register_name_home .hasDatepicker {
    color: black;
    font-style: italic;
    height: 17px;
    width: 100px;
}
.register_checkbox
{
    color: #DADCDD;
    float: left;
    font-size: 12px;
    padding-left: 1px;
    width: 400px;
}
.home_about
{
    float: left;
    font-size: 25px;
    height: auto;
    width: 650px;
}
.home_about_img
{
    float: left;
    width: 27px;
}
.home_dummy
{
    float: left;
    height: auto;
    margin-bottom: 5px;
    width: 100%;
}
.home_about_dummy
{
    float: left;
    height: auto;
    width: 93%;
}
.register_loding_img_home
{
    display: none;
    float: left;
    height: 20px;
    margin-left: -13px;
    margin-top: 3px;
    width: 20px;
}
.flashmessage
{
    float: right;
    height: 30px;
    width: 550px;
    font-size: 22px;
}

.flashmessage_login
{
    float: right;
    height: 30px;
    width: 192px;
    font-size: 22px;
}

.flashfreeregister
{  
    /*border: 1px solid #446423;*/
    border-radius: 7px 7px 7px 7px;
    color: #3D6611;
    font-family: Znikomit;
    font-size: 22px;
    font-weight: bold;
    height: 35px;
    margin-left: 183px;
    margin-top: 7px;
    padding-top: 7px;
    width: 958px;
    

}
.home_jointoday
{
    float: left;
    font-size: 25px;
    margin-left: 28px;
    margin-top: 25px;
    width: 71%;
}

/*********************Autharized User********************/

.cetnter_div_authrized
{
    float: left;
    width: 1366px;
    background:url("../images/freeworld/header_bg.png");
    height: auto;
    /*width: 80%;*/
}
.header
{
    float: left;
    min-width: 100%;
    height: auto;
}

.auth_header_logo
{
    float: left;
    height: auto;
    padding: 6px 0 8px 15px;
    width: 300px;
}
.auth_header_imagelogo
{
    height: 72px;
    width: 288px;
}
.auth_header_message
{
    float: right;
    height: auto;
    width: 374px;
    font-size: 16px;
    color: #DADCDD;
    font-family: Znikomit;
}
.auth_header_messageimg
{
    float: left;
    height: auto;
    width: 173px;
    margin-top: 7px;
}
.auth_header_messageimage
{
    height: 22px;
    width: 30px;
}
.auth_header_settings
{
    float: left;
    margin-top: 18px;
    width: 82px;
}
.auth_header_messagespan
{
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}
.auth_header_logout
{
    float: left;
    margin-top: 19px;
}
.auth_header_anchor
{
    color: #DADCDD;
    text-decoration: underline;
}
.auth_header_anchor:hover
{
     color: #DADCDD;    
}
.auth_header_username
{
    color: #DADCDD;
    float: left;
    font-size: 22px;
    min-width: 270px;
    padding-left: 17px;
}
.auth_header_user_--img----
{
    height: 38px;
    width: 40px;
}
.textdecoration:hover
{
    text-decoration: none;
}
.activepage
{
    background:url("../images/freeworld/active.png") no-repeat;
    color: #333232;
    float: left;
    height: 36px;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 11px;
    text-align: center;
    width: 163px;
    /*font-family: Znikomit;*/
    font-size: 22px;    
}
.uinactivepage
{
    background: url("../images/freeworld/inactive.png") no-repeat;    
    color: #333232;
    float: left;
    height: 36px;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 11px;
    text-align: center;
    width: 163px;
    /*font-family: Znikomit;*/
    font-size: 22px;    
}
.widthauto
{
    float: left;width: auto;height: auto;
}
.official_today
{
    background: none repeat scroll 0 0 #E1F8FD;
    float: left;
    min-height: 750px;
    width: 1168px;
}
.side_nav
{
    float: left;
    height: auto;
    padding-left: 15px;
    width: 183px;
}
.activepage_blue
{
    background: none repeat scroll 0 0 #28398A;
    border-radius: 6px 6px 6px 6px;
    color: #DADCDD;
    float: left;
    height: 34px;
    margin-top: 10px;
    padding-right: 7px;
    padding-top: 10px;
    text-align: center;
    width: 152px;
    cursor: pointer;
}
.official_today_div1
{
    float: left;
    height: auto;
    padding: 25px 0 0 40px;
    width: 440px;
}
.official_today_div2
{
    float: left;
    height: auto;
    padding-left: 10px;
    padding-top: 25px;
    width: 445px;
}
.official_today_div3
{
    float: left;
    height: auto;
    width: 200px;
    padding-left: 10px;
    padding-top: 25px;
}
.official_today_date
{
    float: left;
    height: auto;
    width: 400px;
    margin-bottom: 15px;
}
.official_today_date_top
{
    float: left;
    height: auto;
    width: 508px;
    margin-bottom: 15px;
}
.official_today_sortdate
{
    float: left;
    height: auto;
    width: 150px;
    font-size: 22px;
    
}
.official_today_bestsinger
{
    height: 241px;
    width: 245px;
}
.official_today_addtolist
{
    background: none repeat scroll 0 0 #FAEE53;
    border-radius: 7px 7px 7px 7px;
    float: left;
    height: 35px;
    margin-right: 8px;
    padding-top: 11px;
    text-align: center;
    width: 130px;
    cursor: pointer;
    color: #403f34;
}
.official_today_input
{
    height: 20px;
    width: 200px;
}
.official_today_list
{
    float: left;
    height: auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.official_today_createnew
{
    background: none repeat scroll 0 0 #FAEE53;
    border-radius: 7px 7px 7px 7px;
    float: left;
    height: 35px;
    margin-bottom: 20px;
    margin-right: 8px;
    padding-top: 11px;
    text-align: center;
    width: 130px;
    cursor: pointer;
    color: #403f34;
}
.official_today_singer
{
    height: 65px;
    width: 245px;
}
.official_today_secondcol
{
    float: left;
    margin-bottom: 20px;
}
.official_today_droup
{
    height: 20px;
    width: 200px;
    color: black;
}

#recaptcha_area #recaptcha_area, #recaptcha_table {
    padding-bottom: 17px;
    width: 0;
}
.footerdiv_auth
{
    float: left;
    height: auto;
    padding-left: 198px;
    width: 75%;
}
.footer_dotted_auth
{
    border: 1px dotted #DBE6E8;
    height: 0;
    margin: 0 auto 5px;
    width: 970px;
}
.bacground_footer_auth
{
    background: none repeat scroll 0 0 #E1F8FD;
    height: 60px;
    width: 1168px;
    padding-top: 15px;
}
.outerdiv
{
    background: none repeat scroll 0 0 #E1F8FD;
    float: left;
    margin-left: 0;
    min-height: 750px;
    padding: 32px 0 0 38px;
    width: 1130px;
}
.outerdiv1_auth
{
    background: none repeat scroll 0 0 #E1F8FD;
    float: left;
    min-height: 750px;
    padding: 15px 0 0 15px;
    width: 1153px;
}

.create_new_show
{
    font-family: Znikomit;
    font-size: 50px;
    font-weight: bold;
    color: black;
    padding-bottom: 14px;
}



.min_hight_outer
{
    float: left;
    min-height: 750px;
    min-width: 100%;
}

.auth_header_messagecount
{
    background: url("../images/freeworld/message-ssdd.png") no-repeat; 
    width: 28px;
    cursor: pointer;
    float: left;
    height: 21px;
    margin-top: 12px;
}
.auth_header_messagespanred
{
    background: url("../images/freeworld/roundnoti.png") no-repeat;    
    color: red;
    font-weight: bold;
    height: 26px;
    margin-left: -16px;
    margin-top: -10px;
    width: 26px;  
    text-align: center;
}

.flashloginfailed
{
    color: red;
    font-size: 21px;
    font-weight: bold;
    margin-top: 4px;
   /* padding-left: 170px;*/
}

.aboutfree_home
{
    font-family: Znikomit;
    font-size: 40px;
}
.tems_unauth
{
    background: none repeat scroll 0 0 #E1F8FD;
    float: left;
    font-size: 16px;
    min-height: 750px;
    padding-top: 15px;
    text-align: center;
    width: 100%;
}
.facbooklist_div1
{
    float: left;
    height: 140px;
    margin-bottom: 25px;
    width: 285px;
}
.facbooklist_img
{
    float: left;
    width: 64px;
}
.facbooklist_name
{
    color: black;
    float: left;
    font-size: 25px;
    height: 65px;
    width: 74%;
    word-wrap: break-word;
}

.image_mylist_official
{
    height: 65px;
    width: 60px;
}
.latest_image_official
{
    float: left;
    height: 75px;
    width: 85px;
}
.textdecorationblack
{
    text-decoration: none;
    color: black;
}
.latest_title_div_official
{
    float: left;
    font-size: 50px;
    height: auto;
    width: 290px;
    word-wrap: break-word;
}
.img_outer_official
{
    float: left;
    height: auto;
    width: 75px;
}
.seepollview
{
    cursor: pointer;
    height: 42px;
    width: 105px;
}
.seepollviewDiv
{
    float: right;
    width: 50%;
}
.outer_latesttitle_div_off
{
    float: left;
    height: auto;
    width: 330px;
}
.latest_title_div_off_poll
{
    float: left;
    font-size: 30px;
    height: auto;
    width: auto;
    word-wrap: break-word;
}
.official_polldeteil
{
    float: left;
    font-size: 22px;
    font-weight: bold;
    height: 30px;
    padding: 9px 0;
    width: 100%;
}
.baneer_home
{
    background: none repeat scroll 0 0 white;
    border: 1px solid #BDC4C6;
    float: left;
    height: 361px;
    padding: 9px 8px 0;
    width: 624px;
}
.home_banner_boder_div
{
    border: 10px solid #ececfb;
    float: left;
    height: 319px;
    width: 600px;
}
.flashactivateaccount
{
    color: red;
    font-size: 21px;
    font-weight: bold;
    margin-top: 2px;
    padding-left: 4px;
    font-size: 22px;
}
.flashmessage_home
{
    float: left;
    height: 45px;
    text-align: center;
    width: 100%;
}
.active_confirm
{
    margin: 0px;
    float: left;
    height: 64px;
    padding-left: 15px;
    width: 272px;
}
.margine
{
    margin: 0px;
}
.active_thanku
{
    float: left;
    font-family: Znikomit;
    font-size: 22px;
    height: 82px;
    padding-left: 45px;
    padding-top: 30px;
    width: 65%;
}
.active_confirma
{
    float: left;
    height: auto;
    
    text-align: center;
    width: 62%;
}
.flashmessage_activate
{
    float: left;
    height: 47px;
    text-align: center;
    width: 80%;
    font-size: 22px;
}
.login_header
{
     float: left;
    width: 243px;
}
.forgotpas_home_multy
{
    color: black;
    width: 141px;
}
.register_home_selectmulty
{
    color: #DADCDD;
    float: left;
    font-size: 15px;
    padding-top: 7px;
    width: 290px;
}
.detail_pollcc
{
    background:url("../images/freeworld/active.png") no-repeat ;
    float: left;
    font-size: 25px;
    height: 41px;
    margin-top: 38px;
    padding-left: 36px;
    padding-top: 6px;
    width: 128px;
}
.official_search
{
    float: left;
    width: 212px;
}
.search_list_official
{
    float: left;
    height: 40px;    
    width: 100%;
}
.search_list_div1_official
{
    float: left;
    height: 30px;
    margin-top: -2px;
    width: 117px;
}
.forgotpasinput_official
{
    height: 24px;
    width: 146px;
    color: black;
    font-style: italic;
}

.search_list_div2_official
{
    float: left;
    margin-left: 10px;
    margin-top: -3px;
    width: 16px;
}
.search_list_div3_official
{
    color: red;
    display: none;
    float: left;
    font-size: 18px;
    margin-left: 15px;
    width: 96px;
}
.checkbox-vali_sapn
{
    float: left;
    height: 20px;
    width: 21px;
}
.list_title_div_official
{    
    float: left;
    height: auto;
    width: auto;
    margin-left: 21px;
}
.seemessage_div1
{
    float: left;
    height: auto;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-top: 15px;
    width: 660px;
}
.seemessage_div2
{
    float: left;
    padding-right: 15px;
}
.seemessage_div3
{
    float: left;
    height: auto;
    width: 580px;    
    word-wrap: break-word;
}
.seemessage_div31
{
    float: left;
    height: 30px;
    width: 175px;
    word-wrap: break-word;
}
.seemessage_div32
{
    float: left;
    height: auto;
    width: 265px;
    word-wrap: break-word;
}
.attachment_show
{
    float: left;width: 15px; margin-top: 6px;
}
.seemessage_div33
{
    float: left;
    height: auto;
    width: 115px;
    word-wrap: break-word;
}
.userimage
{
    width: 50px;
}
.official_today_button
{
    background: none repeat scroll 0 0 #FAEE53;
    border-radius: 7px 7px 7px 7px;
    float: left;
    height: 28px;
    margin-right: 8px;
    padding-top: 11px;
    text-align: center;
    width: 130px;
    cursor: pointer;
}
.image_buttons
{
    width: 130px;
}
.upper_official_today
{
    float: left;
    height: auto;
    padding-left: 40px;
    padding-top: 25px;
    width: auto;
}
.ui-datepicker-trigger
{
    margin-left: -6px;
    margin-top: -3px;
    width: 26px;
    cursor: pointer;
}
.OptionselectBoxContainerdiv {
background: url("../images/freeworld/arrow-down.png") no-repeat scroll right center white;
height: 24px;
overflow: hidden;
width: 265px !important;
}
/* Css for the  outer div end */

/* Css for the select box */
.select-list{
background: none repeat scroll 0 0 transparent;
border: solid 1px #BBB;
font-size: 16px;
height: 24px;
padding: 1px;
width: 300px;
-webkit-appearance: none;
font-size: 13px;
padding-top: 3px;
font-style: italic;
}
.official_today_createnew_margine
{
    background: none repeat scroll 0 0 #FAEE53;
    border-radius: 7px 7px 7px 7px;
    color: #403F34;
    cursor: pointer;
    float: left;
    height: 35px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 8px;
    padding-top: 11px;
    text-align: center;
    width: 130px;
}
.already_taken
{
    color: black;
    float: left;
    font-size: 22px;    
    height: 42px;
    width: 450px;
}
.brows_arrow
{
    float: left;
    height: 20px;
    margin-top: 7px;
    width: 30px;
}
.brows_interest
{
    float: left;
    height: auto;
    width: auto;
    word-wrap: break-word;
}





/**********************Dashboard***********************/
.dashbord_main_outer
{
    float: left;
    padding-left: 40px;
    padding-top: 25px;
    height: auto;
    width: auto;
}
.dashbord_firstdiv
{
    float: left;
    height: auto;
    width: 100%;
}
.dashbord_img
{
    float: left;
    height: auto;
    padding-right: 10px;
    width: auto;
}
.image_dashbord
{
    height: 65px;
    width: 75px;
}
.dashbord_username
{
    float: left;font-size: 40px;width: 428px;
}
.dashbord_addfriend
{
    cursor: pointer;
    float: left;
}
.auth_header_notification
{
    background: url("../images/freeworld/notifi-bird.png") no-repeat;    
    cursor: pointer;
    float: left;
    height: 38px;
    margin-top: 7px;
    text-align: center;
    width: 22px;
    margin-right: 27px;
}
.auth_header_notispan
{
    background: url("../images/freeworld/roundnoti.png") no-repeat;    
    color: red;
    font-weight: bold;
    height: 26px;
    margin-left: -16px;
    margin-top: -5px;
    width: 26px;
}
.notification_header
{
    background: none repeat scroll 0 0 #86A0D3;
    border: 1px solid #A3B3B7;
    border-radius: 10px 10px 10px 10px;
    color: white;
    float: right;
    height: auto;
    margin-top: 35px;
    position: absolute;
    right: 475px;
    width: 165px;
    z-index: 99999;
}
.notification_center
{
    float: left;
    font-family: Znikomit;
    font-size: 15px;
    padding-left: 14px;
    padding-top: 4px;
    height: 26px;
}
.notification_message_header
{
    float: left;
    font-size: 13px;
    padding: 0 14px;
    width: 92%;
}
.userimage_notification
{
    float: left;
    padding-right: 5px;
}
.notification_header_msg_main
{
    float: left;
    height: auto;
    margin-bottom: 0;
    margin-top: 8px;
    width: 100%;
    word-wrap: break-word;
}
.header_notification_msg
{
    float: left;
    height: auto;
    margin-bottom: 15px;
    width: 107px;
    word-wrap: break-word;
}
.notification_mergine
{
    border-bottom: 1px dotted;
    border-top: 1px dotted;
    float: left;
    margin-top: 0;
    width: 91%;
}
.no_notification
{
    float: left;
    height: 30px;
    padding-top: 12px;
    width: 100%;
}
.textdecorationwhite
{
    color: white;
    text-decoration: none;
}

.notificationcenter_page
{
    float: left;
    font-family: znikomit;
    font-size: 40px;
    font-weight: bold;
    padding-left: 40px;
    width: 850px;
    height: 85px;
}
.notificationcenter_outerdiv
{
    float: left;
    height: auto;
    padding-left: 40px;
    width: 850px;
}
.notificationcenter_firstdiv
{
    float: left;
    height: 385px;
    width: 395px;
    border: 1px solid #C3CAC8;
    margin-bottom: 25px;
    margin-right: 55px;
}
.notificationcenter_secdiv
{
    float: left;
    height: 385px;
    width: 395px;
    border: 1px solid #C3CAC8;
    margin-bottom: 25px;
}
.notificationcenter_thirddiv
{
    float: left;
    height: 385px;
    width: 395px;
    border: 1px solid #C3CAC8;
    margin-right: 55px;
    margin-bottom: 25px;
}
.notificationcenter_forthdiv
{
    float: left;
    height: 385px;
    width: 395px;
    border: 1px solid #C3CAC8;
    margin-bottom: 25px;
}

.notificationcenter_firstinner
{
    background: none repeat scroll 0 0 #7B9CD9;
    color: white;
    font-size: 20px;
    height: 36px;
    padding-top: 8px;
    text-align: center;
    width: 395px;
    font-family: znikomit;
}
.notificationcenter_secondinner
{
    float: left;
    height: 330px;
    overflow: auto;
    padding: 10px;
    width: 375px;
}
.notificationcenter_notidiv
{
    float: left;
    height: auto;
    width: 100%;
}
.notificationcenter_imagediv
{
    float: left;
    height: auto;
    margin-bottom: 5px;
    width: 100%;
}
.notificationcenter_todaydiv
{
    font-family: znikomit;
    font-size: 15px;
     margin-bottom: 5px;
}
.notificationcenter_userimg
{
    height: 40px;
    width: 45px;
}
.notificationcenter_message
{
    font-size: 20px;
    width: 292px;
    float: left;
    height: auto;
    
    word-wrap: break-word;
}
.textdecorationwhite:hover
{
    color: white;
    text-decoration: none;
}
.listnew_title
{
    float: left;
    height: 70px;
}
.type_listnew
{
    float: left;margin-top: 20px;
}
.topic_listnew
{
    float: left;margin-top: 5px;
}
.OptionselectBoxContan
{
    background: url("../images/freeworld/arrow-down.png") no-repeat scroll right center white;
    height: 24px;
    overflow: hidden;
    width: 219px !important;
}
.select-list_listtitle{
background: none repeat scroll 0 0 transparent;
border: solid 1px #BBB;
font-size: 16px;
height: 24px;
padding: 1px;
width: 239px;
-webkit-appearance: none;
font-size: 13px;
padding-top: 3px;
font-style: italic;
}
.listtitle_newdesdiv1
{
    float: left;
    height: 30px;
    width: 100%;
    margin-top: 10px;
}

.listtitle_newdesdiv11
{
    color: white;
    float: left;
    font-family: znikomit;
    font-size: 20px;
    width: 138px;
}
.listtitle_newdesdiv12
{
    color: white;
    float: left;
    font-family: znikomit;
    font-size: 20px;
    width: 128px;
}
.listtitle_newdesdiv13
{
     color: white;
    float: left;
    font-family: znikomit;
    font-size: 20px;
}
.listtitle_newdesdiv121
{
    float: left;
    width: 67px;
}
.listtitle_newdesdiv13_input
{
    height: 26px;
    width: 159px;
    color: #C5C5CD;
}
.listtitle_newdesdiv13_imgdiv
{
    float: left;
    margin-left: -23px;
    margin-top: -1px;
}
.listtitle_newdesdiv2
{
    float: left;margin-top: 10px;
}

.listtitle_newdesdiv21
{
    float: left;
    height: auto;
    width: 205px;
}

.listtitle_newdesdiv22
{
    float: left;
}
.listtitle_newdesdiv21_frinds
{
    color: white;
    float: left;
    font-family: znikomit;
    font-size: 20px;
    height: 40px;
    width: 204px;
}
.listtitle_newdesdiv221
{
    float: left;
    height: auto;
    margin-bottom: 10px;
    width: 100%;    
}
.listtitle_newdesdivcheckbox
{
    float: left;
    height: 20px;
    margin-top: 7px;
    width: 20px;
}
.listtitle_newdesdiv22img
{
    float: left;
    width: 35px;
}
.listtitle_newdesdiv22name
{
    color: #878C91;
    float: left;
    font-weight: bold;
    height: auto;
    width: 150px;
    word-wrap: break-word;
}
.overflow_div
{
    float: left;
    height: 290px;
    overflow: auto;
    width: 440px;
}
.message_header
{
    background: none repeat scroll 0 0 #86A0D3;
    border: 1px solid #A3B3B7;
    border-radius: 10px 10px 10px 10px;
    color: white;
    float: right;
    height: auto;
    margin-top: 42px;
    position: absolute;
    right: 288px;
    width: 165px;
    z-index: 99999;
}
.message_center
{
    float: left;
    font-family: Znikomit;
    font-size: 15px;
    height: 30px;
    padding-left: 22px;    
}
.message_center_read
{
    float: left;
    font-family: Znikomit;
    font-size: 15px;
    height: 26px;
    padding-left: 18px;
    padding-top: 4px;
}





#backgroundPopup1{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
border:1px solid #cecece;
z-index:1;
}
#popupContact1{
background: none repeat scroll 0 0 #86A0D3;
border: 1px solid #A3B3B7;
border-radius: 10px 10px 10px 10px;
display: none;
font-size: 13px;
height: auto;
margin-left: 40px;
margin-top: 34px;
padding: 12px;
position: fixed;
width: 165px;   
z-index: 2;
 color: white;
}
#popupContact1 h1{
text-align:left;
color:#6FA5FD;
font-size:22px;
font-weight:700;
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;
}
#popupContactClose{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}

#backgroundPopup2{
display:none;
position:fixed;
_position:absolute; /* hack for internet explorer 6*/
height:100%;
width:100%;
top:0;
left:0;
border:1px solid #cecece;
z-index:1;
}
#popupContact2{
background: none repeat scroll 0 0 #86A0D3;
border: 1px solid #A3B3B7;
border-radius: 10px 10px 10px 10px;
display: none;
font-size: 13px;
height: auto;
margin-left: -176px;
margin-top: 34px;
padding: 12px;
position: fixed;
width: 165px;   
z-index: 2;
 color: white;
}
#popupContact2 h1{
text-align:left;
color:#6FA5FD;
font-size:22px;
font-weight:700;
border-bottom:1px dotted #D3D3D3;
padding-bottom:2px;
margin-bottom:20px;
}
#popupContactClose{
font-size:14px;
line-height:14px;
right:6px;
top:4px;
position:absolute;
color:#6fa5fd;
font-weight:700;
display:block;
}
.forgot_createaccount
{
    background: none repeat scroll 0 0 #5A6365;
    border-radius: 10px 10px 10px 10px;
    color: #DADCDD;
    float: left;
    font-family: Znikomit;
    height: 350px;
    width: 461px;
}
.forgot_name_home
{
    float: left;
    height: 33px;
    width: 432px;
    margin-top: 30px;
}
.password_forgot_email
{
    color: #DADCDD;
    float: left;
    font-size: 18px;
    padding-left: 6px;
    width: 255px;
}
.forgot_send-button
{
    float: right;
    margin-top: 15px;
    width: 180px;
}
.suggestion a
{
    color: white;
}

