.hidden {
	display: none;
}
.search-control-panel {
	position: relative;
	border: 1px solid #ced2d8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 500px;
	height: 30px;
	color: #555555;
	padding-left: 10px;
	padding-right: 23px;
	font: italic 19px/25px ArchivoNarrow-Regular;
	background: rgba(0, 0, 0, 0) url("../images/search-btn-control-panel.png") no-repeat 510px center;
}

#search_but{
    width:20px;
    height:20px;
    position: absolute;
    margin:-27px 0px 0px 510px;
    cursor: pointer;
}
.i-sub{
	background: url("../images/search-btn-control-panel.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    float: left;
    height: 20px;
    width: 24px;
	position:absolute;
	top:6px;
	right:0;
	cursor:pointer;
}
input:focus, textarea:focus{
outline:none !important;
}
.control-search{
	position:relative;
	width:506px;
}
.info-search-cp p{
	color: #797977 !important;
	font: normal 19px/22px ArchivoNarrow-Regular;
	padding:0px 0px 10px 0px;
	margin:0px !important;
}
.cp-content {
margin:20px 0px 0px 0px;
}
.cp-content:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.cp-col-left{
	float:left;
	width:60%;
	height:655px;
	overflow:auto;
}
.section-info{
	margin:0px 8px 15px 8px;
	padding-bottom:20px;
	width:570px;
}
.section-info  .section-info-name{
	color:#02183c;
	font: normal 19px/25px ArchivoNarrow-Bold;
	margin:0px 0px 8px 0px;
}
.other{
	width:475px !important;
}
 .borderbluebtm{
	border-bottom:1px solid #ecf1f6;
}

.circle-num {
	margin:0px 7px 0px 0px;
	background: url("../images/border-circle.png") no-repeat scroll 8px 0px transparent;
	padding:3px 5px;
	width:34px;
	text-align:center;
	
	
}
.circle-num span{
	text-align:center;
	color:#797977;
	font: normal 21px/24px ArchivoNarrow-Regular;
}

.section-list td{
	vertical-align:middle;
	padding:0px 0px 10px 0px;
}

.block-info-cp{
	padding:5px;
	border:1px solid #ecead4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#f9f7de;
	overflow:hidden;
	width:510px;
}
.smaller{
	width:414px;
}
/*.block-info-cp  img {*/
.block-info-cp-image {	
	position: relative;
	width: 127px;
	height: 83px;
	float: left;
	display: block;
}
.block-info-cp-image1111111111111 img {
	position: relative;
	width: 100%;
	height: 100%;
}

.block-shortinfo-cp{
	float:left;
	margin-left:8px;
	width:70%;
}
.w60{
width:60%;
}
.block-shortinfo-cp .title{
	font: normal 17px/20px ArchivoNarrow-Bold;
	color:#535353;
	margin:0px 0px 4px 0px;
}
.block-shortinfo-cp .plus{
	list-style:disc inside;
	font: normal 14px/15px ArchivoNarrow-Regular;
	color:#797977;
	padding:0px 0px 0px 5px;
}
.block-shortinfo-cp .plus li {
	margin-bottom:4px;
}
._ov{
	overflow:hidden;
}
.cp-col-right{
float:left;
width:40%;
height:800px;
}
.pagination{
overflow:hidden;
margin:0px 0px 9px 0px;
}
.pag-all{
text-transform:uppercase;
color:#5b5b5b;
font:normal 13px/13px FjallaOne-Regular;
border:1px solid #dcdcdc;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
float:left;
text-align:center;
padding:6px 16px 4px 16px;
margin-right:3px;
margin-left: 10px;
}
.pag-list a{
text-decoration:none !important;
color:#5b5b5b;
font:normal 13px/13px FjallaOne-Regular;
text-transform:uppercase;
}
.pag-list{
text-transform:uppercase;
color:#5b5b5b;
font:normal 13px/13px FjallaOne-Regular;
border:1px solid #dcdcdc;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
float:left;
text-align:center;
padding:6px 1px 4px 1px;
margin-right:3px;
}
.min {
	background: url("../images/min-plus.png") no-repeat scroll 3px 7px transparent;
	height:13px;
	width:17px;
	cursor:pointer;
}
.pls {
	background: url("../images/min-plus.png") no-repeat scroll 4px -12px transparent;
	height:13px;
	width:17px;
	cursor:pointer;
}
.bl-left{
float:left;
width:188px;
height:100px;
background:#f1f1f1;
margin-right:10px;
margin-bottom:12px;
position:relative;
	border: 1px solid #DDD;
}
.bl-right{
float:left;
width:138px;
height:100px;
background:#f1f1f1;
margin-right:10px;
margin-bottom:12px;
position:relative;
border: 1px solid #DDD;
}
.bl-left img,
.bl-right img {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	box-shadow1: 0 0px 7px rgba(0, 0, 0, 3);
}
/*
.bl-left:hover,
.bl-right:hover {
	box-shadow: 0 0px 7px rgba(0, 0, 0, 3);
}
*/
.no-hover {
	box-shadow: none !important;
}
/*
.img-bl-left{
width:188px;
height:100px;
display:block;
box-shadow: 0 0px 7px rgba(0, 0, 0, 3);
}
.img-bl-right{
width:138px;
height:100px;
box-shadow: 0 0px 7px rgba(0, 0, 0, 3);
display:block;
}
*/
.cl-kr {
	display: none;
	background: url("../images/btn-close-popup.png") no-repeat scroll 0 0 transparent;
	width:15px;
	height:20px;
	top:4px;
	right:-4px;
	position:absolute;
	cursor:pointer;
}
.bl-left:hover .cl-kr,
.bl-right:hover .cl-kr {
	display: block;
}

.btn-cp-pages{
margin:20px 0px;
}

.img-content:after, .btn-cp-pages:after, .info-search-cp:after{
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.img-content {
	padding-left: 10px;
}
.img-content,.btn-cp-pages,.info-search-cp{
zoom:1;
}
.right-pag-block{
float:right;
margin-right:66px;
}

.clear-this-page-btn1111111 {
	float:left;
    xbackground: url("../images/latest_img/submit.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;   
    width: 105px;
    height: 23px;
	color:#fff;
	cursor: pointer;
    font-size: 14px;
    font-family: FjallaOne-Regular;
	padding:9px 0px  0px 13px;
	background-image: -webkit-linear-gradient(top, #042761 0%, #02193d 100%); /* для Chrome и Safari */
    background-image: -moz-linear-gradient(top, #042761 0%, #02193d 100%); /* для Firefox */
    background-image: -ms-linear-gradient(top, #042761 0%, #02193d 100%); /* для IE 10+ */
    background-image: -o-linear-gradient(top, #042761 0%, #02193d 100%); /* для Opera */
    background-image: linear-gradient(top, #042761 0%, #02193d 100%); /* стандартный синтаксис */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33042761, endColorstr=#3302193d);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-transform:uppercase;
	margin:0px 20px 0px 40px;
}
.clear-this-page-btn111111:hover {
	background-image: -webkit-linear-gradient(top, #02193d 0%, #042761 100%); /* для Chrome и Safari */
    background-image: -moz-linear-gradient(top, #02193d 0%, #042761 100%); /* для Firefox */
    background-image: -ms-linear-gradient(top, #02193d 0%, #042761 100%); /* для IE 10+ */
    background-image: -o-linear-gradient(top, #02193d 0%, #042761 100%); /* для Opera */
    background-image: linear-gradient(top, #02193d 0%, #042761 100%); /* стандартный синтаксис */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3302193d, endColorstr=#33042761);
}

.clear-this-page-btn,
.clear-all-page-btn {
	float:left;
	cursor:pointer;
    xbackground: url("../images/latest_img/cancel.png") no-repeat scroll 0 0 transparent;    
    float: left;    
    margin-right: 6px;    
    width: 105px;
    height: 23px;
	color:#5b5b5b;
	text-transform:uppercase;
	padding:9px 0px  0px 13px;
	font:normal 14px/16px FjallaOne-Regular;
	color:#6d6d6b;
	border:1px solid #dcdcdc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(top, #fefefe 0%, #c7c7c7 100%); /* для Chrome и Safari */
    background-image: -moz-linear-gradient(top, #fefefe 0%, #c7c7c7 100%); /* для Firefox */
    background-image: -ms-linear-gradient(top, #fefefe 0%, #c7c7c7 100%); /* для IE 10+ */
    background-image: -o-linear-gradient(top, #fefefe 0%, #c7c7c7 100%); /* для Opera */
    background-image: linear-gradient(top, #fefefe 0%, #c7c7c7 100%); /* стандартный синтаксис */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33fefefe, endColorstr=#33c7c7c7);
}

.clear-this-page-btn:hover,
.clear-all-page-btn:hover {
	background-image: -webkit-linear-gradient(top, #c7c7c7 0%, #fefefe 100%); /* для Chrome и Safari */
    background-image: -moz-linear-gradient(top, #c7c7c7 0%, #fefefe 100%); /* для Firefox */
    background-image: -ms-linear-gradient(top, #c7c7c7 0%, #fefefe 100%); /* для IE 10+ */
    background-image: -o-linear-gradient(top, #c7c7c7 0%, #fefefe 100%); /* для Opera */
    background-image: linear-gradient(top, #c7c7c7 0%, #fefefe 100%); /* стандартный синтаксис */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33c7c7c7, endColorstr=#33fefefe);

}
.clear-this-page-btn {
	margin:0px 20px 0px 40px;
}

/* Tabs */

#tabs-pages.ui-tabs { 
	position: relative; zoom: 1; } 

#tabs-pages.ui-tabs .ui-tabs-nav { 
margin: 0;  padding:0px;
width:210px;
float:left;
}
@-moz-document url-prefix() {
       #tabs-pages.ui-tabs .ui-tabs-nav{height:31px;}
} 
@media screen and (-webkit-min-device-pixel-ratio:0) {
                      #tabs-pages.ui-tabs .ui-tabs-nav{height:31px;}
} 
#tabs-pages.ui-tabs .ui-tabs-nav li {
	 text-transform:uppercase;
	color:#5b5b5b;
	font:normal 13px/13px FjallaOne-Regular;
	border:1px solid #dcdcdc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float:left;
	text-align:center;
	padding:6px 1px 4px 1px;
	margin-right:3px;
	width:17px;
	list-style:none;
	outline:none !important;
 }
#tabs-pages.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	background-color: #EEE; 
}
.#tabs-pages.ui-tabs .ui-tabs-nav li:focus{
	outline:none !important;
}
#tabs-pages.ui-tabs .ui-tabs-nav li a {

	text-decoration: none;
	font:normal 13px/13px FjallaOne-Regular;
	color:#5b5b5b;
 }
#tabs-pages.ui-tabs .ui-tabs-nav li.last{
	margin:0px;
}

#tabs-pages.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	 cursor: pointer; 
	 color:#5b5b5b;
	outline:none !important;

 }
#tabs-pages.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	 cursor: pointer;
	 outline:none !important;
 } 
#tabs-pages.ui-tabs .ui-tabs-panel { 
	display: block; 
	border-width: 0;
	background: none; 
	padding-top:13px;
  }
  .page-system-alerts  .info-p{
  color: #797977 !important;
	font: normal 18px/22px ArchivoNarrow-Regular;
	padding:0px 0px 10px 0px;
	margin:0px !important;}
	
	.fieldMessAll textarea{
	border:1px solid #ced2d8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width:98.5%;
	height:70px;
	font:normal 13px/19px FjallaOne-Regular;
	box-shadow:inset 0px 3px 4px #ededed;
	padding:5px 0px 5px 15px;
	}
	
	.fieldMessAll .send-btn {
	border:none;
	background: url("../images/viol_btn.png") repeat-x scroll 0 0 #02193d; 
-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#fff;	
	cursor:pointer;
	width:90px;
	xheight:18px;
	font:normal 14px/15px FjallaOne-Regular;
	padding:7px 0px;
	display:block;
	float:right;
	margin:10px 0px 0px 0px;
	}
	.fieldMessAll .send-btn:hover{
	background: url("../images/viol_btn.png") repeat-x scroll 0 -26px #042761; 
	}
	.content-message-log {
	margin:50px 0px 0px 0px;
	}
	.content-message-log-title{
	font: normal 18px/20px ArchivoNarrow-Bold;
	color:#02183c;
	margin:0px 0px 6px 0px;
	}
	.content-list {
	box-shadow:inset 0px 1px 2px #ededed;
	border:1px solid #eff0f2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height:500px;
	padding:10px 15px 10px 20px;
	}
	.list-error {
	padding:0px;
	margin:0px;
	}
	.list-error li{
	border-bottom:1px solid #ebebeb;
	position:relative;
	list-style:none;
	font: normal 16px/20px ArchivoNarrow-Regular;
	color:#797977;
	padding:0px 0px 10px 0px;
	margin:0px 0px 13px 0px;
	}
	.list-error li b{
	font: normal 16px/20px ArchivoNarrow-Bold;
	}
	.message-error-time{
	position:absolute;
	bottom:0;
	right:0px;
	background:#f0f5fb;
	padding:2px 5px 5px 5px ;
	}
	.icon-shedule{
	background: url("../images/sprite.png") no-repeat  top left;
	padding:0px 10px 0px 23px;
	float:left;
	height:20px;
	font: normal 14px/20px ArchivoNarrow-Regular;
	color:#797977;
	}

	.icon-time{
	background: url("../images/sprite.png") no-repeat  0px -21px;
	padding:0px 0px 0px 23px;
	float:left;
	font: normal 14px/20px ArchivoNarrow-Regular;
	height:20px;
	color:#797977;
	}
	.message-error-info{
	width:595px;
	}
	.cp-col-left-other{
	float:left;
	width:50%;
	height:655px;
	overflow:auto;
	}
	.cp-col-right-other{
	float:left;
	width:50%;
	height:800px;
	}
	.titleSchedule{
	color:#797977;
	font: normal 22px/23px ArchivoNarrow-Bold;
	margin:0px 0px 20px 0px;
	}
	
	.select-sp{
	background: url("../images/border-blue.png") repeat-x  0px 10px;
	width:98%;
	color:#02183c;
	font: normal 18px/19px ArchivoNarrow-Bold;
	margin:0px 10px 8px 0px;
	}
	.select-sp span {
	background:#fff;
	}
	.formSchedule{
	
	}
input:focus, textarea:focus{
outline:none !important;
}	
#tabs-schedule {
margin:0px 0px 8px 0px;
}	
	#tabs-schedule.ui-tabs.ui-tabs-vertical {
    padding: 0;
    width: 41em;
}
#tabs-schedule.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
#tabs-schedule.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    float: left;
    width: 133px;
	margin:0px 0px 0px 0px !important;
	padding:0px!important;
   
}
#tabs-schedule.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    clear: left;
    width: 100%;
     overflow: hidden;
    position: relative;
    right: -2px;
    z-index: 2;
	outline:none !important;
}

#tabs-schedule.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:focus{
	outline:none !important;
}
#tabs-schedule.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    width: 100%;
    padding: 0em 1em 0.5em 0em;
	 text-decoration:none !important;
}
#tabs-schedule.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
#tabs-schedule.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
   
    padding-bottom: 0;
   
}
#tabs-schedule.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:last-child {
    margin-bottom: 10px;
}
#tabs-schedule.ui-tabs.ui-tabs-vertical .ui-tabs-panel {
    float: left;
    width: 392px;
	 -webkit-border-radius:3px 3px 3px  3px;
	-moz-border-radius: 3px 3px 3px  3px;
	border-radius: 3px 3px 3px  3px !important;
	border:1px solid #ebecec;
    background:#ebecec;
	height:117px;
    border-radius: 0;
    position: relative;
    left: -18px;
	z-index:10;
}


#tabs-schedule.ui-tabs.ui-tabs-vertical .ui-tabs-nav .ui-tabs-active a label {
    -webkit-border-radius:5px 0px 0px  5px;
	-moz-border-radius: 5px 0px 0px  5px;
	border-radius: 5px 0px 0px  5px;
	
 
	padding:3px 47px 3px 5px !important;
	background:#ebecec;
	
	
}

#tabs-schedule.ui-tabs.ui-tabs-vertical .ui-tabs-nav .ui-tabs-active a label {
  padding:0px 60px 10px 9px;
 
}
#tabs-schedule.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a  label{
   color:#797977;
   font: normal 17px/18px ArchivoNarrow-Regular;
    text-decoration:none !important;
	padding:0px 0px 3px 26px;
	width:40px;
	display:inline-block;
	background: url("../images/btn-checkbox.png") no-repeat  1px -25px;
	
	position:relative;
	z-index:50;
	}
		#tabs-schedule.ui-tabs.ui-tabs-vertical .ui-tabs-nav  a label span{
		padding:0px 0px 0px 5px;
	cursor:pointer;
	height:22px;
	display:inline-block;
	margin:0px 0px;
	line-height:23px;
	}
#tabs-schedule.ui-tabs.ui-tabs-vertical .ui-tabs-nav .ui-tabs-active a label {
    -webkit-border-radius:5px 0px 0px  5px;
	-moz-border-radius: 5px 0px 0px  5px;
	border-radius: 5px 0px 0px  5px;
	background: url("../images/btn-checkbox.png") no-repeat  1px 5px;
	padding:0px 0px 3px 25px !important;
	
	
	
	
}
	#tabs-schedule.ui-tabs.ui-tabs-vertical .ui-tabs-nav .ui-tabs-active a label span{
	background:#ebecec;
	padding:0px 69px 0px 5px;
	-webkit-border-radius:5px 0px 0px  5px;
	-moz-border-radius: 5px 0px 0px  5px;
	border-radius: 5px 0px 0px  5px;
	border:1px solid #ebecec;
	height:22px;
	display:inline-block;
	margin:0px 0px;
	line-height:23px;
	cursor:pointer;
	}

#tabs-schedule.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a 
.frst .jq-radio{
width: 24px;
}
.monthlyContent .jq-radio{
width: 14px;
	height: 19px;
	vertical-align: middle;
	cursor: pointer;
}
.jq-radio {
	width: 28px;
	height: 19px;
	vertical-align: middle;
	cursor: pointer;
}
.jq-radio div{
width: 18px;
	height: 17px;
	background: url("../images/btn-checkbox.png") no-repeat  1px -28px;
position:relative;
z-index:100;
	vertical-align: middle;
	cursor: pointer;
	padding:0px 10px 0px 0px;
}
.jq-radio.checked div {
	display: block;
	width: 22px;
	height: 17px;
	overflow: hidden;
	background: url("../images/btn-checkbox.png") no-repeat  1px 1px;
	
}
.jq-radio.focused {
	border: 1px solid #08C;
}
.jq-radio.disabled {
	opacity: 0.55;
	filter: alpha(opacity=55);
}

.dropable-item-hover {
	background-color: #CCC !important;
}

.dailyContent{
color:#797977;
   font: normal 17px/22px ArchivoNarrow-Regular;
   margin:3px 0px 0px 10px;
}
.yearlyContent {
color:#797977;
   font: normal 17px/22px ArchivoNarrow-Regular;
   margin:7px 0px 0px 10px;
}
.dailyContent input{
border:1px solid #ced2d8;
text-align:center;
color:#797977;
   font: normal 17px/20px ArchivoNarrow-Regular;
   padding:2px 3px 2px 3px;
   width:32px;
  -webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

}
.weekContent{
color:#797977;
   font: normal 17px/22px ArchivoNarrow-Regular;
   margin:3px 0px 0px 10px;
}
.dailyContent input,.weekContent input, .input-month{
border:1px solid #ced2d8;
text-align:center;
color:#797977;
   font: normal 17px/20px ArchivoNarrow-Regular;
   padding:3px 3px 3px 3px;
   width:32px;
  -webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: inset 0px 2px 2px #ededed;
}
.weekdays{
margin:8px 0px 0px 3px;
padding:0px;
overflow:hidden;
}
.weekdays li {
display:inline-block;
width:97px;
list-style:none;
float:left;
}

.weekdays .jq-radio {
	width: 18px;
	height: 19px;
	vertical-align: middle;
	cursor: pointer;
	margin-bottom:3px;
}
.weekdays .jq-radio div, .monthlyContent  .jq-radio div{
width: 18px;
	height: 14px;
	background: url("../images/btn-checkbox-small.png") no-repeat  1px -17px;
	
	vertical-align: middle;
	cursor: pointer;
	padding:0px 10px 0px 0px;
}
.weekdays .jq-radio.checked div,.monthlyContent .jq-radio.checked div  {
	display: block;
	width: 18px;
	height: 14px;
	overflow: hidden;
	
	background: url("../images/btn-checkbox-small.png") no-repeat  1px 1px;
}
.weekdays .jq-radio.focused {
	border: 1px solid #08C;
}
.weekdays .jq-radio.disabled {
	opacity: 0.55;
	filter: alpha(opacity=55);
}
.monthlyContent{
margin:5px 0px 0px 3px;
}
.monthlyContent span{
color:#797977;
   font: normal 17px/22px ArchivoNarrow-Regular;
}
.yearlyContent span{
color:#797977;
font: normal 17px/22px ArchivoNarrow-Regular;
}

.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
	top:-4px;
}
.jq-selectbox__select {
	height: 24px;
	padding: 2px 45px 0 7px;
	border: 1px solid #ced2d8;
	border-radius: 4px;
	-webkit-border-radius:4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-image: -webkit-linear-gradient(top, #ffffff 0%, #ebebeb 100%); /* для Chrome и Safari */
    background-image: -moz-linear-gradient(top, #ffffff 0%, #ebebeb 100%); /* для Firefox */
    background-image: -ms-linear-gradient(top, #ffffff 0%, #ebebeb 100%); /* для IE 10+ */
    background-image: -o-linear-gradient(top, #ffffff 0%, #ebebeb 100%); /* для Opera */
    background-image: linear-gradient(top, #ffffff 0%, #ebebeb 100%); /* стандартный синтаксис */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff, endColorstr=#33ebebeb);
	
	color:#797977;
   font: normal 17px/22px ArchivoNarrow-Regular;
}
.jq-selectbox__select:hover {
	
	background-image: -webkit-linear-gradient(top, #ebebeb 0%, #ffffff 100%); /* для Chrome и Safari */
    background-image: -moz-linear-gradient(top, #ebebeb 0%, #ffffff 100%); /* для Firefox */
    background-image: -ms-linear-gradient(top, #ebebeb 0%, #ffffff 100%); /* для IE 10+ */
    background-image: -o-linear-gradient(top, #ebebeb 0%, #ffffff 100%); /* для Opera */
    background-image: linear-gradient(top, #ebebeb 0%, #ffffff 100%); /* стандартный синтаксис */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ebebeb, endColorstr=#33ffffff);
}
.jq-selectbox__select:active {
	background: #F5F5F5;
	box-shadow: inset 1px 1px 3px #DDD;
}
.jq-selectbox.focused .jq-selectbox__select {
	border: 1px solid #5794BF;
}
.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #CCC;
	background: #F5F5F5;
	box-shadow: none;
	color: #888;
}
.jq-selectbox__select-text {
	display: block;
	width: 100%;
	xoverflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
	xborder-left: 1px solid #CCC;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 10px;
	height: 12px;
	overflow: hidden;
	
	background: url("../images/arrow_select.png") no-repeat  1px 0px;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
	opacity: 1;
	filter: alpha(opacity=100);
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
.jq-selectbox__dropdown {
	top: 28px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 1px solid #C6CBD0;
	border-radius: 4px;
	background: #FFF;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	font: 14px/18px Arial, Tahoma, sans-serif;
}
.jq-selectbox ul {
	margin: 0;
	padding: 0;
}
.jq-selectbox li {
	padding: 3px 8px 3px 8px;
	color: #231F20;
}
.jq-selectbox li.selected {
	background-color: #6ab0f6;
	color: #FFF;
}
.jq-selectbox li:hover {
	background-color: #adcff2;
	color: #FFF;
}
.jq-selectbox li.disabled {
	color: #AAA;
}
.jq-selectbox li.disabled:hover {
	background: none;
}
.jq-selectbox li.optgroup {
	font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.jq-selectbox li.option {
	padding-left: 25px;
}
#tabs-schedule:after{
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
#tabs-schedule{
zoom:1;
}

.input-calendar{
border:1px solid #ced2d8;
text-align:left;
color:#797977;
   font: normal 17px/20px ArchivoNarrow-Regular;
   padding:3px 3px 3px 3px;
   width:120px;
  -webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: inset 0px 2px 2px #ededed;
	margin-right:5px;
}
.ui-datepicker-trigger{
height:22px;
cursor:pointer;
}

#ui-datepicker-div{
    background-color: #f9ffff;
    z-index: 100 !important;
}
.formDateRange{

}
.formDateRange .frst{
width:115px;
color:#797977;
font: normal 17px/20px ArchivoNarrow-Regular;
padding:0px;
}
.formDateRange .scd{
padding:0px;
color:#797977;
 font: normal 17px/20px ArchivoNarrow-Regular;
 padding:0px 0px 7px 0px;
}
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none;
margin:-33px 0px 0px 151px;
 }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:0px;background:none !important; }
.ui-datepicker .ui-datepicker-next-hover { right:0px;background:none !important; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute;font-weight:bold;background:none !important; left: 50%; margin-left: -15px; top: 50%; margin-top: -8px;cursor:pointer;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.1em; line-height: 1.8em; text-align: center;font-weight:bold;font-size:14px; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 1px solid #ebebeb; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}
a.ui-state-hover{
background:#c3d9ff;
font-weight:bold;
}
.ui-datepicker-unselectable{
background:#f4f4f4;
opacity:0.8;
}
.submitForm {
	float:right;
    xbackground: url("../images/latest_img/submit.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;   
    width: 105px;
    height: 40px;
	color:#fff;
	cursor: pointer;
    font-size: 18px;
    font-family: FjallaOne-Regular;
	padding:0px;
	background-image: -webkit-linear-gradient(top, #042761 0%, #02193d 100%); /* для Chrome и Safari */
    background-image: -moz-linear-gradient(top, #042761 0%, #02193d 100%); /* для Firefox */
    background-image: -ms-linear-gradient(top, #042761 0%, #02193d 100%); /* для IE 10+ */
    background-image: -o-linear-gradient(top, #042761 0%, #02193d 100%); /* для Opera */
    background-image: linear-gradient(top, #042761 0%, #02193d 100%); /* стандартный синтаксис */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33042761, endColorstr=#3302193d);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-transform:uppercase;
	margin:130px 17px 0px 0px;
	border:none !important;
}
.submitForm:hover {
	background-image: -webkit-linear-gradient(top, #02193d 0%, #042761 100%); /* для Chrome и Safari */
    background-image: -moz-linear-gradient(top, #02193d 0%, #042761 100%); /* для Firefox */
    background-image: -ms-linear-gradient(top, #02193d 0%, #042761 100%); /* для IE 10+ */
    background-image: -o-linear-gradient(top, #02193d 0%, #042761 100%); /* для Opera */
    background-image: linear-gradient(top, #02193d 0%, #042761 100%); /* стандартный синтаксис */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3302193d, endColorstr=#33042761);
}

.inp{
 position: absolute;
    z-index: 1000;
    width: 23px;
    height: 40px;
    left: 0px;
    top: -8px;
    opacity: 0;
    cursor: pointer;
	margin:0px !important;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.cp-col-left-other .dnd-source, .vertical-list-container {
margin: 0;
padding: 0;
list-style: none;
}
.cp-col-left-other .dnd-source .section-info{
margin: 0px 8px 15px 8px;
padding-bottom: 20px;
width: 465px !important;
}

.cp-col-left-other .dnd-source .vertical-list-container .block-info-cp {
	padding:5px;
	border:1px solid #ecead4;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color:#f9f7de;
	overflow:hidden;
	width: 400px !important;
	opacity: .5;
}

.cp-col-left-other .dnd-source .vertical-list-container .block-info-cp .block-shortinfo-cp {
	width: 60%;
}

li.selected .block-info-cp {
    opacity: 1.0 !important;
}

.ui-draggable-disabled {
	opacity: .3;
}
.dnd-source,
.vertical-list-container {
	margin: 0;
	padding: 0;
	list-style: none;
}

.dnd-source .block-info-cp {
	margin-bottom: 10px;
}
.dnd-source .section-list {
	margin-left: 51px;
}
.ui-draggable-dragging {
	display1: inline-block;
}

.ui-draggable-dragging.block-info-cp {
	width: auto;
	margin: 0;
	padding: 0;
	border1: none;
	border-radius1: 0;
}
.dnd-destination .block-shortinfo-cp,
.ui-draggable-dragging .block-shortinfo-cp {
	display: none;
}

.dnd-destination .block-info-cp {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
}

.dnd-destination .block-info-cp:hover .cl-kr {
	display: block;
}
.dnd-destination .block-info-cp:hover {
	width1: 20px;
	box-shadow: 0 0px 7px rgba(0, 0, 0, 3);
	border: 1px solid #DDD;
}

