
.clear{
clear:both;
}
a{
color:#256c89;
}

/*****************parveen********************/

 @font-face 
{
    font-family:ArchivoNarrow-Regular;
    src: url(../css/ArchivoNarrow-Regular.ttf) format('opentype');
}
 @font-face 
{
    font-family:ArchivoNarrow-Bold;
    src: url(../css/ArchivoNarrow-Bold.ttf) format('opentype');
}
@font-face 
{
    font-family:FjallaOne-Regular;
    src: url(../css/FjallaOne-Regular.ttf) format('opentype');
}


.forgotpasdiv1
{
    float: left;
    width: auto;
    padding: 10px 5px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.forgotpasdiv2
{
    float: left;
    height: 50px;
    width: 150px;
}
.forgotpass
{
    padding: 40px 0 0px 60px;
    height: auto;
    width: auto;
}

.forgotpasword
{
    height: auto;
    width: auto;
    font-size: 20px;
    color: black;
    padding: 33px 10px 15px 60px;
}
.rightcontentmaindiv2
{
   height: auto;
   width: 606px;
   float:left;
   padding-top: 50px;
}
.register_name
{
    float: left;
    height: 50px;
    padding: 10px 0 0 4px;
    width: 49%;
}

.register_name_div1
{
    float: left;
    width: auto;
    padding: 10px 98px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.register_submit
{
    float: left;
    height: auto;
    width: 82px;
    padding-left: 217px;
}
.refresh_twiit
{
    float: left;
    height: 19px;
    text-align: right;
    width: 100%;
}
.facebook_connect
{
    float: left;
    cursor: pointer;
   height: 26px;
    width: 194px;
    /*background:  url("../images/connectwithfacebook.gif") transparent; */
}
.fac_a_con
{
    text-decoration: none;
}

.submits_login
{
    float: left;
    width: 86px;
    height: 30px;
}

.register_submitw
{
    float: left;
    height: 29px;
    width: 51%;
}

.register_name_div_first
{
    float: left;
    width: auto;
    padding: 10px 88px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.register_name_div_second
{
    float: left;
    width: auto;
    padding: 10px 51px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}

.register_name_div_secondii
{
    float: left;
    width: auto;
    padding: 10px 75px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.forgot_div_email
{
    float: left;
    width: auto;
    padding: 10px 120px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}

.forgot_div_reemail
{
    float: left;
    width: auto;
    padding: 10px 29px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.register_name_div4
{
    float: left;
    width: auto;
    padding: 10px 101px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}

.register_name_div5
{
    float: left;
    width: auto;
    padding: 10px 93px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.forgot_div_pas
{
    float: left;
    width: auto;
    padding: 10px 52px 2px 1px;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
}
.email_div_pas
{
    padding-right: 33px;
}



/**********************Message Section *****************************/
.main_inbox
{
    float: left;
    min-width: 100%;
    height: auto;
    color: #555555;
    background: none repeat scroll 0 0 #EFEFEF;
}

.navigation_side
{
    float: left;
    width: 145px;
    height: auto;
}
.navigation_side_ul
{
    float: left;
    height: auto;
    margin-left: 32px;
    margin-top: 38px;
    width: 24%;
}
.nav_div_a
{
    float: left; width: 103px; height: 43px; font-size: 21px;
}

.nav_a_con:hover
{
    text-decoration: none;
}
.content_inbox
{
    float: left;
    width: 760px;
    height: auto;
    margin-top: 28px;
}

.inbox_div
{   
    
    border: 1px solid #C9E0ED;
    height: auto;
    margin: 5px auto 0;
    width: 950px;   
}
.backgrounddiv
{
    background-color: white;
    border-color: #C9E0ED;
    border-left: 1px solid #C9E0ED;
    border-style: solid;
    border-width: 3px 1px 1px;
    float: left;
    height: auto;
    width: 100%;
}
.compose_div1
{
    float: left;
    height: 50px;
    margin-left: 30px;
    margin-top: 6px;
    width: 624px;
}

.compose_div2
{
    float: left;
    height: 50px;
    margin-left: 30px;
    margin-top: 6px;
    width: 624px;
}
.compose_div3
{
    float: left;
    height: 93px;
    margin-left: 30px;
    margin-top: 6px;
    width: 624px;
}
.menu_message
{
    float: left;
    padding: 9px 0 0 25px;
    width: 60px;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;   
    text-decoration: none;
}

.menu_messagediv1
{
        color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}
.menu_messagediv1:hover
{
    color: #6399cd;
    background-color:#EFF4FA;
    text-decoration:none;
   
}

.menu_messagediv2
{
    float: left;
    padding: 8px 0 0 23px;
    width: auto;    
}
.menu_messagediv3
{
    float: left;
    padding: 9px 0 0 0px;
    width: auto;    
}
.menu_messagediv5
{
    float: left;
    padding: 8px 0 0 0px;
    width: 115px;    
}
.mainmenudiv
{
    background:white url(bg.gif) repeat-x left top;
    height: 28px;
    width: 100%;
    margin-top: 20px;
}
.footerdiv
{
    height: 50px;
    width: 100%;
    float: left;
    border-top: 1px solid #C9E0ED;
    text-align: center;
    padding-top: 10px;
    font-size: 0.8em;
}
.menu_meslogout
{
    float: left;
    padding: 8px 0 0 0px;
    width: auto;    
}
.menu_mess_select
{
        color: #6399cd;
        background-color:#EFF4FA;
	font-size:12px;
	font-weight:bold;
        text-decoration:none;
	padding:5px 8px;
}

.menu_mess_select:hover
{
    text-decoration: none;
}
.menu_message_par
{
     float: left;
    padding: 8px 0 0 0px;
    width: 72px;
}
.connectionfacebook
{
    text-decoration: none;
}
.connectionfacebook:hover
{
    text-decoration: underline;
}
.userprofilemain
{
    height: auto;
    width: 100%;
    float: left;
}
.usernamediv2
{
    float: left;
    height: 30px;
    width: auto;
}
.usernamediv1
{
    float: left;
    height: 30px;
    width: 106px;
}
.usernamediv
{
    float: left;
    font-size: 17px;
    height: 50px;
    width: 45%;
}
.userprofilelower
{
    display: none;
    float: left;
    height: auto;
    width: 100%;
}
.mainouterdiv
{
    float: left;
    height: auto;
    width: 100%;
}
.outerdiv1
{
    float: left;
    height: auto;
    width: 410px;
}
.outer_show
{
    float: left;
    height: auto;
    width: 215px;
}
.list_name
{
    padding-left: 20px;
    height: 60px;
    min-width: 205px;
}
.list_name_div
{
    color: #256C89;
    float: left;
    font-size: 16px;
    height: 46px;
    padding-left: 10px;
    padding-top: 10px;
    width: 97px;
}

.list_image_div
{
    float: left;
    height: 42px;
    width: 72px;
}
.list_title_div
{
    border-top: 1px solid #434244;
    border-left:  1px solid #434244;
    
    float: left;
    height: auto;
    width: auto;
    margin-left: 21px;
    
}
.titlediv
{
    background-color: #95BCF2;
    border-right: 1px solid #434244;
    border-bottom: 1px solid #434244;
    float: left;
    height: 29px;
    text-align: center;
    width: 142px;
    word-wrap: break-word;
}
.title_other
{
    float: left;
    width: 100px;
    height: 30px;
    border-bottom: 1px solid #434244;
}
.list_title_div1
{
    float: left;
    height: 100px;
    width: 340px;
}

.listnew_title_div1
{
    float: left;
    height: 45px;
    width: 540px;
}
.list_image_div1
{
    float: left;
    height: 55px;
    width: 340px;
}

.list_lable
{
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0 85px 2px 1px;
    width: auto;
}
.name_lable
{
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0 74px 2px 1px;
    width: auto;
}
.image_lable
{
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0 75px 2px 1px;
    width: auto;
}
.listmaindiv
{
    float: left;
    height: auto;
    width: 500px;
}
.row_lable
{
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0 22px 2px 1px;
    width: 65px;
}
.coulmn_lable
{
    color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0 2px 2px 1px;
    width: auto;  
    
}

.row_textfild
{
    float: left;
    height: 45px;
    min-width: 125px;
}

.row_namefild
{
    float: left;
    font-size: 18px;
    height: 45px;
    margin-top: 21px;
    min-width: 125px;
    padding-left: 14px;
}

.addrowdiv
{
    float: left;
    width: 155px;
    height: 30px;
}
.addcoldiv
{
    float: right;
    width: 180px;
    height: 30px;
}

.validtitle
{
    display: none;
    float: left;
    width: 100px;
}
.invalidtitle
{
    display: none;
    float: left;
    width: 114px;
}
.lastadddiv
{
    color: red;
    display: none;
    float: left;
    height: 20px;
    padding-bottom: 25px;
    padding-left: 8px;
    width: 167px;
}
.lastcoldiv
{
    display: none;
    float: left;
    height: 20px;
    width: 173px;
    color: red;
}
.submitdiv
{
    float: left;
    height: 30px;
    width: 77px;
}

.list_row_div1
{
    float: left;
    min-height: 42px;
    width: 380px;
}
.list_coulmn_div1
{
    float: left;
    min-height: 42px;
    width: 406px;
}
.dynamicrow
{
    margin-left: 58px; margin-bottom: 13px;
}
.dynamiccol
{
    margin-left: 58px; margin-bottom: 13px;width: 140px;
}

.list_show
{
    float: left;
    height: 20px;
    width: 100px;
}
.textdecoration
{
    text-decoration: none;
}
.listtake
{
    height: 31px;
    padding-left: 11px;
    width: 90px;
    float: left;
}
.outer_see_list
{
    float: left;
    height: auto;
    width: auto;
    margin-bottom: 20px;
}
.maintable
{
    float: left;
    height: auto;
    width: auto;
}
.column_div
{
    border-bottom: 1px solid #434244;
    border-right: 1px solid #434244;
    height: 37px;
    padding: 0;   
    width: 157px;
    text-align: center;
    word-wrap: break-word;
    padding: 0;
}
.row_div
{
    border-bottom: 1px solid #434244;
    border-right: 1px solid #434244;
    height: 37px;
    padding: 0;
    text-align: center;
    width: 157px;
    word-wrap: break-word;
    padding: 0;
}

.tablediv
{
    height: auto;
    width: auto;
    margin-bottom: 0px;
}
.latest_image
{
    float: left;
    height: 55px;
    width: 85px;
}
.latest_title
{
    float: left; height: 30px; width: 50px;
}
.latest_title_div
{
    word-wrap: break-word; height: auto; min-width: 100px; float: left;
}
.outer_latest_title
{
    float: left; height: auto; width: auto;
}
.outer_latesttitle_div
{
    float: left;height: auto;width: 195px;
}
.img_outer
{
    float: left; height: auto; width: 90px;
}
.outerdiv11
{
    float: left;
    height: auto;
    width: 300px;
}
.titlete_textfild
{
    background-color: #95BCF2;
    min-height: 30px;
    min-width: 73px;
    text-align: center;
    word-wrap: break-word;
}

#myTable td 
{
    border: 1px solid;
    padding: 0;
    width: 15%;
}

.flashcontact
{
    float: left;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    width: 100%;
}
.outer_see_list_other
{
    float: left;
    height: auto;
    width: auto;
    margin-bottom: 20px;
    padding-left: 20px;
}
.requretitle
{
    color: red;
    display: none;
    float: left;
    padding-left: 6px;
    width: 120px;
}
.email_submit
{
    float: left;
    height: 30px;
    padding-left: 160px;
    padding-top: 20px;
    width: 16%;
}
.cancel_email
{
    float: left;
    margin-top: 21px;
}
.invite_messdiv1
{
    float: left;
    width: 400px;
    height: auto;
}
.invite_messdiv2
{
    font-size: 16px;
    height: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.cursorpointer
{
    cursor: pointer;
}
.floatright
{
    float: right;
}
.floatleft
{
    float: left;
}
.messge_invi_enter
{
    float: left; width: 135px;
}
.display_invi
{
    display: none;
    width: 100%;
    height: auto;
}
.thoftable
{
    background: none repeat scroll 0 0 #5EA2CA;
    color: white;
    border: 1px solid white;
}
.widthauto
{
    float: left;
    height: auto;
    width: 100%
}
.totollist_filter
{
    float: left;
    width: 330px;
}
.totollist_filter_div1
{
    float: left;
    padding-right: 38px;
}
.totollist_filter_div3
{
 width: 126px;   
}



/************Controll Pannel *********************/


.contrllpannel_login
{
    float: left;
    font-size: 35px;
    height: 50px;
    text-align: center;
    width: 90%;
}
.outer_div_login
{   
    text-align: center;
    width: 38%;    
}
.login_email_cp
{
    float: left;
    padding-right: 88px;
}
.login_password_cp
{
    float: left;
    padding-right: 56px;
}
.div1_login
{
    float: left;
    height: 35px;
    width: 72%;
}
.login_div_remeber
{
    float: left;
    margin-right: 47px;
    width: auto;
}
.submit_login
{
    float: left;
    cursor: pointer;
}
.error_email_cp
{
    float: right;
    width: 162px;
     color: red;
    font-size: 0.9em;
}
.error_password_cp
{
     color: red;
    float: left;
    font-size: 0.9em;
    padding-left: 105px;
    width: 200px;
}
.createads_div1
{
    color: #797977;
    float: left;
    font-family: ArchivoNarrow-Regular;
    font-size: 18px;
    height: 30px;
    width: 100%;
}

.serach 
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #CED2D8;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 37px;
    margin-right: 10px;
    width: 245px;
}
.search_icon {
    float: left;
    height: 37px;
    margin-top: 8px;
    padding-left: 5px;
    width: 25px;
}
.input_searchads
{
    border: 0 none;
    color: #565656;
    font-style: normal;
    height: 31px;   
    width: 209px;
}

.or {
    color: #797977;
    float: left;
    font-family: FjallaOne-Regular;
    font-size: 15px;
    line-height: 34px;    
    width: 26px;
}
.createadd_div
{
    float: left;
    height: 40px;
    width: 150px;
}
.inputype_createad
{
    cursor: pointer;
    padding: 5px 10px;
}
.clearboth
{
    clear: both;
}
.adsouterdiv
{
    color: #797977;
    float: left;
    font-family: ArchivoNarrow-Regular;
    font-size: 17px;
    height: auto;
    width: 100%;
}
.leftDiv
{
    float: left;
    height: auto;
    margin-bottom: 10px;
    width: 60%;
}
.rightDiv
{
    float: left;
    height: auto;
    width: 40%;
}
.createadd_div1
{
    float: left;
    height: 45px;
    width: 100%;
}
.companyname_div2
{
    float: left;
    height: auto;
    width: 137px;
    color: #797977;
    font-family: ArchivoNarrow-Regular;
    font-size: 17px;
}
.inputtype_company
{
     height: 25px;
     width: 170px;
}
.leftdivimage
{
    float: left;
    border: 2px solid #CED2D8;
    margin: 0 3px 6px;
    padding: 3px;
    z-index: 1000;
}
.leftdivimage11
{
    float: left;
    border: 2px solid #CED2D8;
    margin: 0 3px 6px;
    padding: 3px;
    z-index: 1000;  
}
.imagdiv_left
{
    height: 80px;
    width: 125px;
    cursor: pointer;
}
.uploadimage_div
{
    float: left;
    height: 123px;
    width: 100%;
}
.oldimage_update
{
    border: 2px solid #CED2D8;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 100px;
    margin-right: 30px;
    width: 130px;
}
.newimage_update
{
    border: 2px dotted #CED2D8;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 100px;
    width: 200px;
}
.companyname_totalads
{
    float: left;
    height: 26px;
    width: 100%;
}
.companyname_text_totalads
{
    float: left;
    height: 45px;
    width: 100%;
}
.comapnnm_textbx
{
    height: 25px;
    width: 370px;
}
.savebutton_outer
{
     float: left;
    height: 35px;
    width: 92%;
}
.cancelbtn_totalads
{
    float: left;
    height: 30px;
    width: 100px;
}
.savebtn_totalads
{
    float: right;
    height: 30px;
    width: 62px;
}
.dragimg
{
    float: left;
    font-size: 15px;
    padding-top: 25px;
    text-align: center;
    width: 100%;
}

#dropbox {
	width: 200px;
	height: 100px;
	border: 2px dashed #DDD;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background-color: #FfF;
	text-align: center;
	float: left;
	
}

#progressbar {
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
	top: 75%;
}

#droplabel {
	position: relative;
	top: 28%;
}
.imageonupload
{
    height: 100px;
    width: 130px;
}
.imagefile_totalads
{
    height: 94%;
    margin-left: -8px;
    margin-top: -32px;
    opacity: 0;
    width: 100%;
}
.leftdivimage_noadd
{
     margin-left: 230px;
    margin-top: 145px;float: left;
}
.noadds_totalads
{
    color: red;
    float: left;
    margin-top: 150px;
    text-align: center;
    width: 100%;
}
.leftDiv_left
{
    float: left;width: 60%;height: auto;
}
.leftdiv_inner
{
    float: left;
    min-height: 200px;
    /*overflow: auto;*/
    width: 95%;
}
.div_official_page
{
    float: left;
    height: auto;;width: auto;margin-bottom: 20px;
}
.div_official_page1
{
    float: left;
    height: 480px;;width: auto;margin-bottom: 20px;
}
.bigimage
{
    background-color: #FFFFFF;
    border: 2px dashed #DDDDDD;
    float: left;
    height: 100px;
    margin-bottom: 15px;
    margin-right: 13px;
    width: 210px;
}
.smallimage
{
    background-color: #FFFFFF;
    border: 2px dashed #DDDDDD;
    float: left;
    height: 100px;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 170px;
}
.rightDiv_official
{
    float: left;
    height: auto;
    width: 40%;
    margin-top: 75px;
}
.title_officialPage
{
    float: left;
    height: auto;
    margin-left: 5px;
    margin-right: 10px;
    width: 126px;;
}
.outerdiv_listdiv
{
    float: left;
    height: auto;
    width: 285px;
}
.titlediv_page
{
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    word-wrap: break-word;
}
.imagelist_div
{
    height: 100px;width: 210px;
}
.imageads_div
{
    height: 100px;width: 170px;
}
.title_color
{
    color: #797977;
    text-decoration: none;
}
.nolistfound
{
     float: left;
    margin-bottom: 50px;
    margin-left: 230px;
    margin-top: 50px;
}
.noadds_listfound_official
{
    color: red;
    float: left;
    margin-top: 80px;
    text-align: center;
    width: 100%;
}
.message_drop
{
    float: left;
    margin-bottom: 15px;
    width: 100%;
    color: red;
    height: 19px;
}
.imagelist_div_new
{
    height: 100px;width: 210px;
}
.minussign_officialpage
{
    border: 2px solid;
    float: left;
    text-align: center;
    width: 34px;
    margin-right: 3px;
    cursor: pointer;
}
.minus_outer_official
{
    float: right;width: 111px;
}
.center_div_ads
{
    float: left;
    padding-top: 40px;
    text-align: center;
    width: 100%;
}










